[2020-03-14 17:07] SomeMoosery opened #3 "Decide on MVP for our IPR"
There's been a lot of great discussion around what we want to build, and I want to get as much of these suggestions and ideas built as we possibly can. But, the intent is to have an IPR (Initial Public Release) by Monday 3/16 or early next week. I think to get to that point, we should decide on one definitive feature we want fully fleshed-out and working well. That way (correct me if I'm wrong @te

[2020-03-14 17:16] SomeMoosery opened #4 "Decide on Tech Stack"
Once we have an idea decided upon, we need to decide upon a tech stack (these could technically be done in parallel as well). So far, the consensus seems to be around:

**Frontend:** React

**Backend:** serverless via Blockstack, Django, Express/Node

**Database:** Blockstack Radisk (need to read into this myself but seems like Mongo), Mongo, PostGIS (Postgres extension - I'm not sure many people

[2020-03-14 17:16] sedmo commented on #3
I think 2 seems like it would require having a large amount of people using it which would involve more costs and for it to be more polished. #1 seems like it can grow organically.

[2020-03-14 17:56] SomeMoosery commented on #3
Good point! Yeah, I think that's especially important since we're going to hack this together and grow it over the next couple of days / however long we do this

[2020-03-14 18:38] SomeMoosery commented on #3
So, the route that seems most logical is going with the symptom/well-being monitoring tool for our first bit of functionality - the first thing we want to have done to say "we have this and can release it."

At the great suggestion of @BrianHHough we'll have various tabs for additional functionality with a "Coming Soon" overlay until the symptom/well-being tracker is completed (the resource mappin

[2020-03-14 18:38] #3 closed

[2020-03-14 18:40] SomeMoosery commented on #4
Since time is of the essence here, I think we should settle on building a React app on the Blockstack platform (using things like Gaia, Radiks, etc). I haven't worked with Blockstack before, but it seems like a great solution for going serverless (aside from AWS/Azure which people may grow skeptical of in an increasingly-paranoid time) and seems to plug in extremely easily with React.

I'm persona

[2020-03-14 18:40] #4 closed

[2020-03-14 18:49] SomeMoosery opened #5 "Update README to reflect first steps, tech stack"
Update the README in order to reflect discussion from previous issues and in the Discord.

- What our tech stack is
- The main feature we want to complete for our IPR early next week

Reformat the README in order to emphasize the things we're working on and de-emphasize the things that come after the IPR.

[2020-03-14 18:51] SomeMoosery opened #6 "Create landing page design"
We want to have a baseline landing page design for this application so we know where to build things off of.

[2020-03-14 18:52] SomeMoosery opened #7 "Create UI flows for health log functionality"
In order to develop this application for an IPR smoothly, we should have flows/wireframes for navigating through the health log functionality of the app.

[2020-03-14 18:53] SomeMoosery opened #8 "Initialize the project with a fresh create-react-app project"
As a baseline for the dev side of things, we want to initialize this project with a clean `create-react-app` template, and incrementally build off of that.

[2020-03-14 18:56] SomeMoosery opened #9 "Map out core models of the health log"
In order to clearly define the scope of what we're building, the core features of this health log need to be mapped out and some lower-level details need to be defined.

- What data we need from users and how we'll be storing it

[2020-03-14 18:57] BrianHHough commented on #6
Thanks @SomeMoosery! I'm on it!

[2020-03-14 18:59] SomeMoosery opened #10 "Create landing page in React"
The landing page needs to be created in React as per the design laid out (right now just in Discord, we should add these design docs in a directory in this repo somewhere perhaps)

[2020-03-14 20:11] SomeMoosery opened #12 "Establish connection with Blockstack"
On the frontend, we want to establish a connection with Blockstack.

This requires a little bit of discovery on how to use Blockstack and what's necessary for our app, but for now just a working POC should be good.

[2020-03-14 20:13] SomeMoosery opened #13 "Set up Gaia/Radiks database"
Once a connection with our SPA and Blockstack is established, we need to connect to Radiks in order to start persisting data to Gaia.

[2020-03-14 20:26] BrianHHough commented on #6
![CORONATRACKER UI - #1](https://user-images.githubusercontent.com/56947075/76689858-85e35700-6610-11ea-874b-88f25ba244a8.png)

[2020-03-14 20:35] #6 closed

[2020-03-14 20:47] tesla809 commented on #13
We can ask @chancelorb with help on that. he set up this cool project: https://github.com/chancelorb/my-block-space

[2020-03-14 20:48] tesla809 commented on #10
Use the assets in /design created by @BrianHHough.

[2020-03-14 20:48] #8 closed

[2020-03-14 20:49] tesla809 commented on #5
Looking good so far. @tesla809 will add answer to TD;LR for FAQs section.

[2020-03-14 21:05] tesla809 opened #14 "Create Calendar component as per mock up in design directory"
**Task**
Use the mockup in the design directory to create a separate component for the calendar.

**What done looks like**
We have a Calendar.js component in /components.
We have a .css file to style the Calendar.js component in /css.

**Design considerations**
We have decided to use regular CSS files to keep things simple for now. This allows for more contributors and less time to upskill to cont

[2020-03-14 21:57] tesla809 opened #15 "Create NavBar Component"
Task
Use the mockup in the design directory to create a separate component for the NavBar.
In the design directory its called Tab Bar.

What done looks like
We have a NavBar.js component in /components.
We have a NavBar.css file to style the NavBar.js component in /css.

Design considerations
We have decided to use regular CSS files to keep things simple for now. This allows for more contributors

[2020-03-14 22:03] tesla809 opened #16 "Create Diagnostic Container Component"
**Task**
Use the mockup in the design directory to create a Diagnostic container component called DiagnosticContainer.js

This is the component that is below the Calendar component in design/wireframes/CORONATRACKER UI - #1.png

**It will hold four sub-components:**
1) The chart to track temperature over time -> Chart.js
2) Average Temperature display -> Temperature.js
3) Toggle between symptoms a

[2020-03-14 22:10] tesla809 opened #17 "Create Chart.js Sub-Component for DiagnosticContainer.js"
**Task**
Use the mockup in the design directory to create a chart to track temperature over time called Chart.js.

This will be a sub-component of DiagnosticContainer.js as per design/wireframes/CORONATRACKER UI-#17
See issue #16.

**What done looks like**
Find a suitable package to use and style like mockup. Use the one you think is best.
Add comments to explain code.
We have a Chart.js component

[2020-03-15 00:37] tesla809 opened #22 "Create the Temperature.js sub-component for DiagnosticContainer.js"
**Task**
Use the mockup in the design directory to create a component that houses the Average Temperature display, called Temperature.js

This will be a sub-component of DiagnosticContainer.js as per design/wireframes/CORONATRACKER UI - #17

**What done looks like**
Add comments to explain code.
We have a Temperature.js component in /components.
We have a Temperature.css file in /css to style the

[2020-03-15 00:45] tesla809 opened #23 "Create the ToggleInfo.js sub-component for DiagnosticContainer.js"
**Task**
Use the mockup in the design directory to create a component that toggles between Symptoms.js and Temperature.js, called ToggleInfo.js.

This will be a sub-component of DiagnosticContainer.js as per design/wireframes/CORONATRACKER UI-#17

**What done looks like:**
Add comments to explain code.
We have a ToggleInfo.js component in /components.
We have a ToggleInfo.css file in /css to style

[2020-03-15 00:57] tesla809 opened #24 "Create LoadingScreen.js component Loading Screen view"
Task
Use the mockup in the design directory to create a Loading Screen View for App called LoadingScreen.js

See: design/wireframes/CORONATRACKER UI-#1.png

It will have the logo in the /design directory.

**What done looks like**
We have a LoadingScreen.js component in /components.
We have a LoadingScreen.css file to style the Diagnostic.js component in /css.

**Design considerations**
We have de

[2020-03-15 04:17] tesla809 commented on #14
@akilhylton create Calendar.js and test using react-calendar@3.0.0.

Will import into App.js and style up.

[2020-03-15 04:17] jchen42703 commented on #15
I want to give this a go. It won't be completely done until all of the other views are made.

[2020-03-15 04:33] tesla809 commented on #15
@jchen42703 Try giving it a go. @dinadeljanin is working on it now.

I will create an issue for creating the login component which you can create separately. Then we can import it.

[2020-03-15 04:42] tesla809 opened #27 "Create login component called Login.js for the Login view"
**Task**
Use the mockup in the design directory to create a component for the login view called Login.js.

See the following for the design/wireframes/CORONATRACKER UI-#1

**What done looks like:**
1) See if you can find a component that already handles this online. If so, just import it, and figure out how to style it in Login.css like the mock up.
2) Add comments to explain code if necessary
3)

[2020-03-15 05:45] SomeMoosery commented on #27
Hey, unless any progress has been made with this - can I take this over as it ties in with my story about a connection with Blockstack? I’ve already made a dummy ‘Login.js’ in order to do so. If someone’s already committed something, let’s chat tomorrow and see what we can do

[2020-03-15 05:49] tesla809 commented on #27
Sweet have at it @SomeMoosery since it works well with Blockstack task you are doing. I will assign it to you to avoid any blocking. @jchen42703 can work on issue #23.

[2020-03-15 06:07] tesla809 opened #29 "Create weeklyTracker.js container component"
**Task**
Use the mockup in the design directory to create a `weeklyTracker.js` container component.

See the following for the `design/wireframes/CORONATRACKER UI-#1`
This component is the container component that holds the sliders which show "You said you felt x/10 today". It is below the Calendar.

`weeklyTracker.js` will hold four `dailyTracker.js`.

**What done looks like:**
1) See if you can

[2020-03-15 06:24] tesla809 opened #30 "Create dailyTracker.js sub-component for weeklyTracker.js"
**Task**
Use the mockup in the design directory to create a `dailyTracker.js` sub-component for `weeklyTracker.js`

See the following for the design/wireframes/CORONATRACKER UI-#1
This component is the sliders which show "You said you felt x/10 today". It is below the Calendar.

`weeklyTracker.js` will hold the four `dailyTracker.js` components. One for the last four days.

**What done looks like:

[2020-03-15 06:27] tesla809 commented on #17
resolved by @akilhylton

[2020-03-15 06:27] #17 closed

[2020-03-15 16:08] BrianHHough commented on #7
Updating these as I go.

LOGIN SCREEN:
![CORONATRACKER UI - Login Screen](https://user-images.githubusercontent.com/56947075/76705338-b5986a80-66b5-11ea-89c3-a18e0654c7a5.png)

[2020-03-15 20:19] tesla809 opened #32 "Create views for Doctor's dashboard"
Create views for Doctor's dashboard. @BrianHHough is taking care of mocks ups.

[2020-03-15 20:43] tesla809 opened #33 "Create css theme style based on wireframe design, called themePalette.css"
**Task**
Create base css theme style based on the wireframe. The colours are listed below.
See the app brand guide in [brand guide](https://github.com/COVID-19-electronic-health-system/Corona-tracker/tree/master/design).

**Theme palette:**
CORE COLORS
Red: #f64141
Dark-Grey: #2c2c2c
Light-Grey: #aaaaaa
Off-White: #ebebeb
White: #ffffff

SLIDING SCALE
Selected-Red: #f64141
Unselected-Grey: #b8b8b8

[2020-03-15 21:29] #15 closed

[2020-03-15 21:30] #12 closed

[2020-03-15 22:01] tesla809 commented on #15
Wooohooo!

[2020-03-16 00:00] sedmo opened #38 "Navbar either not showing up or showing up not as designed"
The Navbar component is not functioning as expected probably because of conflicts with CSS in bootstrap. Will need to be refactored so it matches the expected design.

**Task:**
Refactor navbar to appear as intended design

**What done looks like:**
It matches the design located at the footer of in /design/wireframes/ CORONATRACKER UI - Login Screen.png

[2020-03-16 00:46] #27 closed

[2020-03-16 01:21] #5 closed

[2020-03-16 01:42] #33 closed

[2020-03-16 01:42] tesla809 commented on #33
Great job @jchen42703 !

[2020-03-16 03:19] sedmo opened #42 "login screen should not have navbar"
the functionality for the user to do things like talk to the doctor cannot be done if they are not logged in. WIll need to change by removing or disabling user only features.

You can use the map or settings but cannot use the health log or the talk to a doc feature.

[2020-03-16 03:22] sedmo commented on #42
There can be a future distinction between user specific features and more generic ones.

Settings, map, and news are not user specific whereas health log and talk to a doc are.

[2020-03-16 03:25] SomeMoosery commented on #42
Are you seeing the navbar in the login screen running locally now? Or just in the wireframe? I agree that some features should be available without authentication with Blockstack, but for the time being I hadn't added in the NavBar to the login page unless someone else did or something got messed up?

[2020-03-16 03:27] sedmo opened #43 "Discussion - create seperate databases for patient-related data from other data?"
All HIPAA related data should be block-stack related

Whereas data in **news** is covid19-tracker wide

and then **maps** is geolocation wide

and finally **settings** is saved by cache

Will need a further discussion where data is discussed especially in regards to geolocation data

[2020-03-16 03:29] tesla809 commented on #42
Na, it's not in the code running locally. The issue I think is related to the wireframe.

[2020-03-16 03:30] tesla809 commented on #42
Code is looking great so far though @SomeMoosery

[2020-03-16 03:35] SomeMoosery commented on #43
Agree that HIPAA-related data can (is currently being worked on) and will be in Blockstack storage using Gaia and Radiks to query.

With regards to news and maps - what kind of data do you think we'll need to be storing ourselves here? I was thinking we could potentially store the users' coordinates in a cookie for faster loads, but other than that I feel like all news and geolocation information

[2020-03-16 03:39] SomeMoosery opened #44 "Discuss Deployment Methodology"
So I've had a few ideas regarding this, and I'm adding this issue as a Long-Term Change for when the time comes. At a certain point, we'll want to bring this application live, and need a good way to do that. I'm a fan of AWS and have my Certified Solutions Architect certificate (although I got it a while back, and am definitely not super experience with building distributed systems from scratch my

[2020-03-16 03:39] sedmo commented on #30
will need the bar image that belongs on the far left side

[2020-03-16 03:45] tesla809 commented on #44
Amazon sounds good to me. They have great support and will probably donate credits to us. And if you are certified to do it, then let's go with that. Easier to deploy.

[2020-03-16 03:50] BrianHHough commented on #30
Hey @sedmo: the bar image is here as SVG and PNG: "Calendar_Three-Lines.png/.svg" here: https://github.com/COVID-19-electronic-health-system/Corona-tracker/tree/master/client/src/img

[2020-03-16 04:26] jmsmdy opened #45 "Mathematical Modeling of Disease"
It's often possible to mathematically model the spread of a disease given a few parameters. It might be helpful to use this to give a risk assessment to people based on their geographic location and other data we collection about the disease. More information about the basics of mathematically modeling disease spread can be found [here](https://en.wikipedia.org/wiki/Mathematical_modelling_of_infec

[2020-03-16 13:31] SomeMoosery opened #48 "Create and Use Database Models with Radiks"
Once we establish a Radiks connection, the next step would be to create and start utilizing user, doctor, and symptom models so we can start dynamically creating views.

We should at least loosely decide on how we want to model our data ([this ticket](https://github.com/COVID-19-electronic-health-system/Corona-tracker/issues/9)) before I go about making these models with Radiks. Feel free to add c

[2020-03-16 19:51] roychowd commented on #10
Anyone working on this? Also, in React or React Native?

[2020-03-16 19:59] SomeMoosery commented on #10
Hey Roy! I had created this issue a while back, when we were first laying the groundwork for this product. As it stands now, the landing page is going to be made up of a bunch of components we've made / are making based off of the mockups/wireframes by @BrianHHough in `/design/wireframes/corona_tracker_landing_page.png`.

It looks like we're getting close to having all the components in place to s

[2020-03-16 20:40] tesla809 commented on #10
@roychowd check out #16 and its sub-issues. A great place to start that needs some help.

[2020-03-16 20:52] tesla809 opened #49 "3/17/20 @ 6:30pm- Meeting with Dr. Jigna Zatakia- Assistant Professor in Pulmonary Critical Care Medicine at Baylor College of Medicine"
Details here:
Meeting with Dr. Jigna Zatakia- Assistant Professor in Pulmonary Critical Care Medicine at Baylor College of Medicine
https://www.linkedin.com/in/jigna-zatakia-2734b333/

Topic: Coronatracker <> Dr. Jigna Zatakia
Time: Mar 17, 2020 06:30 PM Eastern Time (US and Canada)

Join Zoom Meeting
https://us04web.zoom.us/j/789835902

Meeting ID: 789 835 902

One tap mobile
,,789835902# US Toll

[2020-03-16 20:56] tesla809 opened #50 "3/17/20 @ 1:30pm Project overview with Flatiron School alums to get front end help"
3/17/20 @ 1:30pm Project overview with some Access Labs, Flatiron School alums to get front end help.

See:
https://wework.zoom.com/j/5921238737

[2020-03-16 20:59] johnemurphy1 commented on #50
ok if i join this call?

[2020-03-16 21:08] SomeMoosery commented on #50
Unfortunately can't join this call as it's during my work hours. @johnemurphy1 I'm sure that would definitely be useful - the more help and input, the better!

[2020-03-16 21:20] ngiangre opened #51 "Possible opportunity"
Hi everyone, I've been watching your developments over the last few days and I have to say remarkable teamwork! There is considerable efforts being done to study the COVID-19 outbreak. At Columbia where I reside, the biomedical informatics department is hard at work to support the NYP-hospital system. Also, the Observational Data Science and Informatics consortium leverages real world data in a st

[2020-03-16 21:51] tesla809 commented on #51
Can you do some investigation and write up a draft to communicate with them @ngiangre

[2020-03-16 21:53] ngiangre commented on #51
Sure

Cheers,

Nick

From: Anthony Albertorio <notifications@github.com>
Reply-To: COVID-19-electronic-health-system/Corona-tracker <reply@reply.github.com>
Date: Monday, March 16, 2020 at 5:52 PM
To: COVID-19-electronic-health-system/Corona-tracker <Corona-tracker@noreply.github.com>
Cc: Nick Giangreco <nick.giangreco@gmail.com>, Mention <mention@noreply.github.com>
Subject: Re: [COVID-19-electro

[2020-03-16 21:56] SomeMoosery commented on #51
Wow - that's awesome Nick! Glad to see that our progress is being recognized! I can't speak for a group opinion, but I'm certainly excited about the prospect!

[2020-03-16 22:01] tesla809 opened #52 "Create UI view for maps feature"
**Task**
Create a UI view of the map feature of the app.
Add to /designs

**Questions to consider:**
What information will it provide?
What information will it need?
This will help with database decisions.

**What done looks like:**
1) We have a view that outlines how the maps features will look like.
2) It will outline what functionalities it will have

[2020-03-16 22:02] tesla809 opened #53 "Create a UI view of the Setting feature of the app."
**Task**
Create a UI view of the setting feature of the app.
Add to /designs

**Questions to consider:**
What information will it provide?
What information will it need?

**What done looks like:**
1) We have a view that outlines how the maps features will look like.
2) It will outline what functionalities it will have

[2020-03-16 22:12] tesla809 opened #54 "Configure Chart.js component with dummy data to look like mockup"
**Task**
Configure Chart.js component with dummy data to look like the mockup
See  [wireframe](https://github.com/COVID-19-electronic-health-system/Corona-tracker/blob/master/design/wireframes/CORONATRACKER%20UI%20-%20Login%20-%20Logged%20In%20Home%20page.png).

**Questions to consider:**
What information will it provide?
What information will it need?
This will help with database decisions.

**Wh

[2020-03-17 00:24] SomeMoosery opened #55 "Implement Git Hygiene Practices"
As this project grows and the number of contributors increases, it's important to create a set of guidelines regarding how we use git and GitHub in order to maintain relative order.

Regarding git, we'll cover things such as
- branch naming conventions
- squashing commits before merge
- commit messages
- etc...

Regarding GitHub, we'll cover things such as
- PR formatting
- Branch rules
- etc...

[2020-03-17 00:48] salvolpe opened #56 "Discussion – Translations"
Hello all, I want to use this thread to pool our translating resources together so that we can provide as many options as we have available for the app when the time comes to translate.

I have a relative proficiency in French and Italian, with comprehensive skills in Spanish. None of these are my first language.

Please comment below your comfort with languages other than English and definitely n

[2020-03-17 01:02] jchen42703 commented on #38
I'll take a look at this

[2020-03-17 03:03] #13 closed

[2020-03-17 03:30] sedmo commented on #30
how will the user interact to get to the actions for dailytracker ? (hover, click) @BrianHHough

[2020-03-17 03:39] BrianHHough commented on #30
I was thinking of hover, click for desktop or tap/pulldown for mobile. Does that make sense to you too? I imagined like you'd click on the day and then something would pull down from the bottom of the calendar. or you'd pull the bar to the right to interact with that day or set of days.

[2020-03-17 03:40] BrianHHough commented on #32
![CORONATRACKER UI-List_Patients-InfoCard](https://user-images.githubusercontent.com/56947075/76819758-8b42cc00-67df-11ea-8174-ff2edd668c49.png)
![CORONATRACKER UI-List_Patients](https://user-images.githubusercontent.com/56947075/76819762-8bdb6280-67df-11ea-8b20-8365263ed563.png)

[2020-03-17 03:41] #32 closed

[2020-03-17 03:42] BrianHHough commented on #7
![CORONATRACKER UI - Health Log - My Log](https://user-images.githubusercontent.com/56947075/76819841-c8a75980-67df-11ea-9e1c-d0a10883914d.png)

![Uploading CORONATRACKER UI - Health Log - Show Me More.png…]()

[2020-03-17 03:43] BrianHHough commented on #7
![CORONATRACKER UI - Symptom Screen](https://user-images.githubusercontent.com/56947075/76819886-eeccf980-67df-11ea-9a08-26f47437d536.png)

[2020-03-17 03:44] #7 closed

[2020-03-17 03:45] ngiangre opened #59 "Testing front-middle-back end communication"
Y'all ready to start a mock survey and recording user data, storing it, and then populating charts?? I can help with survey design, data models, and chart population within components. I just need a developer and a database person to help me figure out how to be the "middle man" and prototype/launch stuff.

[2020-03-17 03:54] SomeMoosery commented on #59
I was actually just typing out a message into Discord when you sent this in. I've been working on setting up a serverless backend and database connection on the Blockstack platform (my [current issue](https://github.com/COVID-19-electronic-health-system/Corona-tracker/issues/48) is actually fleshing out the models for storing/retrieving user data since I've just recently set up a auth with Blockst

[2020-03-17 04:21] SomeMoosery commented on #9
So, @ngiangre brings up a good point in [this issue](https://github.com/COVID-19-electronic-health-system/Corona-tracker/issues/59) regarding populating charts with mock data. I think as we continue to set up a lot of the scaffolding with the UI, backend, and database, we should consider moving forward with two action items:
1. Piecing together these separate UI components in order to start formin

[2020-03-17 04:25] SomeMoosery commented on #59
In terms of populating data, we are also only running this application locally right now. Therefore, in order to populate the charts, we'd probably have to have some kind of script to create and populate collections on app startup. That shouldn't be too difficult with React, but just something to keep in mind for the time being.

[2020-03-17 05:09] roychowd commented on #16
@tesla809  thanks for redirecting me! I'll get on it.

[2020-03-17 12:59] ngiangre commented on #59
Conversation from discord: Hey @Carter I'm going to respond to the issue on data model/analytics. 1) I'm hesitant to have the app show individual level data because of privacy concerns (one can be more easily identifiable). 2) The app you shared on modeling covid exp. growth is honestly not helpful it's giving an upper bound to how bad things can get with infection rates but it doesn't tell ppl wh

[2020-03-17 13:00] ngiangre commented on #59
Hey @SomeMoosery I'll check out that comment. I agree let's hop on a call after the startup/MD calls so we have a better idea what to mock up.

[2020-03-17 13:09] ngiangre commented on #9
Thanks @SomeMoosery  for the detailed points. One thought: We can't give doctors more on their plate. We can make their normal workflow easier potentially, but we can't add another thing to their workflow. That's why, for any healthcare/MD feature, we need understand healthcare workers potential needs, mock up the suggested needs, and then try to partner with a healthcare system that could use thi

[2020-03-17 13:55] SomeMoosery commented on #9
Very good point - as a software engineer in finance, I'm certainly no expert on the ins and outs of the healthcare space lol. I'm hoping the call tonight will provide some more clarity on how we can best help healthcare professionals (if we can at all, and if not perhaps we take a different route).

I think, if anything, this has helped us defined the scope that our public release should perhaps j

[2020-03-17 17:15] tesla809 commented on #54
@pavel-ilin is working on the sub-component. If you take #16 make you will replace the dummy component with what @pavel-ilin is working on.

[2020-03-17 17:15] tesla809 commented on #16
@pavel-ilin is working on the sub-component for this. See #54.

[2020-03-17 18:20] tesla809 opened #61 "Break up designs into components and create issues"
**Tasks**
Break up designs into components and create issues

**What does done look like**
1) We have a series of issues that looks at each view, identifies components.
2) If a component looks like it has sub-components, create an separate issue for the sub-component. The main component will be a container component. Link both the issues.

**Questions**
If you have any questions, please comment on

[2020-03-17 18:27] tesla809 commented on #50
@johnemurphy1 Everyone is welcomed! for sure! Thanks for joining!

[2020-03-17 18:28] #50 closed

[2020-03-17 18:53] tesla809 opened #62 "Create CONTRIBUTING.MD to help onboard developers"
**Task**
Create CONTRIBUTING.MD to help onboard developers

**What done looks like**
1) Create CONTRIBUTING.MD in root
2) Mention workflow to understand the project
3) Link to README.md
4) Add ideas from issue #55
5) Add roles of different people like: design, backend/systems, front end, documentation, analytics, analytics...etc.
6) Use Github's suggested CONTRIBUTING.md standards found in
7) Make

[2020-03-17 18:58] tesla809 opened #63 "Create RESOURCES.MD to help onboard developers"
**Task**
Create RESOURCES.MD to help onboard developers

**What done looks like**
1) Create RESOURCES.MD in root
2) Links RESOURCES.MD to README.md and CONTRIBUTING.md
3) Breaks up resources for devs to lookup by tech: Front-End, Backend, Blockstack, Design, Analytics etc.

[2020-03-17 20:30] tesla809 commented on #56
Help needed for:
Chinese Mandarin
Italian
Farsi (Persian)
Spanish (I can do this one)
French
Hebrew
Arabic
Portuguese
Russian
Hindi

Any others?

[2020-03-17 20:30] tesla809 commented on #56
We also need to figure out a way to deliver the right language for people, depending on their preference? How do we store it?

Any ideas?

[2020-03-17 20:47] salvolpe commented on #56
I think that we could consider the option that was offered by dgreen899 in Discord: https://www.codeandweb.com/babeledit

I think that it would be best to keep working on the translations.md file as a reference point and then throw any of those things into BabelEdit. We'd just need whoever wants to tweak the React code to make it comply with this program to do so and we can start throwing the tran

[2020-03-17 20:49] salvolpe commented on #56
If this doesn't exactly resolve the preference issue, maybe its a local variable that needs to be stored. I haven't looked through BabelEdit in its entirety.

[2020-03-17 20:58] hmalik88 opened #66 "Some thoughts regarding the application"
1. For this to really take off the whole nation needs to be on the app. What's the incentive to be on the app as opposed to just watching the news and staying clear of pockets of high infection. What's the plan to get people on board at scale?
2. Who's the target audience? Essential workers in sectors such as healthcare, transportation etc? Most people are in self-quarantine right now and WFH so t

[2020-03-17 21:11] AdhamAH commented on #56
I can help with Arabic, there is Dutch also which is not my mother language as Arabic but I speak it too and can help

[2020-03-18 00:59] SomeMoosery commented on #49
[Notes from Call](https://docs.google.com/document/d/1u_DLPah3SuENQZa9MUJBPKNPeOGK1_MGKrY2TazEN80/edit) - feel free to add to this!

[2020-03-18 00:59] #49 closed

[2020-03-18 01:23] BrianHHough opened #71 "Unhandled Rejection (LoginFailedError): Failed to login: Existing user session found"
<img width="1047" alt="Screen Shot 2020-03-17 at 9 20 31 PM" src="https://user-images.githubusercontent.com/56947075/76915933-54c78880-6895-11ea-9ab3-427a4af601f4.png">

Hey @SomeMoosery, i created a blockstack id, it was registered successfully, then i tried login with the login and got this error. Just wanted to flag. Everything else is looking great though!

[2020-03-18 02:02] SomeMoosery commented on #42
Closing this as the UI for Login doesn't have the nav bar

[2020-03-18 02:02] #42 closed

[2020-03-18 02:05] SomeMoosery commented on #38
Is this good to be closed? @jchen42703

[2020-03-18 03:49] nathanboone opened #73 "Collecting user data through Progressive Profiling"
Hey Team,

In order to elicit users to share information about themselves, I've used Progressive Profiling, a feature for forms, where new questions appear for returning users who've completed the form prior.

As we think about how to garnish data, without overloading the user, let's consider 3 or 4 sets of questions that could be rotated as users engage with the app.

A description can be found h

[2020-03-18 03:56] nathanboone commented on #66
Hey hmalik88,

**This app has two value propositions**
1.   For Users: Aggregate, credible up-to-date information translated into Spanish or Arabic, as well as a one-stop shop for English speakers to find everything they need on prevention (air, surface, etc.) spread (infections reporting and connecting to screening apps)

2.   For Public Health Officials: Aggregate, macro-view of patients PRIOR t

[2020-03-18 04:01] SomeMoosery commented on #66
Great points, Nathan! I'm just commenting as a remind to edit this comment with a few additional points / updates tomorrow. Mainly, after a call with a pulmonary doctor this evening, that we decided targeting already-overwhelmed public health officials who are unlikely to trust the information we collect until we reach scale and are HIPPA-compliant is out of scope.

Will comment with more details

[2020-03-18 12:19] givonz commented on #56
I can do the Hebrew

[2020-03-18 13:27] johnemurphy1 commented on #16
Hi, looks like Pavel has the Chart.js sub-component in hand. I'll tackle the temp.js and toggle.js sub-components.

[2020-03-18 14:33] pavel-ilin opened #75 "Redux setup"
**Task**
Setup basic Redux

- Create folder "redux" in the root directory of the app

- Create reducer.js and add action example
- Create actions.js and add action function example
- Create store in the index.js and wrap App.js in Provider component
- Add dummy data to the store and access it through hooks in the ChartJs.js component

**Note on the React routs with Redux**:
In order to avoid routi

[2020-03-18 14:39] johnemurphy1 commented on #22
Question on the average temperature. Is that taking the temperatures tracked on Chart.js, for example, and calculating a number or will it be pulling from somewhere else?

[2020-03-18 17:01] SomeMoosery commented on #43
Going to close this for the time being after the call with Dr Zatakia led us to change direction again, and we won't be worrying about HIPPA-compliance for now.

Because of this, we can associated all relevant data with each Blockstack user, at least for the time being.

[2020-03-18 17:01] #43 closed

[2020-03-18 17:08] tesla809 opened #77 "Stand Ups suggestions"
Suggestion:

To track progress, should we do stand-ups, every two days at nights?
What time after 6pm EST work for the team?

Standups are used in software development teams to keep everyone in synch.
Different teams summerize their progress, questions, comments and concerns.
Each team debriefs on what has gone on during the day or previous day.
They state any blockers (things that are preventing

[2020-03-18 17:31] jchen42703 commented on #38
@SomeMoosery Yeah

[2020-03-18 17:32] #38 closed

[2020-03-18 17:43] SomeMoosery commented on #22
My guess is that we'll have a database entry `temperature: Number` that will store the temperature of a specific user for each "checkup" they complete (each time they fill out the form).

I'll leave implementation details up to the those assigned to both `Chart.js` and this ticket, as there's many ways to go about this. I haven't dug too deeply into how you're all implementing the UI code, but I'd

[2020-03-18 19:03] tesla809 opened #78 "Grant for project"
**The due date is 2 days from now.**
**Due:** Friday, March 20 at midnight
**Winner:** Monday, March 23.

**Micro-grant:** $5,000

**About:** The grant is for $5000 and can be spent for just about any activity that helps inform the public.

**Info:**
This Call for Proposals is open to the general public and an affiliation to Columbia or Stanford is not required. Proposals should follow strict CDC

[2020-03-18 19:13] ngiangre commented on #78
@SomeMoosery can you and others get me some UI images to possible include and a description of already implemented and projected features by tonight?

[2020-03-18 19:13] ngiangre commented on #78
@nathanboone as well?

[2020-03-18 19:18] tesla809 opened #79 "Create Modify ToggleHealthLogInfo.js for CORONATRACKER UI - Health Log View"
**Task**
Use ToggleInfo.js component and pass props to the component that toggles between **My Health Log** and **Show Me More**.
**See:** [CORONATRACKER UI - Health Log - Show Me More.png](https://github.com/COVID-19-electronic-health-system/Corona-tracker/blob/master/design/wireframes/CORONATRACKER%20UI%20-%20Health%20Log%20-%20Show%20Me%20More.png)

**What done looks like:**
1) Add comments to

[2020-03-18 19:33] tesla809 opened #80 "Create Table.js with React-Bootstrap's Table component to display dummy data from CORONATRACKER UI - Health Log - Show Me More.png"
**Task**
Create Table.js with React-Bootstrap's Table component to display dummy data from CORONATRACKER UI - Health Log - Show Me More.png
Use either react-bootstrap's [table component](https://react-bootstrap.github.io/components/table/)
**See:** [CORONATRACKER UI - Health Log - Show Me More.png](https://github.com/COVID-19-electronic-health-system/Corona-tracker/blob/master/design/wireframes/CO

[2020-03-18 19:39] tesla809 commented on #78
@BrianHHough can help with UI images.

[2020-03-18 20:05] lukelin1991 commented on #61
can I suggest maybe a form that breaks up into 2 subforms, 1 with pre-reqs? (are you smoker? diabetic, age, etc. etc.) and 2 (regular daily-"how are you?", record temperature, short description on how you're feeling) that'll append into possibly a calender for a (per day) reading?

[2020-03-18 20:07] tesla809 commented on #61
Yup! @lukelin1991 What do you think @BrianHHough .

We will need to get info related to pre-existing conditions, so we need a view for that as well.

[2020-03-18 20:10] tesla809 commented on #61
@lukelin1991 check out the [designs](https://github.com/COVID-19-electronic-health-system/Corona-tracker/tree/master/design) and comment where you would like to see it.

[2020-03-18 20:16] lukelin1991 commented on #61
@tesla809 i think in the designs wise, seems like a lot is going on.  out of curiosity, how adamant are we in regards of keeping the wireframed UI the way it is?

[2020-03-18 20:20] lukelin1991 commented on #61
in my mind, i see "Talk to Doc", and "map" as a V2, or V3 part of the project.
i'd say a simple app that gives you recommendations in blurbs instead of "news" would be something more warm and welcoming.
and a "feeling Log" to track how you're doing. with a calendar.

[2020-03-18 20:21] salvolpe opened #81 "March 26th - Webinars Concerning Coronavirus"
**Here is the link to register for the webinar:**
https://ehealthinitiative.zoom.us/webinar/register/WN_Py1oNxobRhqWLoUyP4q2FQ

With wide-scale responses underway by countries to counter the coronavirus’ spread, the use of technologies such as Artificial Intelligence (AI) may prove to be vitally important now and in the future.

The US health system at the brink of operating at above capacity and

[2020-03-18 20:26] tesla809 commented on #81
@ngiangre @akilhylton @SomeMoosery @renegmed @BrianHHough Any interest?

[2020-03-18 20:29] ngiangre commented on #81
Honestly I think we have a good idea of what our MVP is based on our zoom call yesterday so I wouldn't attend since I don't think we'll learn anything more. But I can be wrong. Someone should def attend though to be sure!

[2020-03-18 20:38] tesla809 commented on #78
**Goal:**
To create a progressive web application that is accessible by the internet. The app will be a registry to help doctors track the symptoms of large amounts of patients real-time with self-reported data using a dashboard.

We hope to reduce the number of unnecessary visits to hospital emergency rooms and encourage CDC and WHO guidelines.

**Our target population are:**
1.  Cellphone users

[2020-03-18 20:45] SomeMoosery commented on #81
Unfortunately don't think I'd be able to join as it's during work hours, but I'll see if I can fit it into my schedule and at least listen in!

[2020-03-18 21:12] tesla809 commented on #78
please add in more.

[2020-03-18 22:49] BrianHHough commented on #81
I'm in the same boat as @SomeMoosery but maybe there will be a recording of the webinar that we can listen to later?

[2020-03-18 22:52] dinadeljanin commented on #16
For the temperature section
<img width="744" alt="Screen Shot 2020-03-18 at 18 48 23" src="https://user-images.githubusercontent.com/32048693/77014593-0c69a280-6949-11ea-9314-13e012a8fc5f.png">

I was thinking that it would be awesome to increase the width of the chart,  and we can move the "Average Temperature" to sit either above or beneath the temperature itself.

[2020-03-18 23:02] tesla809 commented on #24
@SomeMoosery is loading screen necessary? Would login screen be enough ?

[2020-03-18 23:19] tesla809 opened #82 "Create Slider.js component"
**Task**
Create Slider.js component.
See the following for the [design.](https://github.com/COVID-19-electronic-health-system/Corona-tracker/blob/master/design/wireframes/CORONATRACKER%20UI%20-%20Symptom%20Screen.png)

It is the slider in the view.

**What done looks like:**
1) You created the Slider.js component as per the instruction above.
2) Add comments to explain code if necessary.
3) We hav

[2020-03-18 23:26] tesla809 opened #83 "Create CheckboxButton.js component"
**Task**
Create **CheckboxButton.js** component.
See the following for the [design.](https://github.com/COVID-19-electronic-health-system/Corona-tracker/blob/master/design/wireframes/CORONATRACKER%20UI%20-%20Symptom%20Screen.png)

It is the checkbox in the view.

**What done looks like:**
1) You created the CheckboxButton.js component as per the instruction above.
2) Add comments to explain code i

[2020-03-19 00:07] ngiangre commented on #78
I created an account for submission. I'll draft this locally (so as to add references) but I'll add the draft to this gdoc https://docs.google.com/document/d/15i7vBDCFqGHCf3B-D9Miw0_3I1M6_rn3v4fzA1PAAK4/edit?usp=sharing

[2020-03-19 00:21] ngiangre commented on #78
I hope everyone is cool is I tone down language about the app serving doctors and clinics directly per the call yesterday and the suggestion to calm public nerves and give accurate information to also reduce traffic to hospitals and exposure.

[2020-03-19 00:56] SomeMoosery commented on #78
Sorry for the late response on this - I've been setting up a simple QA environment so we can all start adding/manipulating/etc the same hosted data and not locally-mocked data. I just opened the doc and it's blank - nothing's weird on my end right? You just haven't posted it there yet?

Just a few quick thoughts I had that I'll add here.
- I've never written a proposal like this before, so maybe t

[2020-03-19 00:59] SomeMoosery commented on #24
So depending on how we want to do this - I'd say we maybe don't need a full loading page, but we'll need some sort of loading animation or something. Currently, while Blockstack authenticates the user, there's like 1-2 seconds after clicking "sign in" on the Blockstack authentication page where the user is directed back to CoronaTracker's sign-in page before the auth completes and the page changes

[2020-03-19 01:50] SomeMoosery commented on #10
Closing this, as "Landing Page" is a little too vague and I think we have more issues surrounding this that make more sense.

[2020-03-19 01:50] #10 closed

[2020-03-19 01:50] tesla809 commented on #10
Agreed

[2020-03-19 02:17] ngiangre commented on #78
Thanks @tesla809 and @SomeMoosery! I finished a draft. I think we need to cut out about 100 words roughly and make our implementation and grant need more succinct. Any comments would be appreciated! https://docs.google.com/document/d/15i7vBDCFqGHCf3B-D9Miw0_3I1M6_rn3v4fzA1PAAK4/edit?usp=sharing

[2020-03-19 02:25] SomeMoosery opened #86 "Create Education Collection"
After the call with Dr Zatakia last evening, we want to initially aim this app primarily at education. A good point made by a few collaborators on the call was that we should generate a few "fun" facts about Coronavirus - that is, facts and suggestions aimed to simply calm and inform users, not aggravate an already highly-stressful situation.

[A list of educational points](https://docs.google.com

[2020-03-19 02:43] SomeMoosery opened #87 "Ensure MONGODB_URI environment variable is always set in QA EC2 Instance"
As it stands now, if the EC2 instance running our Radiks server for our QA environment goes down, even if it spins back up, it will fail to connect the Radiks server to our MongoDB cluster as the `MONGODB_URI` will un-set.

We need to develop a way to set `MONGODB_URI` on EC2 startup **before** we spin up the Radiks server.

If you pick this ticket up, reach out to me @SomeMoosery (Carter Klein on

[2020-03-19 02:45] SomeMoosery commented on #16
I'll work on simply filling the full screen with this component as well as better positioning the "sign out" button

[2020-03-19 02:52] SomeMoosery opened #88 "Create Checkup/Survey Model"
In `client/models/`, we need to create a Checkup data model for each checkup or survey associated with a CoronaTracker user.

**Acceptance Critera:**
- There is a new model in `client/models/` outlining what a checkup/survey will look like in the database

**Notes:**
- May require some discovery and finalization with regards to what information we'll be gathering. This can be incremental, though -

[2020-03-19 02:58] SomeMoosery opened #89 "Populate QA environment with mocked checkup data"
In order to start rendering out UI components with "real" mocked data (data that isn't user-generated, but is being pulled from a distributed database), we need to add some test data to the MongoDB cluster in our QA environment.

The steps to do this would be to create a Blockstack account and simply edit `App.js` (or another file that runs every time the site loads) and add some JavaScript code t

[2020-03-19 04:18] SomeMoosery commented on #22
Closing as #85 created the component with a default value. I'll open a new ticket for getting this data associated with each user from the database now that we have the scaffolding merged into master

[2020-03-19 04:18] #22 closed

[2020-03-19 04:22] SomeMoosery opened #91 "Update Temperature subcomponent with user data"
Edit `Temperature.js` component in order to get the average temperature of all checkups the signed-in user has completed.

**Acceptance Criteria:**
- Flow should be the user signs in with Blockstack, and is then able to see their average temperature over all their completed checkups
- Data is pulled from QA environment for the logged-in user
- Any addition of `Temperature.js` to another component

[2020-03-19 05:09] janetmndz commented on #83
@tesla809 May I take a crack at this one?

[2020-03-19 05:13] tesla809 commented on #83
Yup! have at it!

[2020-03-19 05:29] tesla809 opened #92 "Rename ChartJS.js to Chart.js"
Quick fix to rename ChartJS.js to Chart.js in /components

[2020-03-19 09:57] friedger commented on #78
The current draft reads more like support for marketing campaign of WHO/CDC pages. The problem is clear, but the solution is too vague, in my opinion. More focus on the survey.

[2020-03-19 10:02] friedger opened #93 "Use connect.js lib instead of blockstack.js"
connect.js library simplifies the on-boarding a lot.

[2020-03-19 10:07] friedger opened #94 "Add style guidelines"
something like prettier

[2020-03-19 11:30] friedger commented on #91
The data is expected from the container in this solution: https://github.com/friedger/Corona-tracker/commit/c97ca57f2e717a9acff951c94226b80f47b22b30

[2020-03-19 11:33] friedger commented on #89
What is the data model for the stored data? Currently, there is only `Patient`.

[2020-03-19 12:26] givonz commented on #78
Professionally speaking, a grant proposal is supposed to include;

A Problem
Your Solution
What your solution will cost
How effective your solution will be.
    - How it will reduce cost
    - How it will speed up the process
    - How it will make the process better
Who's doing this?
    - What are their credentials.

Reading some of the comments, it's a bit unclear to me, what the problem being

[2020-03-19 12:31] givonz commented on #78
Add Hebrew to the list of languages.

Use action words for the goal.  No "hope".  The app "will" do whatever.

[2020-03-19 12:55] ngiangre commented on #78
Thanks @givonz and @friedger! Feel free to directly edit - here's an edittable link https://docs.google.com/document/d/15i7vBDCFqGHCf3B-D9Miw0_3I1M6_rn3v4fzA1PAAK4/edit?usp=sharing.

We need to start the CV/resume draft. Here's an edittable link:  https://docs.google.com/document/d/1aXutktBGqYkSSHNQzACXNgop7_EpcewlGfSdBwks_co/edit?usp=sharing. So far we have:

Team:
Front End Developers:
Anthony A

[2020-03-19 13:42] SomeMoosery commented on #94
I agree, it's been something I've been meaning to look into but I've kept pushing it off. I see your PR out and I'm a fan of prettier as well, I'll just hold off for just a little bit to get a group consensus.

Anyone else have any opinions?

[2020-03-19 14:06] SomeMoosery commented on #93
Are you saying we don't utilize blockstack? At this point, at least for an MVP, we've kind of set up a good amount of scaffolding for it so to get it out the door I'm thinking we should stick with Blockstack, but if I'm missing context feel free to fill me in.

The choice to go with Blockstack was to have both a serverless backend and to protect data privacy (we, nor AWS/Azure/GCP have the ability

[2020-03-19 14:19] salvolpe commented on #81
I hope there is a recording ¯\_(ツ)_/¯

[2020-03-19 14:21] salvolpe commented on #81
Alternatively, there is a different webinar discussing Italy and Germany's responses:

http://pages.himss.org/dR0GVnTVMQ0Wg00LK3530Z0

[2020-03-19 14:27] SomeMoosery commented on #89
So #88 deals with creating a checkup/survey/whatever-you-want-to-name-it model translating to a MongoDB collection of checkups/surveys/etc the user completes. Something like:

**Checkup:**
[code]

It'll require some discussion and finalization with the group to come up with a kind of "MVP" data model for this as we've been posting a lot of great articles about how to format this survey, but haven'

[2020-03-19 14:38] salvolpe commented on #78
@ngiangre I think that having people fill in as they can is the best we can do as the team keeps growing daily haha

[2020-03-19 14:40] ngiangre commented on #78
Yes @salvolpe I agree anyone that can edit/revise go right ahead!

[2020-03-19 15:06] ngiangre commented on #77
I agree! Short, simple, but effective. Is the meeting at 630pm tonight happening?

[2020-03-19 16:29] tesla809 commented on #93
Yea, some more description around the PR is needed @friedger

This is a major change to the design, so some description of benefits is needed.

The MVP is predicated on using [Blockstack](https://docs.blockstack.org/storage/overview.html), at least for now. We can add additional sign-in methods, but to avoid any HIPPIA issues, we choose Blockstack to decentralize the data so the user controls it.

[2020-03-19 16:30] tesla809 commented on #94
Agreed. It's needed.

[2020-03-19 16:33] tesla809 opened #97 "Draft Email to Full Stack Academy for solicit help- Can be used by others to look for recruits"
Full-stack academy of code email
**Please edit if you like.**
 
Hi David,

Hope all is well with you, your family and your students.
 
Currently, the team from New York Health Artificial Intelligence Society (NYHAIS) and I are creating an application to help with the COVID-19 epidemic.
 
NYHAIS is a New York State non-profit dedicated to the improvement of healthcare with technology. This pandemic

[2020-03-19 16:39] ngiangre commented on #97
looks good! Change railed to rallied.  If there's an influx of people, do you have a sufficient contributing document?

[2020-03-19 17:06] friedger commented on #93
The repo for connect is https://github.com/blockstack/ux/tree/master/packages/connect
It is improved UI for Blockstack

[2020-03-19 17:15] SomeMoosery commented on #97
Fleshing out a contributing doc is definitely something high on my priority list, at least 👍

[2020-03-19 17:18] SomeMoosery commented on #93
Oh, nice, I hadn't seen this before. I'll do some looking into it but I feel like it could definitely be worth integrating!

[2020-03-19 17:59] tesla809 opened #98 "Skype Call with Johnathan Tarpy-CEO of virgilant.com @6:30pm for 15 mins"
Respiratory health startup. The purpose is to exchange info on analytics and overview of problem.

see:
https://www.linkedin.com/in/jonathan-tarpy-44b21823/
www.virgilant.com

Join Microsoft Teams Meeting
https://teams.microsoft.com/l/meetup-join/19%3ameeting_MzkwZTdjZTQtY2RlYy00MTlkLWI3NGUtZTkzNmUwZWQ1ZjBk%40thread.v2/0?context=%7b%22Tid%22%3a%22b71cde4b-9351-491e-84b3-4dca9d03c8c4%22%2c%22Oid%22

[2020-03-19 18:14] tesla809 opened #99 "7:30pm EST- Zoom call with Noémie Elhadad PHD- Biomedical Informatics @ Columbia University"
Dr. Noémie Elhadad
Associate Professor in Biomedical Informatics
Affiliated with Computer Science
Data Science Institute
Columbia University

She is heading the development of an app at New York-Presbyterian Hosptial.
Their app is wanting to release surveys as well: Behavioural and symptoms

However, research has not started soon enough.
They use traditional software so might be good to show what

[2020-03-19 18:21] friedger commented on #78
Here is a document for resumes:
https://docs.google.com/document/d/1w6I2T3mscTQjk2KgpeOkXXUC-7hxsfXdABFIaCeYFX4/edit#

[2020-03-19 19:09] tesla809 commented on #78
Added bio to document.

[2020-03-19 19:34] tesla809 commented on #78
edited and added information to grant proposal. @BrianHHough we need to add images of mockups to application. Each view needs its own image and to describe the workflow.

@SomeMoosery would we need to add the graphics you created for out database models so far? Thoughts on that?

@ngiangre @givonz @friedger What do ya'll think?

[2020-03-19 19:36] ngiangre commented on #78
FYI The proposal is one page (we can have images in a figure be on another page but that's it). And one page for a CV/Resume.

[2020-03-19 19:37] tesla809 commented on #78
Aaa we might need to edit and shrink down then.

[2020-03-19 19:40] SomeMoosery commented on #78
So as it stands now, the backend models are pretty simple as Blockstack abstracts away a lot of the backend/API work we'd otherwise need to handle ourselves - so I'm not sure how much of a use that would be. Plus, our current state is certainly going to change quite a bit as we move towards an end state.

I've been meaning to draft out a production-ready first draft for the architecture I think we

[2020-03-19 19:57] #94 closed

[2020-03-19 20:16] tesla809 commented on #78
Sounds good to me! Let's keep it simple for now then. @SomeMoosery

[2020-03-19 20:24] SomeMoosery commented on #91
I like the look of this a lot! I hadn't even thought about `Temperature.js` being class-based when it should be functional. Want to make a PR for it?

[2020-03-19 20:54] jchen42703 opened #100 "Unhandled Rejection (TypeError): First argument must be a string, Buffer, ArrayBuffer, Array, or array-like object."
__To reproduce:__
Follow the normal installation with MongoDB and radiks but with yarn:
[code]
I also get this error when I just do:
[code]
__Traceback:__
[code]
I'm running MongoDB on windows. I think this is an issue on my end because radiks opened on `http://localhost:1260/` and React opened on `http://localhost:3000/`. Will update as I double check my MongoDB installation paths and environment

[2020-03-19 21:25] SomeMoosery opened #101 "Create and Implement Semantic Versioning Guideline"
Prior to V2, we need to implement, moving up to our beta release.

## Overview

A simple implementation of semantic versioning for the frontend is to update the version in `/client/package.json`. We are currently at 0.1.0. Any tweak, styling change, test added, etc should update the third decimal (ex: making flashcards prettier would move 0.1.12 -> 0.1.13). Any majors changes (new components added

[2020-03-19 22:03] #62 closed

[2020-03-19 22:46] friedger commented on #100
This is usually an indication that User.createWithCurrentUser was not called (I think)

[2020-03-19 23:22] friedger commented on #93
These are the changes to use connect.js : https://github.com/friedger/Corona-tracker/commit/8f230249b4eddd6e351ae060fee7530133b69d3d

I am happy to prepare a pull request

[2020-03-20 01:04] SomeMoosery commented on #93
PR would be great! Said the same on your comment as well 👍

[2020-03-20 01:14] SomeMoosery opened #104 "Add `.github` directory to `.gitignore`, update commit history"
Task

I know It's generally bad practice to "rewrite history," but we should add `.github` to our `.gitignore`, and then see if there's a way to remove it from future commits and get it out of our commit history (or at least make it "invisible" publicly)

[2020-03-20 01:39] SomeMoosery commented on #48
Closing for now, as this was vague and has been split up into other tickets

[2020-03-20 01:39] #48 closed

[2020-03-20 01:41] SomeMoosery commented on #9
Closing this - for the time being, it seems that there won't be too much to persist to a database - really just information pertinent to each checkup a user completes. Can open up again or create a new issue once we reach V2, V3 - but we should prune this issue list as it's starting to grow pretty large.

[2020-03-20 01:41] #9 closed

[2020-03-20 02:13] #82 closed

[2020-03-20 02:28] ngiangre commented on #78
@tesla809 et al need some input on comments here in the draft https://docs.google.com/document/d/15i7vBDCFqGHCf3B-D9Miw0_3I1M6_rn3v4fzA1PAAK4/edit?usp=sharing and please restrain your bio descriptions to at most 3 sentences about 1) your day job and skills 2) education and 3) your project contribution. https://docs.google.com/document/d/1w6I2T3mscTQjk2KgpeOkXXUC-7hxsfXdABFIaCeYFX4/edit?usp=sharing

[2020-03-20 02:45] ngiangre commented on #88
Do you mean like a table format? Each survey question should populate a field and each user should populate a row. Or in json each user is a dictionary and each field is a key and their answer is a value. Is that what you mean?

[2020-03-20 02:47] tesla809 commented on #99
Done!

[2020-03-20 02:48] #99 closed

[2020-03-20 02:48] tesla809 commented on #98
Done!

[2020-03-20 02:48] #98 closed

[2020-03-20 02:52] ngiangre commented on #66
For this to really take off the whole nation needs to be on the app. What's the incentive to be on the app as opposed to just watching the news and staying clear of pockets of high infection. What's the plan to get people on board at scale?
- The app will be a clear, no nonsense decision tree of guidelines that each user clicks through. The plan is to disseminate through social media channels and

[2020-03-20 02:54] ngiangre commented on #59
this issue seems irrelevant the conversation should go to a targeted topic

[2020-03-20 02:54] #59 closed

[2020-03-20 03:05] SomeMoosery commented on #88
Yeah, that's what I had in mind. Radiks implements MongoDB to aggregate the user data stored in Gaia (Blockstack's object/file store) in a centralized location so that it's easily queryable and manipulatable (see [here](https://docs.blockstack.org/develop/radiks-intro.html#how-radiks-works-with-application-data) for a better explanation than I can probably provide).

This was more of a discussion

[2020-03-20 03:10] ngiangre commented on #88
I c an give you some fields if you want.

[2020-03-20 03:36] tesla809 commented on #78
Updated!

[2020-03-20 03:41] SomeMoosery commented on #88
That would be great! Yeah I've just been hesitant to add them myself, but just even a first set of things we'd need.

I'm thinking like:
- if you have a fever
- if you are having trouble breathing
- your location
- etc...

I just don't have the medical know-how to designate a set list and wanted to defer to someone with more expertise. If you give me the list, I can create the model and add some d

[2020-03-20 05:04] ngiangre commented on #88
Here's a spread sheet we should use to collate survey questions and align it with 1) the purpose of this data and 2) how we would store it in the backend.

https://docs.google.com/spreadsheets/d/1Ji0sxIqFI49EZb7Mz4F0nkSBn1JSNMXiKjFAzJC2Jso/edit?usp=sharing

Let's make a call on discord tomorrow for a survey team that is different from the core team getting v1 out.

[2020-03-20 05:07] SomeMoosery commented on #88
Good idea, thanks! Yeah, let’s get on it tomorrow for sure

[2020-03-20 05:56] #16 closed

[2020-03-20 06:28] friedger commented on #104
I don't think it is necessary to rewrite history for that. No private information in there..

[2020-03-20 06:29] friedger commented on #104
Furthermore, I don't think it is bad if we keep a copy of our collaboration guidelines in git

[2020-03-20 06:30] friedger commented on #100
Should be fixed by #96

[2020-03-20 07:35] friedger opened #108 "Add instructions for radiks server"
## Summary
The application relies on radiks server. Radiks server is using mongo db to store indexed user data.
Add information how to setup a server for development and for production

## Motivation
The repo should contain all information so that a new developer can start contributing and a new admin can start building production environment. Setup for Windows would be helpful for members of this

[2020-03-20 09:06] friedger commented on #92
Yes, do it :-)

[2020-03-20 09:10] friedger commented on #24
Depending on the size of the app an initial animation in index.html might be good as well. This issue should be about the animation. A component could be created when needed.

[2020-03-20 15:06] friedger opened #111 "Implement data model in blockstack"
## Summary
Based on the [database model](https://github.com/COVID-19-electronic-health-system/Corona-tracker/tree/master/design/database_models), a data model should be added for managing user generated data.

Blockstack storage is a document/file based storage api, therefore the *database* model needs to be adapted.

Suggestion:

Checkup
* patient id (derived from blockstack user id)
* (same fiel

[2020-03-20 15:37] #91 closed

[2020-03-20 15:42] #75 closed

[2020-03-20 15:52] SomeMoosery commented on #104
That's fair - no private info, public guidelines... I was just modeling off of some other, larger OSS projects but there's definitely not harm in leaving our guidelines available for people to see.

Unless anyone else disagrees, I'm okay closing this issue.

[2020-03-20 15:53] SomeMoosery commented on #100
@jchen42703 let us know when you can if this is fixed by fixes made by @friedger - if so we'll go ahead and close this!

[2020-03-20 16:27] #93 closed

[2020-03-20 16:29] tesla809 commented on #61
For sure. Good point @lukelin1991 after our discussions with the medical experts, it seems that the talk to doc is a more complex feature to ship due to regulations.
v1: Education and translations
v2: get survey info
v3: create analytics

[2020-03-20 17:24] tesla809 commented on #78
Due tonight by midnight.

[2020-03-20 19:06] SomeMoosery commented on #56
Closing as there is a PR #74 relating to translations that is more relevant

[2020-03-20 19:06] #56 closed

[2020-03-20 19:32] SomeMoosery opened #113 "Create Location Model"
## Summary

We need a way to keep track of users' location. I think this should be stored in its own MongoDB collection via Radiks associated with the user.

Implementation could be - every time the user signs in, his/her location is updated (or created if it is the user's first time logging in).

## Motivation

Down the line, we will likely add functionality to deter users from certain locations

[2020-03-20 20:00] pavel-ilin commented on #92
Pull request: https://github.com/COVID-19-electronic-health-system/Corona-tracker/pull/116

ChartJs component being renamed into Chart. Adjust import statement from 'chart.js' library.
Adjust Chart.test.js'

[2020-03-20 20:13] jchen42703 commented on #100
It works!

[2020-03-20 20:13] #100 closed

[2020-03-20 20:33] tesla809 opened #117 "Front End + UX/UI Standup synch on Friday, 3/20/20 @ 5:30pm"
## Time
Time: Mar 20, 2020 05:30 PM Eastern Time (US and Canada)

## Zoom Link
scheduled Zoom meeting.
Join Zoom Meeting
https://us04web.zoom.us/j/634652005
Meeting ID: 634 652 005

One tap mobile
,,634652005# US Toll

Dial by your location
         US Toll

Meeting ID: 634 652 005
Find your local number: https://us04web.zoom.us/u/fWebnPsa

## Summary
Front end team + UX/UI team to synch up on fin

[2020-03-20 20:55] tesla809 opened #118 "Investigate: @shopify/react-i18n- for handling translations, formatting, and more."
## Summary
Investigate [@shopify/react-i18n](https://www.npmjs.com/package/@shopify/react-i18n) it is a i18n utilities for React handling translations, formatting, and more.

Architecture wise for i18n, code using properties (I.e key-value properties file).

This can be used for our translation into different languages.

See:
[https://en.wikipedia.org/wiki/Internationalization_and_localization](ht

[2020-03-20 21:02] friedger commented on #108
closed by #109

[2020-03-20 21:03] friedger commented on #108
windows instructions are missing.

[2020-03-20 21:44] roychowd commented on #113
I can work on this if you haven't started it yet?

[2020-03-20 21:54] ngiangre commented on #111
Is this a suitable model using NoSQL?

[2020-03-20 22:16] SomeMoosery commented on #113
Sounds good - I'll assign you now 👍

There's an example in the master `App.js` as well as in a currently-open PR I wrote for more context if needed.

[2020-03-20 23:07] tesla809 commented on #117
Done!
To do:
Organize wireframes into v1-final-mvp
Create issues based on components
Ask @BrianHHough for education view (replace news tab for now) based on convo.
send info to discord chat.

[2020-03-20 23:07] #117 closed

[2020-03-20 23:23] tesla809 opened #121 "Education view for V1 MVP"
## Summary
We need a design for the Education MVP view.
During meeting we discussed something like a tinder-style card that people can quiz themselves on coronavirus information.

**Overview:**
"Tinder is not around. So, swipe for your health".

A view like Tinder, instead of people its facts.
Swipe left for false
Swipe right for true

The information will come from World Health Organization and C

[2020-03-21 00:50] #104 closed

[2020-03-21 00:52] SomeMoosery commented on #63
Is this the same as the `resources_to_use` file we have?

[2020-03-21 01:01] tesla809 commented on #63
Look about right! yup seems to be resolved. @SomeMoosery

[2020-03-21 01:01] #63 closed

[2020-03-21 01:49] tesla809 commented on #73
Great idea Nathan! This will help engagement over time if we can get the data in pieces over time.

We should add this to our design flow.

[2020-03-21 02:29] Tanvez commented on #61
I would like to help with creating the issues and breaking down the designs into components.

how would the review process for draft issues look like before actually going ahead and creating the issue?

Ex. write a draft -> send to review(via discord or just create the issue with a draft in the title?) -> create issue

[2020-03-21 02:31] tesla809 commented on #61
See [CONTRIBUTING.md](https://github.com/COVID-19-electronic-health-system/Corona-tracker/blob/master/CONTRIBUTING.md)

[2020-03-21 02:35] tesla809 commented on #61
To keep it simple here is a way to go about it:
1) take the images in /v1-final-MVP,
2) copy those images.
3) Then identify each component in each image.
4) Take a screenshot of that image specifically.
5)  If a component has a sub-component it gets its own file too.
6) Name them and place them in a new folder called /v1-final-MVP-subcomponents

Then with that folder submit a pull request. It will

[2020-03-21 02:49] Tanvez commented on #61
Awesome. Will do!

[2020-03-21 03:00] #108 closed

[2020-03-21 03:05] jchen42703 opened #125 "npm ERR! corona-tracker@0.1.0 start: `react-app-rewired start` npm ERR! Exit status 1 npm ERR! npm ERR! Failed at the corona-tracker@0.1.0 start script."
# Note
I will running everything on a fresh install tomorrow just in case this is just a problem with my installation of the repository's npm modules.

### Prerequisites
* [ ] Reproduced the problem in QA
* [ ] Followed all applicable steps in the TROUBLESHOOTING guide: TODO
* [x] Checked for relevant discussions on Discord: <https://discord.gg/pPERUuv>
* [x] Checked that your issue isn't already

[2020-03-21 03:05] BrianHHough commented on #121
![CORONATRACKER UI - Education (Fact Mode)](https://user-images.githubusercontent.com/56947075/77218205-44b2e180-6aff-11ea-9692-a423249a1fe9.png)
![CORONATRACKER UI - Education (Quiz Mode) copy](https://user-images.githubusercontent.com/56947075/77218207-44b2e180-6aff-11ea-9125-31c4ba626146.png)
![CORONATRACKER UI - Education (Quiz Mode)](https://user-images.githubusercontent.com/56947075/77218208

[2020-03-21 03:06] BrianHHough commented on #121
I'll add these to github as a commit but feel free to add thoughts there or in in discord too!

[2020-03-21 03:06] #121 closed

[2020-03-21 03:06] tesla809 commented on #121
BEAUTIFUL! The magnificent @BrianHHough strikes again! Impressive work!

[2020-03-21 03:07] tesla809 commented on #121
please add to this folder:
https://github.com/COVID-19-electronic-health-system/Corona-tracker/tree/master/design/wireframes/v1-final-MVP

[2020-03-21 04:01] ngiangre commented on #78
submitted - great job everyone!

[2020-03-21 04:01] #78 closed

[2020-03-21 04:41] #92 closed

[2020-03-21 18:42] AdhamAH opened #127 "Problem with Prettier"
After the last pull I am getting an error that there is a problem with prettier configuration `["INFO" - 7:39:20 PM] Extension Name: "prettier-vscode".
["INFO" - 7:39:20 PM] Extension Version: "3.20.0".
["INFO" - 7:39:20 PM] Enabling prettier for languages
[
  "css",
  "graphql",
  "html",
  "javascript",
  "javascriptreact",
  "json",
  "json5",
  "jsonc",
  "less",
  "markdown",
  "mdx",
  "mong

[2020-03-21 21:12] tesla809 commented on #127
Did you try a `yarn install`

It seems that you are missing some packages:
Error: Cannot find module `'@blockstack/prettier-config'`'

if `yarn install` doesn't work, then try `yarn add @blockstack/prettier-config`

[2020-03-21 21:37] ngiangre commented on #111
I made an entity relationship diagram when I stored data I scraped from a website. But @SomeMoosery said that an ER diagram doesn't make sense with our noSQL backend. So is there another way to relate data fields we want to collect?

Also, let's get out any doctor related fields since we changes the app's scope to more education/user self reporting/tracking.

I'm thing the survey Qs: https://docs.

[2020-03-21 21:40] SomeMoosery commented on #111
I'm going to link #114 to this as well, as it was my first pass of adding the checkup/evaluation models depending on questions we could ask - we'll probably end up changing a lot of the fields but the groundwork is laid in that PR if you both want to take a look

[2020-03-21 21:42] friedger opened #128 "Add hosting of QA frontend - CI"
The master branch should be deployed somewhere and connected to a second QA radiks server so that there is a check that thinks like #125 does not happen generally.

Note, that a radiks server can only server one domain names (localhost:3000, localhost:3001, 127.0.0.1:3000 are all different)

[2020-03-21 21:55] ransing opened #129 "Integration of Behavioral Progress"
**Imagine a scenario**: In the next few months, there is a wave of behavioral issues plaguing our population due to the current coronavirus crisis. We have to be at the forefront in not only bringing a light to these issues but also use the technology we have available to help mitigate some of these issues. If you believe that we have the capability of using open source platform to help people fig

[2020-03-21 22:06] ngiangre commented on #129
@ransing I wholeheartedly agree we need to link this into the health chart/quiz that's being built. We can frame this as a personal diary log thing. Can you take the lead on assembling a team here (via discord and this issue) and set up a standup where we scope and figure out tasks ad integration into versioning? I mean you already are so I'm in :)

[2020-03-21 22:20] tesla809 commented on #129
Agreed! This feature will be very important since social isolation can lead to a whole host of mental health issues. @ransing since you are a domain expert in this area, would you like to lead team efforts on this feature?

Can you create a rough mock-up of how the functionalities and UI/UX will look/behave. Then meet with @BrianHHough (designer extraordinaire) so that you both can design a styliz

[2020-03-21 22:31] SomeMoosery commented on #129
@ransing this definitely seems like a worthwhile and little-explored long term effect of COVID-19 that is surely worth investigating. Plus, this data collection process seems like it can dovetail nicely with the symptom-tracking features we're going to be implementing - seems like a perfect fit!

When you're ready to start integrating this into the app on the technical side, definitely reach out (

[2020-03-21 22:31] friedger commented on #127
There is a duplicated `devDependency` entry, my fault, sorry!

[2020-03-21 22:33] #61 closed

[2020-03-21 22:40] #127 closed

[2020-03-21 22:44] ngiangre commented on #129
I ca help or atleast find the people that can.

[2020-03-21 22:55] ransing commented on #129
@tesla809 I will reach out to Brain for design imput. Definitely seems we need a simple, minimal and welcoming design.
 @ngiangre thank you and yeah, I will make a discord channel and lead the standups once we have a few people. We will keep it simple with limited attainable targets which have a close feedback loop. And we will keep on doing iterations of it (like SCRUM).
@SomeMoosery Thank you Ca

[2020-03-21 22:59] SomeMoosery commented on #129
@ransing so on the backend side we're using MongoDB, a NoSQL database - so there's not columns as there would be in a traditional database. This makes it very easy to add/remove fields as we don't have to pre-define a schema; data is stored as if it were its own JSON object as opposed to a row in a table.

In short, adding these to the database in general will be easy, and adding more attributes d

[2020-03-21 23:03] ngiangre commented on #129
Thank you that was clear! Now I know what it is. Nevertheless, we need a common data model and relationships between fields not for the backend, but for comprehensiveness of the data collected and their relationships. From an analytics perspective this will be helpful.

[2020-03-22 01:46] SomeMoosery commented on #128
You're right, definitely a good call! I'll start implementing this in just a bit - once all the frontend components are shipped so we have a workable V1 ready to go 👍

[2020-03-22 03:39] jchen42703 commented on #125
I no longer encounter this issue, so I will close it. The app opened once I ran yarn commands in `client`.

[2020-03-22 03:39] #125 closed

[2020-03-22 05:08] ngiangre commented on #129
We are integrating behavorial/emotional/mental questions here https://docs.google.com/spreadsheets/d/1Ji0sxIqFI49EZb7Mz4F0nkSBn1JSNMXiKjFAzJC2Jso/edit?usp=sharing these are defined as nonphysical observations in the data model. Each row represents a key, value pair within data storage. Please try to follow the existing entries. These questions are added to the queue for integration into the app. A

[2020-03-22 11:31] friedger commented on #113
Privacy law imposes quite a few restrictions on this. This issue should be focusing on the model to serve the user. How this data is shared with the general public should be discussed in a new issue.

[2020-03-22 15:43] #88 closed

[2020-03-22 15:43] #111 closed

[2020-03-22 16:00] johnemurphy1 commented on #23
guys, here's something i've been working on, but not familiar with Redux. So, don't know what needs to be modified to change diagnostic container state from temperature to symptoms. i'll probably need to pair program with someone on adding that. will try to do pull request in next hour https://repl.it/@jm5/CoronaTrackerDiagnosticContainer-toggleinfojs

[2020-03-22 17:09] friedger commented on #89
As we have a model, this could be closed. The data will come as initial state from redux

[2020-03-22 17:09] friedger commented on #89
This could be closed.

[2020-03-22 17:17] friedger commented on #86
For performance and for PWA, it would be better to pre-render the questions (isomorphic style)

[2020-03-22 17:50] tesla809 commented on #86
We will create something in a [google doc](https://docs.google.com/document/d/1GJRYYeV0ZhzTCOXAvRVEGPA6zdFTLu1bEPUTfB04OaY/edit). Then when it's all done, should we push that info t ao .js file with an array that can be queried.

[2020-03-22 17:50] roychowd commented on #113
@friedger  You are right about that. I think we will have to research up on the model being HIPPA compliant. I'll create another issue regarding this.

[2020-03-22 17:51] #80 closed

[2020-03-22 17:54] #89 closed

[2020-03-22 18:04] starving-geek opened #134 "DS_Store files in main project folder and server folder"
### Prerequisites

* [X] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in QA
    * Followed all applicable steps in the TROUBLESHOOTING guide: TODO
    * Checked for relevant discussions on Discord: <https://discord.gg/pPERUuv>
    * Checked that your issue isn't already filed: <https://github.com/COVID-19-electronic-health-system/Co

[2020-03-22 18:07] AdhamAH commented on #134
Oh thanks! I just noticed in my pull request! sorry about that!

[2020-03-22 18:41] roychowd opened #136 "Data Sharing and Privacy"
## Summary
@friedger made an excellent argument regarding Issue #113: We should consider restructuring the backend model to figure out how data will be shared so that it does not interfere with privacy laws.

Example:
Sharing private data such as location should be done in accordance with privacy laws.

## Motivation
We need to be aware of the important legal and regulatory requirements of healthc

[2020-03-22 18:55] awu556 opened #137 "[Education]: Fact / Quiz Interactive Mode 3.22.20"
See wireframe ![Fact / Quiz Screen](https://github.com/COVID-19-electronic-health-system/Corona-tracker/blob/master/design/wireframes/v1-final-MVP/CORONATRACKER%20UI%20-%20Education%20(Fact%20Mode).png)

- [x] Component 1: Upfront logo + text-based logo

- [x] Component 2: Two-button
Left: “Fact Mode” -- make red
Right: “Quiz Mode” -- make blank

- [x] Component 3: Instructions
Left: “Fact Mode” -

[2020-03-22 19:01] awu556 opened #138 "[Health Log]: Symptom Tracker Survey - Slider 3.22.20"
See wireframe ![Survey Sliders](https://github.com/COVID-19-electronic-health-system/Corona-tracker/blob/master/design/wireframes/v1-final-MVP/survey-view-sample.png)

- [x] Component 1: Instructions
Instructions/overview/answer truthfully
Disclaimer?

- [x] Q1: How do you feel today?
Slider: 1-10

- [x] Q2:  How are you feeling compared to yesterday?
Better/The Same/Worse

- [x] Q3: How are your

[2020-03-22 19:10] awu556 opened #139 "[Homepage Dashboard]: Navbar, Layout Formatting for Diagnostic Container 3.22.20"
Component 1: Upfront welcome

- [x] Logo to the left + text-logo to the right all on one
- [x] Good morning, { firstName }
- [x] Today is, { dayOfWeek, month #, year
- [x] Small black horizontal bar
- [x] Prompt that reads, either:
         - “Let’s log your health for today” (if empty)
         - “Great job logging  your health today (if fulfilled)
         - Only shows if you have yet to log it,

[2020-03-22 19:21] awu556 opened #140 "[Health Log]: Symptom Tracking Survey - Disclaimer"
- [x] Component 1: Pop-up text box that asks you to agree that this isn’t medical advice and language modeled after the CDC app. Paraphrased below:
_CoronaTracker is designed to help you track your health status and make determinations on seeking appropriate medical care. The CoronaTracker application is not intended to be used or viewed as diagnosis or treatment of disease or other symptoms, incl

[2020-03-22 19:45] ngiangre commented on #136
I agree. Here's some points I made with @SomeMoosery:

1) Ownership: We can have permissions for everything (every data field essentially). At first, all input will be on the client side. After a set daily time, all data with the granted permissions e.g. an indicator function will be allowed to transfer when pulled from the client to our backend. This way the user owns the data they want to share.

[2020-03-22 19:49] ngiangre commented on #113
closing and the discussion will continue in #136

[2020-03-22 19:49] #113 closed

[2020-03-22 19:52] ngiangre commented on #97
was this sent? If so, please close this issue.

[2020-03-22 20:02] ngiangre commented on #86
Use this link instead to log in educational content. See education subsheet https://docs.google.com/spreadsheets/d/1Ji0sxIqFI49EZb7Mz4F0nkSBn1JSNMXiKjFAzJC2Jso/edit?usp=sharing

[2020-03-22 20:05] ngiangre commented on #77
closing - we'll discuss this at team admin meeting monday

[2020-03-22 20:05] #77 closed

[2020-03-22 20:12] ngiangre commented on #73
@nathanboone ready to brainstorm this? DM in discord.

[2020-03-22 20:49] friedger commented on #83
Is this the updated design file? https://github.com/COVID-19-electronic-health-system/Corona-tracker/blob/master/design/wireframes/FINAL%20V1%20-%2003.20/CORONATRACKER%20UI%20-%20Symptom%20Screen.png

[2020-03-22 20:56] liadove commented on #83
I guess it is. But for this particular issue: https://raw.githubusercontent.com/COVID-19-electronic-health-system/Corona-tracker/master/design/wireframes/v1-final-MVP-subcomponents/survey-view-check-grouped-buttons-view.png

[2020-03-22 20:57] liadove commented on #83
I almost finished functionality of buttons. But need to work on css

[2020-03-22 21:08] friedger commented on #134
add it to .gitignore

[2020-03-22 21:09] SomeMoosery commented on #134
We can close this, added to .gitignore in #135

[2020-03-22 21:09] #134 closed

[2020-03-22 21:16] friedger commented on #118
An alternative is https://github.com/i18next/react-i18next

[2020-03-22 21:57] ngiangre opened #143 "Need for project/repository rename"
Based on extensive conversations and the features being built for our MVP and later versions, having the name Corona-tracker for the application is now sort of a misnomer.

We are no longer tracking but we are educating users who can log their journey through this pandemic with or without infection.

Her's me rambling for words on discord:

so we're in a crisis
of covid infection and possible dise

[2020-03-22 22:05] SomeMoosery commented on #143
Good point! I've been telling people the name of what I'm working on, and am almost always met with "wait... I thought you were called corona TRACKER?" after I finish the explanation lol.

I'll brainstorm some names, maybe ask some of my PR/marketing friends as well :)

[2020-03-22 22:07] ngiangre commented on #143
you're the best! Per @tesla809 we can hold off repo renaming just because of technical implications like git commits and what not.

[2020-03-22 23:02] starving-geek commented on #86
I can work on the model for this @SomeMoosery

[2020-03-22 23:57] ngiangre commented on #143
Nothing with "MyCovid"

[2020-03-23 00:42] suhacker1 commented on #136
Different privacy laws have different stipulations. Software like the ones developed by OneTrust exist to assist with compliance. Also, there are many privacy regulations that are on the verge of being passed. However, in general, privacy compliance ensures that users know what data is being collected from them, how it is being used, and have assurances regarding the risk of data collection. My su

[2020-03-23 01:39] ngiangre commented on #136
We are and will further consider all of these points!

[2020-03-23 01:40] ngiangre commented on #52
closing - will reopen or create new issue when developing a map feature

[2020-03-23 01:40] #52 closed

[2020-03-23 01:41] ngiangre commented on #53
closing - we have already been in discussions about this and we can reissue once we develop this more

[2020-03-23 01:41] #53 closed

[2020-03-23 01:42] ngiangre commented on #51
closing - we are already in talks with columbia on a different effort than the one metioned

[2020-03-23 01:42] #51 closed

[2020-03-23 01:43] ngiangre commented on #45
closing - we are not considering modeling disease with our current versions and scope

[2020-03-23 01:43] #45 closed

[2020-03-23 03:28] #24 closed

[2020-03-23 03:36] SomeMoosery opened #153 "Store static images in S3"
## Summary

Moving forward, we need to store our images somewhere that's not in this GitHub repo.

## Motivation

A deployed app shouldn't rely on local file structure to maintain static images. Plus, the more we add, the larger this GitHub repo gets - it's already taking me nearly a minute to clone.

## Describe alternatives you've considered

No alternatives, just a next step to a functioning pr

[2020-03-23 03:39] SomeMoosery opened #155 "Need separate Radiks server for production environment"
### Prerequisites

* [ X ] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in QA
    * Followed all applicable steps in the TROUBLESHOOTING guide: TODO
    * Checked for relevant discussions on Discord: <https://discord.gg/pPERUuv>
    * Checked that your issue isn't already filed: <https://github.com/COVID-19-electronic-health-system/

[2020-03-23 04:48] #155 closed

[2020-03-23 05:25] ngiangre opened #157 "Daily log"
## Summary

Users will be going through a tumultuous journey with social distancing and isolation. This will have tremendous impact on our behavior and overall well-being in addition to physical health consequences of coronavirus infection. Allowing users to have a free text platform to log in when they choose, this will give them perspective and reflection on their overall physical and nonphysica

[2020-03-23 05:27] tesla809 commented on #157
I LOVE it! It's great that you know how to do this and know that other researchers would want this!

[2020-03-23 11:40] givonz commented on #118
react-i18n looks like it will do the trick.  i'm reading through it.  not totally sure how the translation files are to be made but, it follows the basic structure of all translation systems.  uses a code/key to get to the right translation per artifact.

i suggest we do not have different translations for different versions of english at this time
i suggest english be the default language
we need

[2020-03-23 14:28] ngiangre opened #160 "Add human body indication/symptom component"
## Summary

There are many reports coming out on new symptoms and conditions of viral infection and the disease. We can't hard code everything, we need to adapt and let the user tell how what and how they feel physically and nonphysically.

## Motivation

Many reports coming out about new symptoms conditions. We want to help the user track their progress for what they report.

## Describe alternat

[2020-03-23 14:29] SomeMoosery opened #161 "Implement Modular Questions"
## Summary

As it stands for V1, we've done some great work in laying out the scaffolding for building a more cohesive and dynamic app. One of the key features of the symptom-tracking portion of the app are the questions. These questions should be modular, and we should be able to seamlessly remove questions within `SymptomsTracker.js` without having to hardcode questions.

As it stands now, [Pave

[2020-03-23 14:30] ngiangre commented on #161
#160 is similar - another component!

[2020-03-23 14:35] ngiangre commented on #160
closing - merging with #161

[2020-03-23 14:35] ngiangre commented on #160
closing - merging with #161

[2020-03-23 14:35] #160 closed

[2020-03-23 14:36] ngiangre commented on #161
Add human body indication/symptom component #160

Summary
There are many reports coming out on new symptoms and conditions of viral infection and the disease. We can't hard code everything, we need to adapt and let the user tell how what and how they feel physically and nonphysically.

Motivation
Many reports coming out about new symptoms conditions. We want to help the user track their progress f

[2020-03-23 17:50] friedger opened #164 "Extract private route component"
## Summary
* Move redirect to Login into a `PrivateRoute` functional component
* Replace Route with PrivateRoute for `log`, `symptomsurvey`, `healthlog`, `settings`

## Motivation
This refactoring make the routing more readable.

[2020-03-23 18:01] Ahwan0717 opened #165 "Create Map Component"
## Summary

Need to add a Map.js component. Thinking this will be scrollable using Mapbox GL for now without any additional features since it is "COMING SOON".

## Motivation

We want to add this so when a user clicks on the map icon in the menu, they aren't taken to an empty view.

[2020-03-23 18:06] JWaltuch opened #166 "Combining SymptomTracker component with CheckboxButton and/or SingleCheckboxButton"
## Summary

- Adding checkbox components into Symptom Tracker component.
- Removing unnecessary, duplicate, or redundant code in related components to allow these to mesh together seamlessly

## Motivation

Some questions are redundant/hard-coded and no longer necessary.

[2020-03-23 19:10] tesla809 opened #168 "PR package for Wachsman- World's largest PR agency"
## Summary
Spoke with rep from Wachsman today, courtesy of Shannon from Blockstack.
We will need:
1) any briefing information, like a formal project summary
2) updated website: see [coronatracker.me](https://coronatracker.me)

@BrianHHough suggested that we will need a PR/Media package.
That would include:
1) create social media handles:
   - twitter
   - anywhere else ?
2) a LinkedIn page?
3) any

[2020-03-23 19:18] lukelin1991 commented on #168
social media: twitter, LinkedIn, FB, instagram? and/or patreon? (another possible option)
we can utilize the website that was made for us the other day, and add to it? and/or purchase an official domain name to load our www.____________.com <-- and get a SSL cert if we've decided on a domain and start inviting people to test (once v1 product is done), whether its from our facebook/insta friends li

[2020-03-23 19:19] tesla809 commented on #168
Great ideas @lukelin1991 !

[2020-03-23 19:23] Afrogrrrl commented on #168
Maybe we could come up with a template to share on our respective social medias (ie a description we all agree on with a link to v1). if everyone announces the completion of v1 on their linkedins, twitters, etc simultaneously, it would reach a lot of people

[2020-03-23 19:24] tesla809 commented on #168
Brilliant Idea @Afrogrrrl !

[2020-03-23 19:29] Bellex0 commented on #168
Put the word out and advertise the app on different Slack channels we are all a part of.

[2020-03-23 19:30] tesla809 commented on #168
Brilliant point @Bellex0 ! Should we create a default template we can all use?

[2020-03-23 20:18] AdhamAH commented on #139
I just made a pull request to the first parts and transferred them to material-ui. The prompt part might not be able to do it, will see if someone can help

[2020-03-23 20:48] ngiangre commented on #168
adding to @Afrogrrrl we should also make the sheet include which (highly influential) people we'll contact about the app, using a blanket email response that everyone can use. Thought of originally by Jenna.

We must use the power of open source to our advantage - get users, get feedback, have others contribute, serve users more, rinse and repeat

[2020-03-23 22:00] JWaltuch opened #173 "Styling for Symptom Tracker"
## Summary

Fixing style. Currently, on symptom tracker, background gradient does not extend to page bottom. Also, page can be seen through navbar.

## Motivation

To make it look nicer

[2020-03-23 22:03] friedger opened #174 "Add navigation state to redux store"
## Summary
Add state to redux store about the current navbar selection

## Motivation
All components can react to navigation changes if needed

## Describe alternatives you've considered
Handle component updates through props is possible

## Additional context
When all components are available navigation needs to be connected with routes

[2020-03-23 22:15] SomeMoosery commented on #173
Thanks for adding this issue!

[2020-03-23 22:20] johnemurphy1 commented on #137
Adding these rough drafts here for the fact/quiz format button
https://github.com/johnemurphy1/Corona-tracker/blob/master/EducationTwoButton.css
https://github.com/johnemurphy1/Corona-tracker/blob/master/EducationTwoButton.js

[2020-03-23 23:05] #173 closed

[2020-03-23 23:23] nathanboone commented on #168
Hey guys - This is really exciting! I'd love to frame the story as - "_Coronatracker is an open-source project to combat the COVID-19 pandemic through education and awareness created by the NY Health Artificial Intelligence community, in partnership with contributors from universities and hospitals throughout the U.S."  So, the organization is NYHAIS and the product is Coronatracker.

1. **Domain

[2020-03-23 23:29] ngiangre commented on #168
yes yes YESSSS

thank you for doing this.

I agree with the employees idea - I could be analytics and data model contributor

I can help you draft the post when you want

[2020-03-23 23:59] johnemurphy1 commented on #137
ok, i'm not going to do a PR on the fact/quiz button. latest version that @Tanvez posted has it working...

[2020-03-24 01:13] awu556 commented on #137
Excellent work the both of you! We couldn't have reached V1 without your help.

[2020-03-24 01:13] #137 closed

[2020-03-24 01:15] awu556 commented on #166
Awesome work Jenna!

[2020-03-24 01:15] #166 closed

[2020-03-24 01:23] SomeMoosery opened #180 "Occasional 409 Bug on Login"
### Prerequisites

* [ X ] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in QA
    * Followed all applicable steps in the TROUBLESHOOTING guide: TODO
    * Checked for relevant discussions on Discord: <https://discord.gg/pPERUuv>
    * Checked that your issue isn't already filed: <https://github.com/COVID-19-electronic-health-system/

[2020-03-24 01:32] SomeMoosery opened #181 "Unable to login on mobile"
### Prerequisites

* [ X ] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in QA
    * Followed all applicable steps in the TROUBLESHOOTING guide: TODO
    * Checked for relevant discussions on Discord: <https://discord.gg/pPERUuv>
    * Checked that your issue isn't already filed: <https://github.com/COVID-19-electronic-health-system/

[2020-03-24 02:00] SomeMoosery commented on #54
Do we still need this?

Even if there is dummy data, part of V2 will be linking up client <--> server so we won't need to hardcode in dummy data

[2020-03-24 02:00] SomeMoosery commented on #55
Closing this as it's too vague and not pertinent to code

[2020-03-24 02:00] #55 closed

[2020-03-24 02:00] tesla809 commented on #54
Good point. Not needed. We can nix it.

[2020-03-24 02:01] #54 closed

[2020-03-24 02:01] SomeMoosery commented on #66
@awu556 @tesla809 or anyone else willing - would you want to consolidate these notes into another document we have and then close this issue? Just to clear out our backlog.

[2020-03-24 02:02] SomeMoosery commented on #71
This is fixed

[2020-03-24 02:02] #71 closed

[2020-03-24 02:03] awu556 commented on #66
Sure! I'll do it right now in a google doc

[2020-03-24 02:08] awu556 commented on #66
Alright, all set. Feel free to close or delete the issue

[2020-03-24 02:23] #66 closed

[2020-03-24 03:02] suhacker1 opened #182 "GitHub Apps/Actions for Security"
I believe the first step to securing this software is to add a system to automatically alert us of major vulnerabilities within the software and its dependencies. There exist a fair number of GitHub apps and actions that do this. The four most useful ones seem to be:

1. [WhiteSource Bolt](https://github.com/marketplace/whitesource-bolt)
2. [LGTM](https://github.com/marketplace/lgtm)
3. [SonarClou

[2020-03-24 14:28] #174 closed

[2020-03-24 15:05] friedger commented on #180
I think we do call User.createWithCurrentUser too often.

[2020-03-24 17:12] tesla809 commented on #182
Great Idea @suhacker1 !!!

[2020-03-24 18:28] AdhamAH opened #187 "Make new user onboarding component"
## Summary

Creat new user onboarding component as per [the wireframe](https://github.com/COVID-19-electronic-health-system/Corona-tracker/blob/master/design/wireframes/FINAL-V1-03.20/%233%20-%20New%20user%20onboarding.png)

## Motivation

This needs to be done as part of the plan for V2 as mentioned [in the product roadmap](https://docs.google.com/document/d/1W8QviIhwF9HDhCH4ww5dj97-ui6ouiVh6fGsN

[2020-03-24 19:26] AdhamAH opened #188 "Redirect to CDC on disagree"
**This was not meant to be a question to chose between CDC and WHO. This can be done later depending on the locality of the user. Which I think is @SomeMoosery expertise from server-side. If not possible then another dialogue to choose where. Now the main initial target is the US, later we may add also RIMV (for the Dutch 😂)**
## Idea

When a user disagrees to the Disclaimer [issue#140](https://gi

[2020-03-24 19:45] fallon7284 commented on #164
I'm working on this.

[2020-03-24 19:49] fallon7284 commented on #164
I'm curious to know whether userSession will ever be stored in the Redux store.  If it was in the store I could just connect the PrivateRoute component so we don't have to pass the userSession to each PrivateRoute.

[2020-03-24 20:04] AdhamAH commented on #83
@liadove are you still working on this?

[2020-03-24 21:03] liadove commented on #83
@AdhamAH I thought we are going to talk about styling more clear, but the component itself already done. You can see it in the survey-view folder. If there's something I can work on I am free now, so I can pick an issue up.

[2020-03-24 21:10] SomeMoosery commented on #83
Which PR closed this issue? Let's hold off on picking up new issues just for the time being while we finalize on a roadmap. We'll have a clearer vision on where we're going in just a little bit.

[2020-03-24 21:13] liadove commented on #83
Good idea! This is the PR for the issue: https://github.com/COVID-19-electronic-health-system/Corona-tracker/pull/149

[2020-03-24 21:14] #83 closed

[2020-03-24 21:31] friedger commented on #188
As we aim for global reach, redirecting to WHO would be most suitable.

[2020-03-24 23:39] AdhamAH commented on #168
I don't know in later on stage maybe we can also look into ProdactHunt

[2020-03-24 23:42] AdhamAH commented on #164
Thanks for working on it. @pavel-ilin you worked in Redux the most if I am not wrong. Can you maybe answer Brendan

[2020-03-25 00:03] AdhamAH opened #189 "Add constant components in top-level component"
## Idea:
To make a united layout throughout the app.

1. Include top-level components like navbar, constant images like logos in a top-level component such as `Layout.js`. Remove them from DiagnosticContainer component
2. Use Material-UI theming
3. As per @friedger and @AdhamAH suggestions, keep constant components in Layout.js’ and React providers in ‘App.js’

## Motivation:

1.  Keep consistency

[2020-03-25 00:18] liadove commented on #189
What should be inside DiagnosticContainer component?

[2020-03-25 00:28] SomeMoosery commented on #23
Is this still being worked on, or does it need to be closed?

[2020-03-25 00:29] #44 closed

[2020-03-25 00:32] SomeMoosery commented on #81
Going to close this as there's no action items to be taken, should add to a Google Calendar

[2020-03-25 00:32] #81 closed

[2020-03-25 00:33] johnemurphy1 commented on #23
Still being worked on. Realistically, I can't get back to it until Friday. At this point, could probably take the code that @Tanvez created for the Facts/Quiz cards with toggle button and just refactor.  If you need it sooner, please reassign.

[2020-03-25 00:35] SomeMoosery commented on #86
Closed by #148

[2020-03-25 00:35] #86 closed

[2020-03-25 00:39] #97 closed

[2020-03-25 00:45] #73 closed

[2020-03-25 00:50] SomeMoosery commented on #129
Closing this issue - a lot of great points brought up and they have been documented, but to keep the issues page and Kanban. We should all take not to keep this bookmarked for future ideas

[2020-03-25 00:50] #129 closed

[2020-03-25 00:51] Afrogrrrl commented on #189
I agree with what was mentioned last night about putting navbar at the highest level possible so it's consistently available throughout the app. Perhaps we can convert DiagnosticContainer into this layout component?

[2020-03-25 00:53] Afrogrrrl commented on #188
^ seconded on redirecting to WHO. I actually think it should log someone out and redirect them to WHO

[2020-03-25 01:12] #181 closed

[2020-03-25 01:20] SomeMoosery commented on #23
I'd say keep chugging along with this then! We definitely need it for V2 but not necessarily for the alpha release we want out by Friday 👍

[2020-03-25 01:22] fallon7284 commented on #164
I'm just going to pass it as props for now to keep the PR narrow and it will be easy enough to change later.

[2020-03-25 01:24] AdhamAH commented on #188
My bad, I didn't ask the right question

thanks for pointing out the logout part.

[2020-03-25 01:27] awu556 commented on #138
Nice job Pavel!

[2020-03-25 01:27] #138 closed

[2020-03-25 01:28] AdhamAH commented on #189
The login functionality and showing

it can be as @Afrogrrrl said, will see and update

[2020-03-25 01:29] SomeMoosery commented on #189
I think anything top-level like this could go within `App.js`, unless that's bad practice, not too sure.

I was thinking `DiagnosticContainer` would be the wrapper component for the Health Log, containing both the overview and also weekly view. I don't know if we should repurpose this.

[2020-03-25 01:32] SomeMoosery commented on #164
Which parts of `userSession` do you need to handle? I may not have the full scope of this issue, but would it be possible to just store the parts of `userSession` you need in Redux store? Or utilize the Radiks API to get `userSession` data wherever needed?

[2020-03-25 01:33] AdhamAH commented on #189
Agree. That would be the best

[2020-03-25 01:54] SomeMoosery commented on #143
Going to close this as we've got a record of it and it's on the action plan

[2020-03-25 01:54] #143 closed

[2020-03-25 02:03] SomeMoosery commented on #140
This was fixed by #185 - can add more detail in a new issue if needed

[2020-03-25 02:03] #140 closed

[2020-03-25 02:04] SomeMoosery commented on #168
Would we be able to document these changes in a Google Doc and then close this issue? Just due to this having no actionable items, we should clear up the backlog a bit 👍

[2020-03-25 02:05] SomeMoosery commented on #87
I'll be completing this as for the time being QA Environment is on my personal AWS account

[2020-03-25 02:08] SomeMoosery commented on #161
This can be closed as we've captured context and will look to break out modularizing issues going forward

[2020-03-25 02:08] #161 closed

[2020-03-25 03:20] awu556 commented on #168
I consolidated the entire conversation in this Google Doc:
https://docs.google.com/document/d/10CzZNNro4N6qbuKiaA_vwMyMyGzMuTZT5dGTwYOCBZc/edit?usp=sharing

I'll also post this in #marketing-communications

[2020-03-25 03:20] #168 closed

[2020-03-25 07:37] friedger commented on #189
I think it is good practise to put all the react providers in `App.js` and the constant components into something like `Layout.js`, then the components for all routes can make use of `Layout` as top level component.

[2020-03-25 14:15] pavel-ilin commented on #14
I'm currently working on this issue.

[2020-03-25 15:10] pavel-ilin opened #190 "Education view - cards blocks navbar"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in QA
    * Followed all applicable steps in the TROUBLESHOOTING guide: TODO
    * Checked for relevant discussions on Discord: <https://discord.gg/pPERUuv>
    * Checked that your issue isn't already filed: <https://github.com/COVID-19-electronic-health-system/Co

[2020-03-25 20:46] liadove commented on #190
@pavel-ilin are you working on it?

[2020-03-25 20:50] liadove commented on #164
@fallon7284 did you solve the issue with radiks?

[2020-03-25 21:02] fallon7284 commented on #164
No I still have an issue with Radiks, but it's definitely a separate issue and I'm going to PR this, just hoping someone can point me in the direction of the PR template.  The link in the readme is dead.

[2020-03-25 21:35] #190 closed

[2020-03-25 21:37] SomeMoosery commented on #164
Sorry about that @fallon7284 I'll get that fixed tonight. [Here's the link](https://github.com/COVID-19-electronic-health-system/Corona-tracker/blob/master/.github/ISSUE_TEMPLATE/pull_request_template.md) to the PR template!

[2020-03-25 22:00] pavel-ilin commented on #190
No, I don't

[2020-03-25 22:13] #79 closed

[2020-03-25 22:46] liadove opened #195 "Bug: can't scroll down"
### Prerequisites

* [ ] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in QA
    * Followed all applicable steps in the TROUBLESHOOTING guide: TODO
    * Checked for relevant discussions on Discord: <https://discord.gg/pPERUuv>
    * Checked that your issue isn't already filed: <https://github.com/COVID-19-electronic-health-system/Co

[2020-03-25 23:17] #164 closed

[2020-03-25 23:57] SomeMoosery opened #196 "Education tab not rendering component"
* [ X ] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in QA
    * Followed all applicable steps in the TROUBLESHOOTING guide: TODO
    * Checked for relevant discussions on Discord: <https://discord.gg/pPERUuv>
    * Checked that your issue isn't already filed: <https://github.com/COVID-19-electronic-health-system/Corona-tracker/issu

[2020-03-26 00:07] #139 closed

[2020-03-26 00:10] awu556 commented on #196
I can take this one! I just fixed it on my branch.

[2020-03-26 01:10] #196 closed

[2020-03-26 01:12] AdhamAH opened #199 "Make scroll component"
## Idea
Make a scroll component like in the gif
![scroll](https://user-images.githubusercontent.com/55054963/77600028-e7f06600-6f06-11ea-8a10-fdf544596a3b.gif)

## this already made just need to know if you agree

[2020-03-26 01:19] awu556 commented on #199
Looks good! I think this solves #195, but does it also scale for the desktop?

[2020-03-26 01:43] liadove commented on #199
Looks good!

[2020-03-26 01:45] SomeMoosery commented on #199
Yeah definitely something needed! Do you want to take this on @AdhamAH ? When you make a PR for this, just be sure to put "fixes #195" and "fixes #199" so we close both at the same time 👍

[2020-03-26 01:47] AdhamAH commented on #195
this is because of the navigation. It is fixed in the bottom with position absolute and bottom =0
I think we can try to fix that also or follow the issue mo mentioned

[2020-03-26 02:41] AdhamAH commented on #199
will do!

[2020-03-26 03:27] Tanvez commented on #29
I saw this might help in implementing https://codesandbox.io/s/2485wxy78j
https://www.npmjs.com/package/react-toastify

[2020-03-26 03:37] awu556 commented on #29
Thanks Vesna!

[2020-03-26 04:04] SomeMoosery opened #200 "Fix / Implement setModalHidden"
### Prerequisites

* [ X ] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in QA
    * Followed all applicable steps in the TROUBLESHOOTING guide: TODO
    * Checked for relevant discussions on Discord: <https://discord.gg/pPERUuv>
    * Checked that your issue isn't already filed: <https://github.com/COVID-19-electronic-health-system/

[2020-03-26 06:53] Faustino-Malena opened #201 "Adding a Coronavirus Deaths Forecasting Feature"
After an outline of the perfect data set through the Analytics team
through information on the number of daily  coronavirus Deaths in the U.S 2020.
The units are a counter and of which are  N observations in different regions.

[2020-03-26 07:05] Tanvez commented on #200
I would like to take a shot at this if no one has claimed it.

[2020-03-26 09:17] AdhamAH commented on #200
@Tanvez Yes thank you!

[2020-03-26 10:01] #195 closed

[2020-03-26 10:01] #199 closed

[2020-03-26 14:22] fallon7284 commented on #200
I'd just like to point out that if you see #197 and the conversation around changes, @SomeMoosery asked that this setModalHidden/toggle functionality be removed and later implementation with redux.  The function declaration was removed but the function call was left in.  I found this issue because I was going to post an issue myself to just delete that function call.

[2020-03-26 14:47] fallon7284 opened #203 "Duplicate id's in SingleCheckboxButton.js"
### Prerequisites

* [ ] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in QA
    * Followed all applicable steps in the TROUBLESHOOTING guide: TODO
    * Checked for relevant discussions on Discord: <https://discord.gg/pPERUuv>
    * Checked that your issue isn't already filed: <https://github.com/COVID-19-electronic-health-system/Co

[2020-03-26 14:49] Tanvez commented on #200
I see, so the implementation should make use of redux I am assuming. let me know if that sounds good. @SomeMoosery

[2020-03-26 14:54] fallon7284 opened #204 "Split components/.../CheckboxButton.js into multiple files"
## Summary

components/survey-view/checkbox-button/CheckboxButton.js exports a react component, but also contains Redux action types, action creators, initial state, and reducers.

Should try to maintain a consistent file structure by moving the Redux code into the src/Redux/actions and src/Redux/reducers.

## Motivation

Maintain consistent file structure

## Describe alternatives you've consider

[2020-03-26 15:13] fallon7284 commented on #187
Is anyone working on this? It's unclear, it's marked in-progress [in the product roadmap](https://docs.google.com/document/d/1W8QviIhwF9HDhCH4ww5dj97-ui6ouiVh6fGsNUCxj4I/edit#).  If nobody is working on it I'll take it.

[2020-03-26 15:13] SomeMoosery commented on #200
Yup! Good point-out @fallon7284 - if we implement this we should implement with Redux.

I'm frankly not _super_ familiar with Redux myself, so I'm going to push abiding by their [Three Principles](https://redux.js.org/introduction/three-principles/), and treating Redux as the SSOT for data/state 👍

[2020-03-26 15:15] SomeMoosery commented on #187
All you @fallon7284 - we should stick to GitHub Issues as the source of truth for what's being worked on

[2020-03-26 15:49] fallon7284 commented on #200
I think functional components can be stateful without involving Redux if it is to do something simple like toggle something open or closed, or to implement react forms, but you'd use Redux here because I think in this case you'll want to have the user consent one time and then not need to consent again in another part of the application.  But if that actually isn't the case I'd argue there is no b

[2020-03-26 16:27] Tanvez commented on #200
I can see where you're coming from @fallon7284. If we were keeping track of user consent in the Database, then I think we would need to use redux thunk eventually to send this data from the Frontend.

[2020-03-26 17:00] SomeMoosery commented on #200
Yeah I think we'd want to persist this application to the database so that the user only has to agree once, and then on subsequent logins we'd query the database to see if the logged-in user has already consented or not. So, it seems like Redux would be applicable here, right?

Good point on not necessarily requiring Redux for simple like intra-component functionality that doesn't need to persist

[2020-03-26 17:09] JWaltuch commented on #189
I can take a crack at this. I might have some time later this afternoon.

[2020-03-26 17:31] Tanvez commented on #200
I'm thinking we set up the the showModal locally as before. We can use the browser's local storage to hold the user consent data for now and setup redux to post/get data later. I can setup the reducers and actions if you want to prep for future database connections.

[2020-03-26 17:34] Afrogrrrl commented on #204
Would be happy to take this one on!

[2020-03-26 17:35] SomeMoosery commented on #200
So you’re saying we implement this locally for now, using Redux? If so, I definitely agree. If not, I may be missing something.

[2020-03-26 17:39] Tanvez commented on #200
Sorry for the confusion! I meant locally without redux for now. Since the disclaimer component is only using state to toggle the modal on and off.

[2020-03-26 17:55] liadove commented on #204
for my understanding useReducer is not the same as Redux. useReducer helps to control inputs in this case. If I understand it right?

[2020-03-26 18:16] SomeMoosery commented on #204
Yeah, `userReducer` is separate from Redux, but since for the time being we've decided to move forward with Redux, this story would be more of a refactoring of this code to utilize Redux, right?

[2020-03-26 18:17] SomeMoosery commented on #200
Sounds good! Yeah, I was just going to say I'd leave it up to you - we could implement this locally for now and the refactor to use Redux later, but why not just kill two birds with one stone yaknow

[2020-03-26 18:18] SomeMoosery commented on #189
Sounds good @JWaltuch !

[2020-03-26 18:18] SomeMoosery commented on #204
And sounds good @Afrogrrrl !

[2020-03-26 18:25] fallon7284 commented on #204
Absolutely right, I completely misunderstood what was happening in this file.  This is all being done just to handle form inputs within this component.  Mea Culpa.

[2020-03-26 18:29] SomeMoosery commented on #204
No problem! It's a great point-out though, this may have gone unnoticed not being in Redux for some time, and we want to rely on it for anything non-trivial 👍 . May be worthwhile to edit the issue to more contextualize refactoring this to use Redux

[2020-03-26 18:41] liadove opened #205 "Disclaimer saving state"
## Summary

Have redux variable for the user answer for disclaimer, which will store values: 'agree', 'not agree' (true, false?). In the future, we'll store it in the database inside the user table. So that way we'll know if the user agreed to the disclaimer.

## Motivation

Why are we doing this?
We don't want the disclaimer to pop up every time and it won't go away because buttons currently don'

[2020-03-26 18:44] fallon7284 commented on #204
I wouldn't even think this gets refactored to Redux, though, now that I understand what it is.  It's holding form state pre-submission.  I don't think you want to use the redux store to hold form state within a single component.
I think through my misunderstanding I unfortunately created work that didn't need to be done.  I'm not super comfortable editing the issue and would just hope to bring @Af

[2020-03-26 18:50] liadove commented on #204
@fallon7284 That's totally fine! I wasn't clear when I wrote it, maybe I should've used regular useState instead? But I thought we can add more symptoms in it, and it would be easier to put it in useReducer. And also it much less code!

[2020-03-26 18:50] liadove commented on #203
I'll try to take a look at that!

[2020-03-26 19:06] AdhamAH commented on #189
O am sorry I should assigned to myself, @JWaltuch , talk to me. I was working on it

[2020-03-26 19:11] SomeMoosery commented on #204
Ah, okay, I see what's going on now. Apologies about that. You're right, this is trivial in the sense that we shouldn't be storing like intra-component state in Redux. I think `useReducer` actually maybe was best since it is more likely that `useReducer` is more reusable.

@Afrogrrrl - would you be willing to take on another issue instead of refactoring this? Apologies for the confusion I caused.

[2020-03-26 19:12] Afrogrrrl commented on #204
No problem, I can definitely take on something else

[2020-03-26 19:12] SomeMoosery commented on #189
No problem!

I'd say you and @JWaltuch should collaborate / pair up so we don't end up losing any valuable code, but let's try to stick with @JWaltuch creating the PR for this now to keep consistency/clarity 👍

[2020-03-26 19:13] Afrogrrrl commented on #205
I can take this one on

[2020-03-26 19:15] SomeMoosery commented on #204
Sounds good - I'll close this issue then.

Agile at it's best!

[2020-03-26 19:15] #204 closed

[2020-03-26 19:22] #14 closed

[2020-03-26 19:25] JWaltuch commented on #189
@AdhamAH Let me know where you are at and your thoughts, because I was just about to start it so I don't have any code to contribute yet. I don't know if you'd prefer to collaborate or for me to tackle something else if you are already deep into it.

[2020-03-26 20:16] liadove opened #208 "Symptom Tracker Survey appearance"
## Summary

I was thinking about when the Symptom tracker survey should appear? Should we have a button under the message "Let's log your health for today"? Or/and we can click on a white circle on the calendar (will point on today's day)? Or/and will pop up when you logged in but didn't fill the survey out?

## Motivation

We want people to submit the survey every day, and visualizing it clearly

[2020-03-26 20:48] SomeMoosery commented on #208
I would say this is parallelizable, and a separate issue for all three points you mentioned.
1. Create a button that opens symptom tracker survey
2. Add functionality to click on today's date (highlighted) and open symptom tracker survey
3. Add functionality to display survey on login, if survey hasn't yet been completed for the day

This was a great addition @liadove - great way to break things o

[2020-03-26 21:09] liadove commented on #208
Sure! @SomeMoosery will do this now. I just wanted to confirm it with everybody before creating issues.
You are right about the data model. It would be helpful to know what tables and attributes we're going to have on the backend to build redux :)

[2020-03-26 21:17] AdhamAH opened #211 "Change disclaimer to Material-UI dialog"
## Issue

As we are moving to be using Material-UI, we should restyle the Disclaimer to utilize the Material-UI library

## Motivation

To make the transition to Material-UI and keep consistency in the app

[2020-03-26 21:19] Afrogrrrl commented on #211
On it!

[2020-03-26 21:21] SomeMoosery commented on #211
I'm a bit confused - is the purpose of this issue to stylize the Disclaimer with Material-UI?

If so, I may be reiterating myself a bit now but want to keep things clean - when fixing these we should still make two separate PRs - one for saving disclaimer state (that fixes #205), and another for restyling (solves this one)

[2020-03-26 21:22] Afrogrrrl commented on #211
Yes I'll be making a separate PR for #205 and one for this one. Sorry that wasn't clear

[2020-03-26 21:23] #203 closed

[2020-03-26 21:25] AdhamAH commented on #211
It is my way of explaining things @SomeMoosery I should say it is separate. sorry

[2020-03-26 21:26] SomeMoosery commented on #211
Perfect - sounds good! I figured that was the case, but just wanted to be sure on my end!

I also quickly edited this Issue just because, moving forward into the weekend when we release a unified contribution process, we'll be only giving contextual information and acceptance criteria in issues, removing anything relating to conversations/background/etc to keep things as clean as possible. Just th

[2020-03-26 21:34] AdhamAH commented on #211
I see the point totally agree!

[2020-03-26 21:36] liadove opened #212 "Create TakeSurvey button"
## Summary

- [x] Create a button that opens symptom tracker survey
- [x] Set up a route /symptomsurvey

## Motivation

The button should redirect to symptom tracker survey

[2020-03-26 21:39] Afrogrrrl opened #213 "Broken logo img on sign in"
### Prerequisites

* [ X] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in QA
    * Followed all applicable steps in the TROUBLESHOOTING guide: TODO
    * Checked for relevant discussions on Discord: <https://discord.gg/pPERUuv>
    * Checked that your issue isn't already filed: <https://github.com/COVID-19-electronic-health-system/C

[2020-03-26 21:46] liadove opened #214 "Add functionality to Calendar to take user to Symptom Tracker Survey"
## Summary

- [ ] Add functionality to click on today's date (highlighted) and open symptom tracker survey
- [ ] Remove event handler callback

## Motivation

Should redirect to symptom tracker survey

Example view:
https://raw.githubusercontent.com/COVID-19-electronic-health-system/Corona-tracker/master/design/wireframes/FINAL-V1-03.20/CORONATRACKER%20UI%20-%20Health%20Log%20-%20My%20Log.png

[2020-03-26 21:50] liadove opened #215 "Redirect to Symptom Tracker Survey when user login"
## Summary

Add functionality to display survey on login, if survey hasn't yet been completed for the day

## Motivation

We want people to submit the survey every day, and visualizing it when they didn't submit it yet will help us remind people to do so.

[2020-03-26 21:53] #208 closed

[2020-03-26 21:54] liadove commented on #208
issues:
https://github.com/COVID-19-electronic-health-system/Corona-tracker/issues/212
https://github.com/COVID-19-electronic-health-system/Corona-tracker/issues/215
https://github.com/COVID-19-electronic-health-system/Corona-tracker/issues/214

[2020-03-26 22:02] liadove commented on #212
I'll try to implement this

[2020-03-26 22:14] njordhov opened #216 "Simplify use of the Blockstack SDK"
## Summary

Simplify use of the BlockStack SDK by integrating the [react-blockstack](https://github.com/njordhov/react-blockstack) library.

## Motivation

The [react-blockstack](https://github.com/njordhov/react-blockstack) library provides modern react hooks for the BlockStack SDK, including for session management. It will cut down on some of the boilerplate code and make Blockstack functionalit

[2020-03-26 22:27] #200 closed

[2020-03-26 22:29] #189 closed

[2020-03-26 22:31] njordhov opened #218 "Enable front-end development without requiring a server"
## Summary

Make the app work without a server by adapting to having no access to Radiks.

## Motivation

Having the app also work without being connected to Radiks would immediately make development more approachable, as front-end development is possible without setting up a local backend and database.

## Additional context

For the longer run, it would be beneficial for the app to work even if

[2020-03-26 22:35] njordhov commented on #216
The changes are mostly in the App component for now. It's not a major refactor but can be implemented quickly.

[2020-03-26 23:08] njordhov commented on #200
Such issues should have been caught by unit testing rather than committed to master. Can we set up a process to handle that?

[2020-03-26 23:12] njordhov opened #221 "Perform unit testing"
## Summary

Unit testing should catch issues early to avoid breaking master.

## Motivation

Issue #200 reports a bug that caused loading/compiling the app to fail for development. This adds friction and may even turn off new developers. We should catch such issues before they are committed to master, by having processes such as unit testing.

[2020-03-26 23:19] AdhamAH commented on #187
@fallon7284 thanks for working on it! Please try to keep in mind using Material-UI styling in doing this but use the jsx normal input tag.

[2020-03-26 23:27] fallon7284 commented on #187
Well thats going to take some reworking, it's nearly finished but I've done it all with Material-UI components

[2020-03-26 23:37] SomeMoosery commented on #218
Is this something different than what I've quickly set up - running a Radiks server on a deployed AWS EC2 instance and setting the appropriate environment variable? This is obviously not built for scale but felt that it would satisfy our current needs.

I'm new to Radiks, so forgive my ignorance on the topic.

[2020-03-26 23:40] SomeMoosery commented on #200
Testing is very much needed, I agree. It's definitely been high on priority list, especially after releasing an initial buggy alpha / general POC this Friday.

I'm writing out a contribution document I'll be much stricter on after this push, and testing being an assumed DOD is one of the first "commandments," so to speak

Perhaps it should be even higher priority, though...

[2020-03-26 23:42] #212 closed

[2020-03-26 23:56] SomeMoosery opened #223 "Survey Screen is not Centered on Desktop"
### Prerequisites

* [ X ] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in QA
    * Followed all applicable steps in the TROUBLESHOOTING guide: TODO
    * Checked for relevant discussions on Discord: <https://discord.gg/pPERUuv>
    * Checked that your issue isn't already filed: <https://github.com/COVID-19-electronic-health-system/

[2020-03-27 00:04] SomeMoosery opened #224 "Create "Subscribe Field/Button for Alpha Testing""
## Summary

For the alpha test releasing Friday, one of the milestones is a basic notification service. While we don't necessarily need to decide on the final location of this, we need to present the user with the ability to subscribe to our notifications service.

For the time being, this can be a simple text input field asking for the user's phone number, and a button handling submit. We will wo

[2020-03-27 00:36] ngiangre opened #225 "Connecting Backend with Analytics"
## Summary

Evehntually we will be collecting self reported data. That data will be stored in our backend. We need to establish how and when that data can be extracted to derive insights

## Motivation

We neeed to understand who is using the app and their characteristics so we can better serve the user base with tailored development of the application based on reporting.

## Describe alternatives

[2020-03-27 00:51] ngiangre opened #226 "Internal Alpha testing feedback"
We put out a survey to receive initial survey of the app on 3/25.

https://docs.google.com/forms/d/1O8cHN4Wowh21K1LPIsBInOLGA4IjaAYfDet5o89rdOc/

Here is the feedback according to these instructions:

**1. Go to the website at http://coronatrackerv1.s3-website-us-east-1.amazonaws.com/**

**2. Press Get started and login**

- 4/14 were not familiar with blockstack, 2/14 were confused by a secret ke

[2020-03-27 02:10] #213 closed

[2020-03-27 02:21] crispinamuriel commented on #224
I'd like to be assigned to this issue, please.

[2020-03-27 02:23] SomeMoosery commented on #224
Sounds good!

[2020-03-27 02:35] awu556 commented on #30
So the dailytracker.js sub component is basically each of the days I have listed here
![WeeklyTrackerWork3 26 20](https://user-images.githubusercontent.com/49773123/77715491-20994980-6fb2-11ea-83ca-df17c24890e6.png)
compared to the wireframe
![WireframeWeeklyTracker](https://user-images.githubusercontent.com/49773123/77715506-28f18480-6fb2-11ea-8251-b53b274764ac.png)

[2020-03-27 02:44] awu556 commented on #29
I'm stuck on this issue now since it correlates directly with issue #30, see that post for more info.

[2020-03-27 02:51] suhacker1 commented on #182
I tested the different apps and actions on my own fork. The clear winners were LGTM and SonarCloud Scan. LGTM found 1 error, 3 warnings, and 11 recommendations. SonarCloud Scan found 1 bug, 5 security "hotspots", and 41 "code smells". In terms of usability, LGTM was much easier to analyze and configure. SonarCloud Scan required a more involved GitHub workflow setup that included creating GitHub an

[2020-03-27 03:19] suhacker1 opened #229 "Establishing a security process"
To manage security vulnerabilities in our code, we should establish a clear security policy that describes our disclosure policy, security update policy, security-related configuration tips, and known security gaps. I think it would be a good idea to allow contributors to raise vulnerabilities as issues, and then create security advisories (which can only be done by users with admin access) for ef

[2020-03-27 03:28] SomeMoosery commented on #229
I've really appreciated the work you've been doing with regard to researching security measures - I'll reach out tomorrow to discuss further

I'll assign you to this as well since you said you're willing  👍

[2020-03-27 03:38] #205 closed

[2020-03-27 03:45] SomeMoosery opened #230 "Standup Basic Notification Service"
## Summary

As one of the milestones we want to reach in our alpha state 3/27, we want a basic notifications service set up. Users should be able to input their phone numbers be subscribed to a notification service sending, for the time being, facts about the Coronavirus to users.

This will be a proof-of-concept microservice that will certainly need multitudes of improvements regarding security,

[2020-03-27 05:10] SomeMoosery opened #232 "Disclaimer should appear on top of all other elements"
### Prerequisites

* [ X ] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in QA
    * Followed all applicable steps in the TROUBLESHOOTING guide: TODO
    * Checked for relevant discussions on Discord: <https://discord.gg/pPERUuv>
    * Checked that your issue isn't already filed: <https://github.com/COVID-19-electronic-health-system/

[2020-03-27 05:19] #224 closed

[2020-03-27 09:27] crispinamuriel commented on #223
May I be added to this issue? (I would welcome anyone else to try and fix it as well!)

[2020-03-27 13:32] SomeMoosery commented on #223
All you 👍

[2020-03-27 13:55] tesla809 opened #233 "INNOVATION TEST: Place a sample chart into education card by reusing Chart.js"
## Summary
Place a sample chart.js into education card in the sliding cards feature.
Please reuse the chart.js component we already have to do so.

The idea is that pictures, graphs/charts can convey information much quicker and denser than just text. It is a bit more engaging as well.

KEY: This is more of a test. Don't spend too much time on it. It's more to see how it would look and if its some

[2020-03-27 14:10] JWaltuch commented on #232
I can take this :)

[2020-03-27 15:08] #232 closed

[2020-03-27 15:08] SomeMoosery commented on #233
@pavel-ilin are you working on this?

[2020-03-27 15:11] SomeMoosery commented on #218
Oh, I think I see what you're saying. Basically, a strategy just so that the user can run just the frontend, and any necessary data we need to read in isn't queried through Radiks.

Would this require hard-coding in data? Are there any resources out there I could read up on? I'm not super familiar with Blockstack/Radiks and haven't really used a managed PaaS backend like this before, so any jumpin

[2020-03-27 15:16] tesla809 commented on #233
This can definitely be done at a later time after v2 release since we are on a time crunch.

[2020-03-27 15:29] JWaltuch commented on #214
I can probably take this. Just wanted to make sure I understand it. When clicking on today's date only (no other dates) it should simply redirect to the Symptom Tracker Survey?

[2020-03-27 15:56] SomeMoosery commented on #214
I think for the time being, yes that's all we want to do. Just because we don't currently have a way of displaying already-completed surveys (no component to fetch that day's survey and display the data). Later on, we should have a way to display past surveys outside of the calendar and the functionality to click on any date and be brought to the component showing that day's survey, if that makes

[2020-03-27 16:15] JWaltuch commented on #214
Hm... right now it's set up with React Hooks to just create an empty event when you click on the date.  Should I leave it as creating an empty event, and then have it redirect?

Based on my understanding of the app, it seems like the survey data will be stored in the database. So creating a calendar event in the database could be handled by the survey component, and the calendar data in the calend

[2020-03-27 16:25] SomeMoosery commented on #214
I agree! All really good points. Yeah, to keep this issue in scope, let's just remove the callback here and simply have it redirect to the survey page, since we won't be using this calendar to actually create events but just to redirect to certain dates, like you said. I'll create another story for persisting the story to the database, as those are distinct enough changes that they should be separ

[2020-03-27 16:29] SomeMoosery opened #237 "Persist Survey Results to Database"
## Summary

- [ ] On completing a survey, an Observation is created and persisted to the database using Radiks.

## Motivation

We need a way to save survey responses, and should start persisting this to the database.

[2020-03-27 16:29] #211 closed

[2020-03-27 16:37] SomeMoosery opened #238 "Fix validateDOMNesting error"
### Prerequisites

* [ X ] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in QA
    * Followed all applicable steps in the TROUBLESHOOTING guide: TODO
    * Checked for relevant discussions on Discord: <https://discord.gg/pPERUuv>
    * Checked that your issue isn't already filed: <https://github.com/COVID-19-electronic-health-system/

[2020-03-27 16:50] pavel-ilin commented on #233
Working on it now.

[2020-03-27 17:17] pavel-ilin commented on #233
I prefer not to push it yet because it's innovation.
Here how the Chart component looks like in the cart:
![alt text](https://gfycat.com/crazybonydrafthorse)

[2020-03-27 17:47] pavel-ilin commented on #233
I did not push it yet because it's just a test.
Here how Chart component looks inside the Card component

![test](https://s5.gifyu.com/images/ezgif-3-73b40a132284.gif)

[2020-03-27 18:03] JWaltuch commented on #238
Finished my last issue. I can check out this one :)

[2020-03-27 18:15] tesla809 commented on #233
looks promising!!!

[2020-03-27 18:24] #214 closed

[2020-03-27 18:26] SomeMoosery commented on #233
Wow, this is awesome! We should definitely figure out a way to incorporate this soon - makes the app feel a lot more "alive"

[2020-03-27 18:32] #216 closed

[2020-03-27 18:52] crispinamuriel commented on #237
I would like to contribute to this issue. I'm sure I'll be working on it for quite a while. Please message me in discord (@jenn) if anyone would like to help.

[2020-03-27 18:57] SomeMoosery commented on #237
Hi @crispinamuriel - apologies for not expressing this sooner. I actually need to look more into this issue for the time being in order to finalize a data model that we want to persist to Redux. For the time being, I'm going to mark this as a long-term change.

[2020-03-27 18:57] njordhov opened #244 "Use react hook for authentication status and Blockstack session"
### Description

With #216 the authentication status and other functionality from the Blockstack SDK is available in function components through the `useBlockstack()` hook from the [react-blockstack](https://github.com/njordhov/react-blockstack) library, as in:

[code]

This should supersede passing down authentication status through the `authed={authenticated}` prop.

[2020-03-27 19:01] ngiangre commented on #237
Let me know if you need help with the data model

On Fri, Mar 27, 2020 at 2:57 PM Carter Klein <notifications@github.com>
wrote:

--
Cheers,

*Nick Giangreco*
Columbia University Systems Biology Ph.D. Student
716.713.2124

[2020-03-27 19:48] #238 closed

[2020-03-27 19:56] #223 closed

[2020-03-27 20:19] AdhamAH commented on #188
I was waiting for the changes to be made to the disclaimer. Now it looks like it is not needed anymore

[2020-03-27 20:19] #188 closed

[2020-03-27 20:22] SomeMoosery commented on #188
Sounds good. We can always open another ticket later if we decide to do something differently :)

[2020-03-27 20:26] #187 closed

[2020-03-27 20:28] #230 closed

[2020-03-27 20:30] SomeMoosery opened #248 "Subscribe to notifications service on button click"
### Summary

When the user enters their phone number and clicks submit, we want to subscribe this user to receive text messages from our notifications service.

We currently don't have an unsubscribe button, so as of the 3/27 release, subscribers will be automatically unsubscribed after two days.

[2020-03-27 20:41] Afrogrrrl commented on #244
Just to clarify on what this is asking for, do you want all of the components using `authed={authenticated}` to be changed to use the `useBlockStack()` hook?

[2020-03-27 21:47] #248 closed

[2020-03-27 21:51] AdhamAH opened #251 "change Headache in SymptomsTracker to be mobile size"
## issue

how originally it looks

![Screenshot 2020-03-27 at 22 49 42](https://user-images.githubusercontent.com/55054963/77803428-653de700-707d-11ea-88fb-fb730b23491e.png)

to look like:

![Screenshot 2020-03-27 at 22 50 17](https://user-images.githubusercontent.com/55054963/77803459-725ad600-707d-11ea-96b3-1eaf2743c4ce.png)

## Motivation

To keep consist look

[2020-03-27 21:56] SomeMoosery commented on #251
Are you working on this? Or is this good for someone else to pick up?

[2020-03-27 21:59] AdhamAH opened #252 "Large Screens view"
## Idea

To make the view in large screens inline like this:

![Screenshot 2020-03-27 at 22 22 13](https://user-images.githubusercontent.com/55054963/77803730-1f355300-707e-11ea-9e49-205e76a39195.png)
**just an example, not end result**

## Motivation

To make the use of the app easier to read and follow in a big screen

[2020-03-27 22:00] AdhamAH commented on #251
yes, it is done actually. fast change then will make PR and close it in that PR, good?

[2020-03-27 22:01] SomeMoosery commented on #251
Yup! Sounds good, just make a PR resolving this and I'll give it a lookover/merge it in 👍

[2020-03-27 22:02] njordhov commented on #244
Yes. Either in one swoop, or updated as they're edited for other reasons. New components should use the hook rather than pass down the values.

[2020-03-27 22:16] #251 closed

[2020-03-27 22:26] AdhamAH commented on #244
so do you suggest  using a button component like this:
`import { useBlockstack } from 'react-blockstack'

function Auth () {
    const { signIn, signOut } = useBlockstack()
    return (
        <button disabled={ !signIn && !signOut }
                onClick={ signIn || signOut }>
            { signIn ? "Sign In" : signOut ? "Sign Out" : "..." }
        </button>
    )
}`

[2020-03-27 23:08] BrianHHough opened #254 "Looping circle after blockstack login"
### Prerequisites

* [X] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in QA
    * Followed all applicable steps in the TROUBLESHOOTING guide: TODO
    * Checked for relevant discussions on Discord: <https://discord.gg/pPERUuv>
    * Checked that your issue isn't already filed: <https://github.com/COVID-19-electronic-health-system/Co

[2020-03-27 23:36] SomeMoosery commented on #254
Are there any error messages when running chrome dev tools (`Cmd+Optinon+i` on OSX)? Could be duplicate of #180

[2020-03-28 00:14] njordhov commented on #254
The endless spinner may happen if a Radiks server is not available at the configured or default URL, at least until #218 eventually has been addressed.

[2020-03-28 00:27] SomeMoosery opened #255 "Bubble up refs to child components in SymptomTracker"
## Summary

Bubble up refs to questions passed in as sub-components to `SymptomTracker`

**[Follow this StackOverflow post for reference](https://stackoverflow.com/questions/44829436/react-interact-with-child-component)**

## Motivation

To start setting up our application to work with Redux, one of the top priorities is, once a user clicks "Save My Responses," the data from the survey is stored a

[2020-03-28 00:45] SomeMoosery opened #256 "Store survey data in Redux"
## Summary

- [ ] save submitted observation in Redux after successful database write

**NOTE: we want to only persist data to Redux once we have successfully persisted this data to the database. I'd point to implementing this change in the `submitSurvey()` method of `SymptomsTracker`.**

## Motivation

- Once we persist an observation to the database, we store this data in Redux
- This eliminates

[2020-03-28 01:55] SomeMoosery commented on #255
I'll take this one!

[2020-03-28 02:06] SomeMoosery opened #259 "All tests fail due to package management"
### Prerequisites

* [ X ] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in QA
    * Followed all applicable steps in the TROUBLESHOOTING guide: TODO
    * Checked for relevant discussions on Discord: <https://discord.gg/pPERUuv>
    * Checked that your issue isn't already filed: <https://github.com/COVID-19-electronic-health-system/

[2020-03-28 02:13] SomeMoosery commented on #259
This is currently the [pinned issue](https://github.com/facebook/create-react-app/issues/8680) on `create-react-app` - going to need a temporary workaround

[2020-03-28 03:15] #259 closed

[2020-03-28 15:16] #165 closed

[2020-03-28 16:24] fallon7284 commented on #244
Can I take this?

[2020-03-28 16:25] SomeMoosery commented on #244
All you, I'll assign you 👍

[2020-03-28 17:31] pavel-ilin commented on #233
Yes, it makes app more interactive and alive. We can reuse Chart.js component and feed it different data for each card.

[2020-03-28 18:07] #244 closed

[2020-03-28 18:28] ransing opened #264 "Integration of behavioral components: FrontEnd"
## Summary

This is a follow up from the previous [issue](https://github.com/COVID-19-electronic-health-system/Corona-tracker/issues/129).

## Motivation
The mock application is [here](https://covidmentalhealth.netlify.com/)
Code [here](https://github.com/Bellex0/covid-mental-health)
Questions [here](https://docs.google.com/spreadsheets/d/1C40mBKCm7-B9WIEEOXPKdfQqVy9mhxZuHEescg2nV-o/edit#gid=0)
Ad

[2020-03-28 19:12] #255 closed

[2020-03-28 19:21] SomeMoosery opened #266 "Persist observation to database on survey submission"
## Goal
We now have a successful survey functionality, and the button click callback wired up properly to handle all data at once. We now want to persist this data to be the backend using Blockstack.

On the submission callback, we want to pass all relevant data into one function that will persist data about the observation into the database.

[This will use Blocktack's Radiks package to create th

[2020-03-28 20:10] ransing opened #267 "Integration of behavioral components: Backend"
## Summary
For the summary of components/code/demo please refer to #264

The mock application is [here](https://covidmentalhealth.netlify.com/)
Code [here](https://github.com/Bellex0/covid-mental-health)
Questions [here](https://docs.google.com/spreadsheets/d/1C40mBKCm7-B9WIEEOXPKdfQqVy9mhxZuHEescg2nV-o/edit#gid=0)

## Motivation
Trying to figure out how the fetch (to save the responses) to the ba

[2020-03-28 21:53] fallon7284 opened #268 "Add redux-logger middleware"
## Summary

We should be able to start working on wiring up our React components with Redux soon, and I was digging through what Redux files are present, and realized it was unclear what is functioning and what isn't, which reminded me that someone last night mentioned adding redux-logger which is a fantastic logging middleware for redux that shows how the state of the store changes with every dis

[2020-03-28 21:56] fallon7284 commented on #268
@SomeMoosery @AdhamAH @tesla809 I'd be happy to do this real quick.

[2020-03-28 21:56] SomeMoosery commented on #268
That would be awesome, assigning you now

[2020-03-28 22:08] #268 closed

[2020-03-29 00:28] njordhov opened #270 "Set up continuous deployment"
## Summary

Set up _continuous deployment_ of the front-end from the github repo, serving a live app automatically built from the latest master.

## Motivation

Anyone can check out the current status of the project without having to build it locally.

## Additional context

We can deploy the front-end on a static site host such as [Netlify](https://docs.netlify.com/configure-builds/get-started/)

[2020-03-29 01:59] crispinamuriel commented on #256
Can I try to help with this issue? I'd gladly work with anyone if it needs to be done quickly.

[2020-03-29 02:20] crispinamuriel opened #272 "public folder and favicon clean up"
### Prerequisites

* [ x ] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in QA
    * Followed all applicable steps in the TROUBLESHOOTING guide
    * Checked for relevant discussions on Discord: <https://discord.gg/pPERUuv>
    * Checked that your issue isn't already filed: <https://github.com/COVID-19-electronic-health-system/Corona

[2020-03-29 02:21] crispinamuriel commented on #272
I'd like to do this!

[2020-03-29 02:31] SomeMoosery commented on #256
We actually are gonna put this on hold until #237 is done. Apologies I'll update the tags!

[2020-03-29 02:35] #272 closed

[2020-03-29 03:49] #118 closed

[2020-03-29 14:59] AdhamAH commented on #264
From building and styling point of view, that can be integrated into the app. We already have reusable components that can be used with this or need a bit of tweaking.
But I think the priority now should be to finish the main features (physical health I mean) that already in progress and then we can add upon.

[2020-03-29 15:05] Afrogrrrl commented on #266
@SomeMoosery if you're not working on this I'd like to take a crack at it since I've yet to touch anything related to backend and would like to start learning how to work with blockstack and radiks

[2020-03-29 15:07] SomeMoosery commented on #266
I am currently working on this, apologies for not commenting on it - I have a WIP PR out #237 that I've been working closely with @njordhov to complete as a first pass. Feel free to add to the discussion there - it's definitely an open conversation! I'm just trying to glean out the best pattern for interacting with Gaia. Once I do, the backend work will certainly increase.

Apologies there hasn't

[2020-03-29 16:00] awu556 opened #277 "[Health Log]: Combining Calendar.js and WeeklyTracker.js with Redux data flow"
## **Before attempting, check if issue #256, #266 , #271, #237 are resolved**

## Summary

The Health Log needs to be integrated with the Calendar.js and WeeklyTracker.js with functionality specific to each component. This is a complex issue, before taking this on, you will have to be familiarity with the `@full-calendar` and `react-toastify` packages, along with Redux in order to connect it all t

[2020-03-29 16:02] SomeMoosery commented on #270
Could this be a duplicate of #128 or is this something different?

Definitely something we need to consider

[2020-03-29 16:04] SomeMoosery commented on #237
Closing because I accidentally made a duplicate issue doing this with a PR out for it #266

[2020-03-29 16:04] #237 closed

[2020-03-29 16:08] SomeMoosery opened #278 "Integrate ESLint"
## Summary

We need a linter for our project, and ESLint is typically the industry standard for this

## Motivation

As this project grows, it's important our code stays as clean as possible and sticks to similar rules. Therefore, implementing something like this is frankly overdue.

## Describe alternatives you've considered

JSLint? There's not really much of an alternative, ESLint is pretty ubi

[2020-03-29 16:08] SomeMoosery commented on #278
I'll be implementing this, as it's a one-off change.

[2020-03-29 16:09] SomeMoosery opened #279 "Integrate Prettier"
## Summary

We need to have an agreed-upon auto-formatter for our project, and Prettier is industry standard.

## Motivation

PRs are often inundated with extra changes that vary based on individuals' styling patterns, etc. Prettier will eliminate that headache.

## Describe alternatives you've considered

Other formats, but like ESLint, Prettier is ubiquitous

[2020-03-29 16:10] SomeMoosery commented on #279
I'll be taking this on, as it's a one-off change.

[2020-03-29 16:12] SomeMoosery opened #280 "DISCUSSION: Migration to TypeScript"
## Summary

I'm personally a big fan of TypeScript, and think it lends itself to far superior projects overall, both in terms of code clarity and structure. If you don't know what TypeScript is or why it's better than JavaScript, [here](https://www.guru99.com/typescript-vs-javascript.html#4) is a useful summary.

## Motivation

TypeScript encourages our code to be more "mature," and adds a lot mor

[2020-03-29 16:16] SomeMoosery opened #281 "Multiple Warnings/Errors on Survey Load"
### Prerequisites

* [ X ] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in QA
    * Followed all applicable steps in the TROUBLESHOOTING guide: TODO
    * Checked for relevant discussions on Discord: <https://discord.gg/pPERUuv>
    * Checked that your issue isn't already filed: <https://github.com/COVID-19-electronic-health-system/

[2020-03-29 16:19] SomeMoosery opened #282 "Text Logo Misaligned on Disclaimer on Mobile"
### Prerequisites

* [ ] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in QA
    * Followed all applicable steps in the TROUBLESHOOTING guide: TODO
    * Checked for relevant discussions on Discord: <https://discord.gg/pPERUuv>
    * Checked that your issue isn't already filed: <https://github.com/COVID-19-electronic-health-system/Co

[2020-03-29 16:31] SomeMoosery opened #283 "Persist Disclaimer Answer to Gaia"
## Summary

While we should definitely continue to store user's disclaimer agreement in Redux for easier access when rendering components, we should also persist this to the database so that the next time the user logs in, they won't have to re-consent to the agreement.

A long-term change to this could be, on login, doing a one-time database read to see if the user has already consented. If not,

[2020-03-29 16:36] pavel-ilin commented on #233
Should we close this issue?

[2020-03-29 16:39] SomeMoosery commented on #233
I think we can leave it open for the time being, until it’s been fully implemented. I’m open to ideas though - thoughts?

[2020-03-29 16:54] AdhamAH commented on #282
I noticed this and already fixed it and will be pushed with PR in #276

[2020-03-29 17:30] SomeMoosery commented on #282
Sounds good! Just referenced this in your PR so it'll close when that's ready to merge

[2020-03-29 17:32] #252 closed

[2020-03-29 17:50] SomeMoosery commented on #87
Closing this for now, as we aren't going to be utilizing Radiks for some time and can therefore close out this issue, as if/when we do implement this it will be a much different architecture.

[2020-03-29 17:50] #87 closed

[2020-03-29 18:09] SomeMoosery commented on #266
Closed by #271

[2020-03-29 18:09] #266 closed

[2020-03-29 18:21] pavel-ilin opened #285 "Chart.js component test failed"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in QA
    * Followed all applicable steps in the TROUBLESHOOTING guide: TODO
    * Checked for relevant discussions on Discord: <https://discord.gg/pPERUuv>
    * Checked that your issue isn't already filed: <https://github.com/COVID-19-electronic-health-system/Co

[2020-03-29 18:31] JWaltuch commented on #285
Is this test still failing with the most recent merge? When I try it, it passes.

[2020-03-29 18:35] SomeMoosery commented on #285
That's because the test as it stands now isn't doing anything

[2020-03-29 18:40] tesla809 opened #287 "User Testing: test app without sign-in feature to focus on app interactivity"
## Summary
Let's test the app without the sign-in feature to focus on the app's interactivity.
The sign in flow has some issues based on the three user interviews I performed.
It blocking the testing of the app's other features.
On the suggestion of one user, we should have an instance of the app without the sign-in.
That way we can test the maps, swiping cards, etc.

## Motivation

Why are we doi

[2020-03-29 18:41] #285 closed

[2020-03-29 19:22] JWaltuch commented on #281
I can take this :)

[2020-03-29 19:27] JWaltuch commented on #281
I figured out the main errors and one of the warnings.

I'm still getting this warning:
./src/components/Login.js
  Line 17:9:  'changeLanguage' is assigned a value but never used  no-unused-vars
But I'm not certain how/where change language is supposed to be used?

[2020-03-29 19:31] JWaltuch commented on #281
Oh cool. Then I'll make a pull request because I handled the error.

[2020-03-29 19:32] SomeMoosery commented on #281
Okay nice, just be sure to add the error log from chrome inspector in your PR. Maybe that error you posted inadvertently has to do with survey, I'm not sure, I'll need some autonomy on this one to just make sure all "red" errors are fixed.

[2020-03-29 19:35] JWaltuch commented on #281
No problem :)

[2020-03-29 19:53] njordhov commented on #270
It's similar but deployed each time you change master.
Easy to set up for anyone having write access to the repo.

[2020-03-29 20:15] SomeMoosery commented on #281
Reopening: unfortunately, previous changes broke the UI when displayed on mobile, so we should find a different implementation of how to fix errors

[2020-03-29 20:17] SomeMoosery opened #290 "Refactor survey naming conventions"
After feedback on #271 we need to update the naming convention for how we store data in Gaia.

Surveys will be stored such as `observation/000000${observationNumber}.json`

[2020-03-29 20:29] SomeMoosery opened #292 "Redirect to Health Log after survey submission"
## Summary

Right now, we are doing a simple page reload after survey submission. We should redirect users out of the survey and back to the health log using the `useHistory` hook, not `window.location.reload()` as we are now.

## Motivation

We should use React Hooks wherever possible and avoid using page reloads. **This also breaks the authentication when in production, and will result in a 404

[2020-03-29 20:30] #290 closed

[2020-03-29 20:51] #101 closed

[2020-03-29 21:17] njordhov commented on #270
I set up a continuous deployment based on my own fork of the repo:

https://amazing-murdock-40487c.netlify.com/

Here is the configuration:

![image](https://user-images.githubusercontent.com/219448/77861065-aa6e3000-71c7-11ea-9fda-2fd1b06d82cc.png)

[2020-03-29 22:03] dinadeljanin opened #294 "Organizing the symptoms into cards"
## Summary

This is what the symptoms look like right now.
![Screen Shot 2020-03-29 at 17 48 37](https://user-images.githubusercontent.com/32048693/77861847-87527900-71e5-11ea-8691-46345309ee2f.png)

They're spread across one line and the inputs are sized differently... So I thought it would be awesome to separate them into little cards so that way everything can remain centered, but separated.

S

[2020-03-29 22:12] SomeMoosery commented on #294
I like this idea a lot! @BrianHHough - would something like fit in with you wireframes (I know he's the design guy so I'm going to defer to him for how to move forward 👍

[2020-03-29 22:28] AdhamAH commented on #281
@JWaltuch if you having trouble fixing this, let me know I can take it

[2020-03-29 22:43] AdhamAH commented on #294
@Tanvez used a very good package and I think it could be also used here with a bit of tweaking or do you have something in mind?

[2020-03-29 22:49] dinadeljanin commented on #294
Hey @AdhamAH, what package would that be? I can tweak it with regular CSS and material-ui. It's not a complicated fix.

[2020-03-29 23:42] BrianHHough commented on #294
@dinadeljanin Thanks so much for being able to work on this! @SomeMoosery — Dina had a great idea of making the survey have a bit more uniformity. With the UI, we'd want it to look a bit more consistent for the end user, so the cards would help to give it a bit more flow / ease of use.

[2020-03-29 23:58] SomeMoosery commented on #294
Would this fit in with the wireframes you created though? If this is a quick fix I'm all for it because I agree, the survey definitely needs improvement. But, if it's going to take a long time to fix, it may be worth trying to move towards the newer wireframes you created?

[2020-03-30 00:40] dinadeljanin commented on #294
So I'm trying to navigate around the components and alter them using material-ui-- that's probably the bulk of time needed to put this together. But for the most part, really just the container with those inputs and button groups needs to be targeted, to apply flexbox. Adding a bg to the label with the input-- have that change when checked.

[2020-03-30 01:06] AdhamAH opened #297 "Loding components"
## Idea

1- Remove the loading ball from `Login.js` to a separate component  `Loading.js`
2- Add the component to `index.js` in place of `<h1>Loading...</h1>`
3- restyle the ball
4- delete `Login.css` and style `login.js` using Material-UI

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/55054963/77866402-2d78a000-7233-11ea-8f75-e19ae2c39d64.gif)

## this is done

[2020-03-30 01:07] Afrogrrrl opened #298 "refactor all Gaia read/write requests into Redux thunks"
## Summary

As we start hooking up components to read/write to Gaia we should take advantage of Redux and put these read/write requests into thunks.

For those unfamililar with thunks, you can read more about them [here](https://github.com/reduxjs/redux-thunk). They are essentially a form of middleware. They perform calls to our dB asynchronously and update the store. .

## Motivation
This is good

[2020-03-30 01:11] Afrogrrrl commented on #298
Happy to take this one on myself, and definitely open to any thoughts on this?

[2020-03-30 01:42] SomeMoosery commented on #292
I'll take this

[2020-03-30 01:53] #292 closed

[2020-03-30 02:08] SomeMoosery commented on #277
I think this is ready to work on if anyone wants to pick this up. For each calendar date, we wouldn't populate the data through Redux (as Redux only stores current survey state), but with a database request, populating each calendar date with each associated observation.

I can take this on once I finish implement formatting, unless anybody else wants to

[2020-03-30 02:10] #282 closed

[2020-03-30 02:10] #297 closed

[2020-03-30 02:26] dinadeljanin commented on #294
Here's an update! Still chipping away. Any thoughts?

![Screen Shot 2020-03-29 at 22 26 29](https://user-images.githubusercontent.com/32048693/77869391-59ccf600-720c-11ea-923c-d930a149a309.png)

[2020-03-30 02:39] SomeMoosery commented on #294
I like that a lot!

[2020-03-30 09:22] AdhamAH commented on #294
@dinadeljanin I know that component is complicated a bit and applying Material-UI for the first time sure was not easy and will take time. Sorry I was not there to help. That looks great and goes with the flow of the app and theme!

[2020-03-30 14:58] #283 closed

[2020-03-30 15:03] SomeMoosery opened #304 "SymptomTracker test failing"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in QA
    * Followed all applicable steps in the TROUBLESHOOTING guide: TODO
    * Checked for relevant discussions on Discord: <https://discord.gg/pPERUuv>
    * Checked that your issue isn't already filed: <https://github.com/COVID-19-electronic-health-system/Co

[2020-03-30 15:39] #304 closed

[2020-03-30 15:56] SomeMoosery opened #306 "Refactor Gaia requests to utilize react-blockstack useFile"
## Summary

As mentioned in #299 by @njordhov - we want our applications to be as reactive as possible. We should use the `useFile()` function in [react-blockstack](https://www.npmjs.com/package/react-blockstack) to allow for that. We need to update any puts/gets to Gaia to utilize `useFile()`

## Motivation

We want our code to be reactive, and `useFile()` allows for a familiar interaction with G

[2020-03-30 16:40] pavel-ilin commented on #277
@SomeMoosery I can take on this one

[2020-03-30 16:42] SomeMoosery commented on #277
Yup, sounds good! I'm looking at this ticket again, and do you think it would be worthwhile to break these up into two tickets - one for calendar and one for weeklyTracker? Or would you want to just try both at once? Up to you

[2020-03-30 16:49] Afrogrrrl commented on #306
I’ll do this as part of #298

[2020-03-30 16:57] pavel-ilin commented on #277
I think I just going to do both.

[2020-03-30 20:30] liadove opened #308 "Translation"
## Summary

- [x] Add russian translation
- [x] Apply translations on disclaimer part

## Motivation

To expand user audience with russian speaker users

[2020-03-31 00:26] whoabuddy commented on #153
I felt this first-hand today trying to clone from a satellite internet connection where I've exceeded my cap. It's pretty much the same as dial-up at this point, and I've been at 33% for at least 10min now stuck between objects 621-660. (It also finished as I was typing up this issue... so c'est la vie.)

While this is definitely an extreme, I just wanted to vote that I support this idea, and also

[2020-03-31 00:32] SomeMoosery commented on #153
Oh wow! I hadn't heard of Git LFS before. I'll definitely take a look at this!

And yeah... the more we add the heavier this repo gets. I think at the very least for the short-term, we could take a lot of the wireframes out of this repo.

[2020-03-31 02:27] #294 closed

[2020-03-31 02:43] #308 closed

[2020-03-31 03:25] #298 closed

[2020-03-31 04:02] #278 closed

[2020-03-31 04:02] #279 closed

[2020-03-31 04:05] SomeMoosery commented on #256
I'm going to close this. For the time being, it seems superfluous to store this in Redux - the times we need survey data, we need to pull a specific observation from the database anyway.

[2020-03-31 04:05] #256 closed

[2020-03-31 04:09] SomeMoosery opened #316 "Dockerize React App"
## Summary

We need to Dockerize our React client. This story:
- [ ] creates a Dockerfile for React client

## Motivation

As is the case with most modern projects, we should look to Dockerize this application. While for the time being we are simply deploying to S3, that may not always be the case. We should look to Dockerize this so that if we do every host the site elsewhere we have a nice conta

[2020-03-31 04:12] SomeMoosery opened #317 "Current unable to add more than 10 observations"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in QA
    * Followed all applicable steps in the TROUBLESHOOTING guide: TODO
    * Checked for relevant discussions on Discord: <https://discord.gg/pPERUuv>
    * Checked that your issue isn't already filed: <https://github.com/COVID-19-electronic-health-system/Co

[2020-03-31 04:14] SomeMoosery opened #318 "Disable minimal/moderate/severe before checked"
## Summary

We should add the functionality to disable the buttons indicating minimal/moderate/severe on the survey, unless the checkbox is clicked. We already aren't able to change this if it's not. I suggest greying / de-highlighting the boxes until checkbox is checked.

## Motivation

It may be confusing for the user if we don't implement this.

## Describe alternatives you've considered

- All

[2020-03-31 04:18] SomeMoosery opened #319 "Don't show disclaimer if user has already consented"
## Summary

When the user logs in, use `useFile` ( #306 ) to get `"disclaimer.json"`, if it exists. If so, and it indicates that the user has already consented, do not display the disclaimer.

## Motivation

We want to make the UX as seamless as possible. If we can rid the user of a popup each time s/he logs in, that fraction of a second amounts to a much more pleasant UX.

## Describe alternative

[2020-03-31 04:19] SomeMoosery commented on #281
Closing, fixed by #303

[2020-03-31 04:19] #281 closed

[2020-03-31 04:45] SomeMoosery opened #320 "Create skeleton user settings page"
## Summary

As the final tab of our application, we need to add a user settings page. This issue can encapsulate just creating the UI to be compliant with wireframes made by @BrianHHough

- [ ] user can navigate to app by clicking settings tab
- [ ] settings page looks similar to wireframe

## Motivation

As we move this app closer to a done state, we need to ensure that all relevant features are

[2020-03-31 14:00] JWaltuch commented on #319
I'd like to try this. I haven't gotten to work with the backend yet. It's less familiar to me and I'd like to learn more about it.

[2020-03-31 14:11] SomeMoosery commented on #319
Sounds good! This one shouldn't be too tough.

You'll probably just have to use react-blockstack's `useFile` in `DiagnosticContainer` with a conditional on whether or not to display the disclaimer 👍

https://blockstack.github.io/blockstack.js/classes/usersession.html

[2020-03-31 14:31] AdhamAH commented on #320
I was testing an idea, what do you think?
![test](https://user-images.githubusercontent.com/55054963/78038309-fdcdb300-736c-11ea-8f13-88f2f96ade6c.gif)

[2020-03-31 14:34] JWaltuch commented on #319
Do I update the version for semantic versioning?

[2020-03-31 14:41] SomeMoosery commented on #319
Yup, we’ll do that for each new PR now 👍

[2020-03-31 14:48] JWaltuch commented on #316
I'd also like to give this a try if that's cool :) I've been meaning to learn how to Dockerize an app

[2020-03-31 15:37] #319 closed

[2020-03-31 15:39] SomeMoosery commented on #316
Go for it! Take a look [here](https://dev.to/ziv/dockerize-create-react-app-in-3-minutes-3om3) for reference, could be useful 👍

[2020-03-31 15:40] SomeMoosery commented on #320
Nice! I like this a lot as a start. I definitely am a fan of the popup vs a fully separate page. I'd say keep going down this route, I'll assign you 👍

[2020-03-31 16:20] whoabuddy opened #324 "Github Cleanup: Readmes and Content Organization"
## Summary

After a general review of the repository, contributing guidelines, and code of conduct, I would like to propose some changes both to the content and organization.

## Motivation

The goal will be to create content that is easier to read, navigate, and digest based on the existing information.

## Describe alternatives you've considered

There appear to be no open or related issues.

##

[2020-03-31 16:48] tesla809 commented on #324
This is a GREAT suggestion @whoabuddy ! Totally support it!

Let me know how I can help! Very excited about this.

[2020-03-31 17:03] whoabuddy commented on #324
@tesla809 Thanks! For the testing section under "Technology Stack" it mentioned Jest - should this be TravisCI, ESLint, and Prettier now? Any others? (going off [PR#312](https://github.com/COVID-19-electronic-health-system/Corona-tracker/pull/312) as reference)

[2020-03-31 18:02] #29 closed

[2020-03-31 21:00] SomeMoosery commented on #324
I think it's really a matter of semantic for how detailed we want to get with regards to tech stack. If we want to include nearly everything we're using, I'd say it would be something like this:

Frontend: React, ESLint, Prettier, Jest,
Backend: Blockstack
Database: Gaia
Deployment: AWS

For the time being. The issue here is that including packages like this is a slippery slope, because then some

[2020-03-31 21:24] JWaltuch commented on #316
I'm been trying to do this for a while, and still getting a lot of errors. I don't know if anyone would be interested in pairing, or if someone who's dockerized an app before has any advice? The error is a little long to paste, but this is where it starts: "error /app/node_modules/canvas: Command failed."

[2020-03-31 21:47] SomeMoosery opened #327 "Switch to React-Calendar"
## Summary

Moving forward, while FullCalendar was useful as a placeholder, it was an Angular-first component. Moving forward, we should use something we're more comfortable with. [react-calendar](https://www.npmjs.com/package/react-calendar) seems to work best.

Acceptance Criteria:
- [x] Remove all references of FullCalendar, make sure it's not in `package.json` (using `yarn remove`)
- [x] Insta

[2020-03-31 22:07] pavel-ilin commented on #327
I'm on it.

[2020-03-31 22:38] pavel-ilin commented on #327
I think calendar need to be styled according to the aesthetics of the app. But functionally it working well.

[2020-03-31 22:39] SomeMoosery commented on #327
Good point - let's merge this in and we can create a separate styling story 👍

[2020-03-31 22:39] #327 closed

[2020-03-31 23:16] whoabuddy commented on #324
That makes sense, I like simpler always just expanded on some of what was there already. Plus that is a good point about avoiding the slippery slope. I'll try to get this and a few other small updates done tonight or tomorrow.

[2020-04-01 00:13] tylerd92 commented on #317
@SomeMoosery I would like to take a look at this, but I do have a few questions. Is the observation data still being saved in the mongoDB database? If so what part of the backend is taking the data from the front end and saving it in the database?

[2020-04-01 00:36] SomeMoosery commented on #317
I'll assign you! So we've moved away from using Radiks (which makes use of the MongoDB database) as it added unnecessary complexity. Now, we're just using Gaia, Blockstack's built-in and managed storage solution. Take a look at `DiagnosticContainer` - we're using the `useFile()` provided by the `react-blockstack` package which allows easy setting and getting from this built-in storage.

This issue

[2020-04-01 00:53] SomeMoosery opened #329 "Create "Show Me More" Skeleton"
## Summary

One of the final components we need is the "Show Me More" tab. In `HealthLogToggle.jsx` we currently have the "My Health Log" functionality mostly in place, but we need the skeleton UI scaffolding to implement the "Show Me More" page.

<img width="342" alt="Screen Shot 2020-03-31 at 8 51 36 PM" src="https://user-images.githubusercontent.com/15767602/78088207-75153e00-7391-11ea-8d9f-718

[2020-04-01 01:10] SomeMoosery commented on #329
closing, as this is the old design. Apologies

[2020-04-01 01:11] SomeMoosery commented on #329
Nevermind, I'm losing it - we still need this

[2020-04-01 01:28] SomeMoosery opened #330 "Redirect to Onboard User if no disclaimer found"
## Summary

When logging in, as we're already checking to see if there exists a `"disclaimer.json"` in Gaia storage for the associated user in `DiagnosticContainer`, we should use that to also determine whether or not to redirect users to an initial onboarding screen (`OnboardUser`). We would probably need to utilize the `disclaimer` action/reducer to add a field for whether or not this is the use

[2020-04-01 01:31] SomeMoosery opened #331 "Query Gaia for all user data in HealthLog"
## Summary

As this is one of our more top-level components which also shows the Calendar, WeeklyTracker, etc - it makes sense to query user data here and then set Redux state accordingly for subsequent actions.

## Motivation

This allows data to be easily stored in Redux whenever needed and allows minimal database calls

## Describe alternatives you've considered

Calling the Gaia database in ea

[2020-04-01 01:31] SomeMoosery commented on #331
I'll take this on

[2020-04-01 01:34] SomeMoosery opened #332 "Add specific "Log My Health" slider in WeeklyTracker"
## Summary

As per the wireframe, beneath the calendar, whether a date is selected or not, we want to have an omnipresent "Log my health for today" slider.

- [x] Create a specific "Log My Health" slider, either in WeeklyTracker or a new component
- [x] Style similarly to the wireframe
- [x] Sliding this component takes user to the survey page

## Motivation

Gives the user another way to log thei

[2020-04-01 01:39] SomeMoosery opened #333 "Finalize Temperature Line Chart"
# Depends on #23

## Summary

- [ ] temperature line chart queries gaia storage for all temperatures, **or better yet** stores an array of all temperatures as a new redux state variable after initial database query in HealthLog
- [ ] temperature line chart looks similar to wireframe spec
- [ ] chart in placed under the toggle component

## Motivation

This is one of the necessary components in the

[2020-04-01 01:41] SomeMoosery opened #334 "Add temperature average next to temperature line chart"
## Summary

- [ ] Create a Material-UI grid implementation displaying the Temperature Line Chart (`Chart`) next to the temperature average component
- [ ] this is all contained within the symptom toggle

## Motivation

Necessary component as listed in wireframe

[2020-04-01 01:42] SomeMoosery opened #335 "Improve Language Selection on Login"
## Summary

Right now, the language selector is pretty bare bones. This is pretty greenfield, but we should make this more appealing while sticking to using Material-UI.

## Motivation

We want this UI/UX to be polished, right? :)

## Describe alternatives you've considered

Leaving it as is

[2020-04-01 01:46] SomeMoosery opened #336 "Display indicator above calendar date that user has completed survey"
###  Summary

For each calendar date, we want some indicator that the user has completed a survey for that date

- [x] Uses [`react-calendar`](https://github.com/wojtekmaj/react-calendar#readme) styling to indicate that the user has completed a survey on that day
- [x] **OPTIONAL** on initial database query in Health Log, all dates are stored in a new dates array in redux store

## Motivation

Mak

[2020-04-01 01:48] SomeMoosery opened #337 "Clicking calendar date highlights it"
## Summary

- [ ] on calendar click, date is highlighted (speak with contributor to #336 to make sure you're not using the same highlighting / indication)

## Motivation

Appealing UI!

[2020-04-01 01:53] SomeMoosery opened #338 "Clicking on calendar date creates WeeklyTrackers with all survey from that day listed below"
## Summary

This will probably require some wiring and dependencies across issue, so look through issues board to see who / if anyone is picking up issues that may be relating to this

- [ ] On calendar click, probably (unless you think of a better way) query Gaia to get observations from that day
- [ ] probably (unless you think of a better way) create a new redux state for the selected date, so

[2020-04-01 01:56] SomeMoosery opened #339 "Create Bar Chart for Symptoms"
# Depends on #23

## Summary

- [ ] Creates bar chart using package of your choosing (but be prepared to defend why you chose it in PR)
- [ ] **OPTIONAL but preferred** on initial database query in health log, create arrays of temperature, fever, sore throat, etc as new redux state variables
- [ ] Displays this bar chart in Symptom toggle

## Motivation

This is a key component of the wireframe sp

[2020-04-01 01:58] SomeMoosery opened #340 "Add indication of today's date on calendar"
## Summary

You'll need to work with other contributors working on calendar indications to ensure that you're not using the same indication

- [ ] today's date is indicated specifically, using react-calendar specs

## Motivation

Fits in with design spec

[2020-04-01 02:00] SomeMoosery opened #341 "Sliding on a WeeklyTracker slider opens the associated Show Me More date"
## Summary

- [ ] sliding on a WeeklyTracker slider for a day should open the detailed "Show Me More" page
- [ ] if not already created, you should store the date in a new redux state variable so that we can properly select it in the "Show Me More" page

## Motivation

This is part of the UX flow

[2020-04-01 02:02] SomeMoosery opened #342 "Update the Take Survey button to better represent wireframe"
## Summary

- [ ] Take survey button more closely aligns with new wireframes

## Motivation

To best prepare for 4/15 launch

## Describe alternatives you've considered

Sabotaging @BrianHHough to create a horribly ugly UI button

[2020-04-01 02:03] SomeMoosery opened #343 "Make calendar look more similar to wireframes"
## Summary

- [ ] Make map look more similar to wireframe spec

## Motivation

Prepare for 4/15 launch

[2020-04-01 02:04] SomeMoosery commented on #277
Closing this as it's too broad, new issues have been added to encapsulate these

[2020-04-01 02:04] #277 closed

[2020-04-01 02:47] njordhov commented on #317
Possibly due to the zero-padding of the observation key. The key name should be zero padded to have the same number of digits including when the number of observations goes beyond 9. It is not sufficient to just prefix the key with a set number of zeros, in which case the observation keys won't sort alphabetically. Example:

    observation/00001.json
    observation/00002.json
    observation/000

[2020-04-01 02:49] njordhov commented on #317
Just make sure to have enough zeros to avoid it ever rolling over (year-2000 bug style). Likely we'll migrate the storage scheme by the time there are 99999 observations but pad with as many zeros as seems prudent.

[2020-04-01 02:50] johnemurphy1 commented on #280
@SomeMoosery I've heard good things about TypeScript vs. Javascript. I've not written anything with it, yet. However,  I'd be happy to try and pick it up for this project. Should we poll the #front-end and #engineering teams to find out who's worked with it before? Maybe, a little more direction on what needs to be refactored and migrated to TypeScript now vs. a future version would be helpful...

[2020-04-01 03:04] SomeMoosery commented on #280
Definitely, I can give more context later tonight / tomorrow. I think it would definitely be a later stage move, as it would be refactoring every component we have and a pretty significant undertaking... definitely for when we've matured a bit since we didn't start with it

[2020-04-01 03:26] SomeMoosery commented on #317
Makes a lot of sense, I figured my initial pass had something off.

@tylerd92 take a look [here](https://stackoverflow.com/questions/10073699/pad-a-number-with-leading-zeros-in-javascript) for reference as at first glance this looks like it could be of assistance

[2020-04-01 03:53] tylerd92 commented on #317
Yup, I have a possible solution using the [padStart ](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/padStart) method in ES8 Javascript

[2020-04-01 04:46] #317 closed

[2020-04-01 13:29] AdhamAH commented on #329
I think because you felt this is made, in that case, you are right. Needed some modification to show.
It still needs to be converted to material-ui but for now it is working

[2020-04-01 14:06] #320 closed

[2020-04-01 14:06] #329 closed

[2020-04-01 14:09] pavel-ilin commented on #339
Can take on this one.

[2020-04-01 14:11] pavel-ilin commented on #333
Can take this one.

[2020-04-01 14:15] AdhamAH opened #347 "toastify package a bug"
### Prerequisites

* [ X ] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in QA
    * Followed all applicable steps in the TROUBLESHOOTING guide: TODO
    * Checked for relevant discussions on Discord: <https://discord.gg/pPERUuv>
    * Checked that your issue isn't already filed: <https://github.com/COVID-19-electronic-health-system/

[2020-04-01 14:17] AdhamAH opened #348 "Change package used in WeeklyTracker"
## This may put hold on #332 and #338 or to be done together
## Summary
Change the package `react-toastify` used in `WeeklyTracker.jsx` and use `react-spring` used in `Card.jsx`

## Motivation
1- `react-toastify`  has a bug #347 and needs some work to style.

2-  `react-spring` we already using it and proved to be reliable and gives more options regarding the motion and the style

## Alternatives

[2020-04-01 14:19] #331 closed

[2020-04-01 14:22] SomeMoosery commented on #339
Now that #331 is merged in, I'd strongly recommend storing any state from initial Gaia query in Redux 👍

[2020-04-01 14:23] SomeMoosery commented on #333
Now that #331 is merged in, I'd strongly recommend storing any state from initial Gaia query in Redux 👍

[2020-04-01 14:25] SomeMoosery commented on #347
Are you going to take this on? Or, if you want to switch over to `react-spring` will doing so close this bug as well?

[2020-04-01 14:25] SomeMoosery commented on #348
Are you taking this one?

[2020-04-01 14:32] AdhamAH commented on #347
If we use `react-spring` and remove `toastify` that will fix it. Other than that it needs fixing and I did the research but couldn't fix it.

[2020-04-01 14:34] AdhamAH commented on #348
Yeah I did my research as I was reviewing all the components after reading the new issues and pulls.

I can take this but it will take time and I am a little busy. I don't know when this should be done? @SomeMoosery

[2020-04-01 14:35] SomeMoosery commented on #347
Interesting, but it seems like since moving over to react-spring is the right move (appreciate that research good looking out!) that will hopefully get rid of this bug too 👍

[2020-04-01 14:36] SomeMoosery commented on #348
No worries! I was actually going to start looking into the WeeklyTracker work myself today, so I can pick this up as a first issue around that. Thanks for pointing this out! It’s definitely key to be sure we’re using the best packages we can be early on

[2020-04-01 14:39] SomeMoosery commented on #347
Taking this on as well in a sense, as it will be closed out by #348

[2020-04-01 15:57] Afrogrrrl commented on #306
would like some help on this if anyone is up to pair programming with me!

[2020-04-01 16:22] JWaltuch commented on #233
@pavel-ilin Is Chart.js working dependent on installing canvas? I see canvas is used in it, but my googling tells me it's built in and doesn't need installing? Installing it is also giving me errors Dockerizing the app so I want to make sure it's necessary.

[2020-04-01 16:43] pavel-ilin opened #351 "Temperature data not saved in the backend"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in QA
    * Followed all applicable steps in the TROUBLESHOOTING guide: TODO
    * Checked for relevant discussions on Discord: <https://discord.gg/pPERUuv>
    * Checked that your issue isn't already filed: <https://github.com/COVID-19-electronic-health-system/Co

[2020-04-01 16:48] pavel-ilin commented on #233
@JWaltuch Chart.js It shouldn't depend in separate canvas package. Canvas is not imported from external libraries into Chart.js. It use default canvas JSX element.

[2020-04-01 17:33] JWaltuch commented on #233
Cool :) I wonder if if it was added to package.json for Chart.js to begin with or if its for something else? That's the only place I see canvas being used

[2020-04-01 17:59] SomeMoosery commented on #351
Is anything being saved in the database - like, is temperature being stored as a string? Or is nothing being saved at all?

If the former, we should just convert it to a number before posting to gaia - if the latter... that might be more of a problem with that specific question.

Good catch! Are you willing to tackle this as well? Or should we leave this open for another contributor to take on whi

[2020-04-01 19:59] pavel-ilin commented on #351
It think it's a problem with specific question.
That's what I Blockstack give back:
![response](https://i.ibb.co/vk25LXF/Screen-Shot-2020-04-01-at-3-52-44-PM.png)

We can see that we have boolean value for the fever, but there is no key and value which will show us how high fever is.

Also I having a problem with using useFile hook for multiple files. If someone has experience work with it I would

[2020-04-01 20:13] SomeMoosery commented on #351
Hm... yeah, I'm not sure why off the top of my head but it looks like we aren't capturing [fever severity](https://github.com/COVID-19-electronic-health-system/Corona-tracker/blob/37214e8d9b9b5857149d9edb2114da68285c6db0/client/src/components/survey-view/checkbox-button/CheckboxButton.jsx#L108) for some reason.

We should look at the reducers in CheckboxButton and the way SingleCheckboxButton is h

[2020-04-01 20:32] liadove commented on #351
@pavel-ilin @SomeMoosery just fixed the issue with feverSeverity will make a PR in a minute

[2020-04-01 20:55] #351 closed

[2020-04-02 00:03] njordhov commented on #351
@pavel-ilin There should be no problem using `useFile()` for multiple files. What happened?

[2020-04-02 00:06] njordhov commented on #351
The `react-blockstack` library offers a `useFilesList` hook that returns the list off gaia filenames. It is undocumented but will be included in the official release shortly. Use like this:

    const [files] = useFilesList()

[2020-04-02 00:09] SomeMoosery commented on #351
Awesome! Taking note of this 👍

[2020-04-02 00:43] #324 closed

[2020-04-02 01:19] #347 closed

[2020-04-02 01:19] #348 closed

[2020-04-02 01:21] SomeMoosery opened #356 "Remove old Radiks code"
## Summary

Since we have moved away from Radiks, we have no need for the code in our code base that utilizes it, such as the `loadObservations` redux flow.

- [ ] remove all traces of Radiks from codebase and associated reducers, functions, etc

## Motivation

We want to keep our codebase current and up-to-date

[2020-04-02 01:35] SomeMoosery commented on #338
I'm on it!

[2020-04-02 02:22] #318 closed

[2020-04-02 14:50] pavel-ilin commented on #351
@njordhov Thank you for your respond! Yes, I can get names of the all files with using useFilesList or listFiles, bu then I need to open each of the file and use it's content. I struggling with getting access to the each file content. I can't put useFile inside the loop or a function.

Thank you for your advice!

[2020-04-02 15:15] njordhov commented on #351
As `useFile` is a hook for react you cannot put it inside a loop. The intended use in in a react function component. A typical pattern here is to have a component presenting the data from a single file, like say an observation, with filename as prop.

[2020-04-02 15:21] SomeMoosery commented on #351
So if we wanted to, say, just loop through each `observationX.json` file and get one data point from each, would it still be best to use a combination of `useFilesList`, looping through the files, and `getFile` within the loop to read the data from each?

@pavel-ilin brought up the idea of potentially going back to the drawing board with our model and instead of storing observations as separate JS

[2020-04-02 16:31] salvolpe opened #359 "Formalize fields in client/public/locales/en for translators"
Could anyone work on labeling all of the fields in `client/public/locales/en` in a formalized way? @akilhylton has done some great work to set up .json files and the react module for integrating the translations, but if there is a set format and identifiers for each section of text, it will make it a lot easier for the translations team to give you the corresponding text! I'd say you can message m

[2020-04-02 17:27] #333 closed

[2020-04-02 17:27] #339 closed

[2020-04-02 18:16] pavel-ilin commented on #340
I will do this one

[2020-04-02 18:53] #340 closed

[2020-04-02 21:00] njordhov commented on #351
I recommend that you defensively store a read-only file for each and every observation. You can complement this with a file that contains the aggregated data you actually use, eventually including an index of the observation files.

That way, the database file doesn't become a single point of failure; You can always rebuild the aggregate from the set of single observations if there is a screw-up t

[2020-04-02 21:58] whoabuddy opened #361 "Contributing file updates"
## Summary

After PR #354 there were a few small changes that need to be made, and some additions requested by @tesla809. The list of updates are below.

- [x] fix local repo reference to use `Corona-tracker` versus `COVID-19-TRACKER` (the latter was the name I used for my fork, didn't catch it when putting things together)
- [x] add more info on using git branches
- [x] add more info on clean com

[2020-04-02 22:03] whoabuddy opened #362 "Update Issue Template: Bug report"
Noting some issues I found in the issue template "Bug report":

- [ ] Code of Conduct could include a link to the file

- [ ] Add a troubleshooting guide or remove TODO line

- [ ] Add info under Versions sub-heading or remove TODO line

[2020-04-02 22:05] whoabuddy opened #363 "Update Issue Template: Feature request"
Noting some issues I found in the issue template "Feature request":

- [ ] Code of Conduct could include a link to the file

- [ ] Fix incorrect reference in alternatives sub-heading

[2020-04-02 23:04] crispinamuriel commented on #343
I'd like to work on this.

[2020-04-02 23:09] njordhov commented on #351
I recommend that you defensively store a read-only file for each and every observation. You can complement this with a file that contains the aggregated data you actually use, eventually including an index of the observation files.

That way, the database file doesn't become a single point of failure; You can always rebuild the aggregate from the set of single observations if there is a screw-up t

[2020-04-02 23:26] SomeMoosery commented on #343
sounds good! Take a look at how I did the gradient for `WeeklyTracker`, as I bet a similar technique could be applied for the background of the calendar as well! Also, I had some trouble finding this but @BrianHHough has the hex colors we need in the README of the `/design` folder 👍

[2020-04-03 00:49] #330 closed

[2020-04-03 01:16] SomeMoosery opened #365 "Refactor observation storage: master list and read-only copies"
## Summary

As we move towards a more final-state layout for out data, as brought up by @pavel-ilin and expanded on by @njordhov [here](https://github.com/COVID-19-electronic-health-system/Corona-tracker/pull/358), we should aim to have a "master file" of all observations in order to easily manipulate, iterate through, and work with our data for all observations, as well as our pre-existing indivi

[2020-04-03 01:16] SomeMoosery commented on #365
I'm on this, as it will affect work on #338 which I have already been assigned

[2020-04-03 01:19] SomeMoosery commented on #351
Working on it #365

[2020-04-03 03:12] njordhov commented on #365
Consider keeping the aggregated _"master file"_ in the **Local Storage** of the browser (rather than in Gaia), generated initially from the persistent content in Gaia then later kept updated with changes in the state.

[2020-04-03 18:04] #215 closed

[2020-04-03 20:47] #342 closed

[2020-04-03 20:48] Afrogrrrl commented on #335
I can pick this up!

[2020-04-03 20:49] Afrogrrrl commented on #334
I can take a crack at this one once issue #23 is done

[2020-04-03 20:59] AdhamAH commented on #343
@crispinamuriel I was looking at this yesterday and I know it could be hard to deal with. You need to change or override the original calendar.css file. let me know if I can help but I am sure you got it

[2020-04-03 21:02] AdhamAH commented on #335
I assigned you, thanks!

[2020-04-04 00:15] SomeMoosery commented on #306
Closing - while this is going to be good for a long-term change, it's come to the point where using solely `react-blockstack` or majority `react-blockstack` for at least the near term may slow our dev process, as we're moving towards a release of 4/15.

We may have another new issue for this opened up down the line.

[2020-04-04 00:15] #306 closed

[2020-04-04 00:15] SomeMoosery commented on #336
I'll take This!

[2020-04-04 01:30] SomeMoosery commented on #336
Actually - I'll leave this to someone else and pick up something else -- up for grabs!

[2020-04-04 01:31] SomeMoosery commented on #341
I'm on this!

[2020-04-04 01:49] #338 closed

[2020-04-04 01:50] tylerd92 commented on #356
Since we are no longer using Radiks I guess the models would need to be changed? I guess they could be changed to regular JS classes, but then there would be no typing. Also, I guess we won't be needing the custom Radiks server.

[2020-04-04 01:54] SomeMoosery commented on #356
Yeah, so at this point I think we can:

1. Change the models to regular JS classes
2. Tear down / decouple the Radiks server for the time being
3. Remove things such as LOAD_OBSERVATIONS, as those were interacting with Radiks

I don't think I've seen any more uses, but I may be missing something

[2020-04-04 02:06] tylerd92 commented on #356
I would like to try to work on this.

[2020-04-04 06:20] SomeMoosery opened #370 "Update "Show Me More" to fit styling"
## Summary

- [ ] Work with @BrianHHough to make the new "Show Me More" tab more modern and user-friendly

## Motivation

Moves us towards a more polished, finished UI

## Describe alternatives you've considered

Leaving it the way it is now

[2020-04-04 06:21] SomeMoosery opened #371 "Update "Health Log / Show Me More" toggle to be more up to style"
## Summary

We are moving away from the reds, and want to update this toggle to maintain a consistent style

- [ ] Toggle looks and feels like other new components

## Motivation

Move towards a final and ready beta release

## Describe alternatives you've considered

Leaving it the way it is now (no)

[2020-04-04 06:31] tesla809 opened #372 "update CONTRIBUTING.md with proper git workflow and rebasing/squashing instructions"
## Summary
To help new devs understand how to contribute to the project using Git workflow.
1. Steps to update `origin` from `upstream`
2. How to `rebase` off of `upstream/master`
3. Links to describe what `rebasing` is and when to do it.
4. How to squash a commit
5. Links describing the process of `squashing` a commit.

Add any additional information that would make it easier to understand how to

[2020-04-04 08:11] AdhamAH commented on #370
If that means the `Table.jsx` component, this was built using bootstrap and I am planning to change it to material-ui. If so I will wait for @BrianHHough to tell me what to is the changes.
If not I need more explanation

[2020-04-04 13:38] crispinamuriel commented on #343
Hello! I think I might be misunderstanding the wireframes. Is there any way I can get clarification on the color of the calendar?

[blue calendar](https://github.com/COVID-19-electronic-health-system/Corona-tracker/blob/master/design/wireframes/FINAL-V1-03.28/MASTER_WIREFRAME_daily_health_log.png)
[red calendar](https://github.com/COVID-19-electronic-health-system/Corona-tracker/blob/master/design

[2020-04-04 14:33] #341 closed

[2020-04-04 14:37] #372 closed

[2020-04-04 14:45] SomeMoosery commented on #343
We want to go with the blue calendar - it's the "final" UI for the time being and we should go with that (we should probably remove the other outdated files from GitHub as well, good catch). For this PR, don't worry about any of the circling or indication of dates, because we have separate stories out for those now. We just want to make the calendar itself look as similar to that blue calendar as

[2020-04-04 17:12] #371 closed

[2020-04-04 17:39] AdhamAH commented on #343
@crispinamuriel check
[this](https://discordapp.com/channels/687791378075484161/689541206686040094/693919857627889694) for the wireframes and [this](https://github.com/COVID-19-electronic-health-system/Corona-tracker/blob/master/design/README.md) for the colors

[2020-04-04 21:03] #343 closed

[2020-04-04 23:44] SomeMoosery opened #377 "Change "Settings" to "More""
## Summary

- [ ] Change "Settings" Text in NavBar to "More"
- [ ] Change icon to a plus button

## Motivation

Since clicking this tab opens a popup with "Settings" as one of the options along with "About" and "Logout," this is really not a "Settings" tab but a "More" tab and should be described as such.

## Describe alternatives you've considered

No

[2020-04-04 23:44] SomeMoosery commented on #377
I'm on this!

[2020-04-04 23:45] SomeMoosery opened #378 "Move Notifications Opt-In Into Settings (new "More") tab"
## Summary

- [ ] Move the functionality to add user phone number and sign up for notifications service into the popup that appears when the user clicks "Settings" (or "More" if #377 is merged in beforehand)
- [ ] Currently on refresh this box slides in, we should remove that animation when putting it inside this popup

## Motivation

Right now, this feature is a bit obstructive, and the "More" ta

[2020-04-04 23:49] SomeMoosery opened #379 "Stylize WeeklyTracker / WeeklyTrackerDay to look more similar to wireframe"
## Summary

We want these sliders to look more similar to the sliders outlined in the 3.28 final wireframes for beta, so need some styling to be done and put into these

## Motivation

This app should look as good as we can make it for the beta release

## Describe alternatives you've considered

- Leaving it the way it is now, styling it less impressively but workably. I think we can make this lo

[2020-04-04 23:55] SomeMoosery commented on #378
I'm on this!

[2020-04-05 00:36] SomeMoosery opened #380 "Add "About" Page"
## Summary

- [ ] Create an "About" Component that open on click in "More"
- [.] component describes CoronaTracker and the work we're doing as a team :)

## Motivation

People love a good story, and we'll provide ways for people to join / support

## Describe alternatives you've considered

Not have this? Idk it's more aesthetic

[2020-04-05 00:36] SomeMoosery commented on #380
I'm on this!

[2020-04-05 00:59] SomeMoosery opened #381 "Change "Get Started" Button to new color scheme"
## Summary

- [x] "Get Started" button is a the similar blue outlined in UI guide in `/design`

## Motivation

We want all of our buttons to be consistent

## Describe alternatives you've considered

- Keeping it the way it is

[2020-04-05 01:21] #377 closed

[2020-04-05 01:21] SomeMoosery commented on #378
Closed via #382

[2020-04-05 01:21] #378 closed

[2020-04-05 04:09] #332 closed

[2020-04-05 04:20] #381 closed

[2020-04-05 12:10] AdhamAH commented on #30
this was fixed in #323

[2020-04-05 12:10] #30 closed

[2020-04-05 14:46] SomeMoosery opened #386 "Update Education button to look more like wireframes"
## Summary

- [ ] Facts/Quiz buttons in the "Education" tab use our current color scheme

Look to use @acthelemann `buttons.js` styling

## Motivation

Getting everything to a near-ready state

[2020-04-05 14:48] SomeMoosery opened #387 "Feed in user data to charts"
## Summary

- [ ] Bar chart gets real user data for all observations
- [ ] Line chart gets real user data for all observations

## Motivation

For beta, we need all of our components to be interacting with real user data, not dummy data.

## Describe alternatives you've considered

There aren't really any, need that data

[2020-04-05 14:48] SomeMoosery commented on #387
I'm on this!

[2020-04-05 14:49] crispinamuriel commented on #386
May I work on this?

[2020-04-05 14:49] #380 closed

[2020-04-05 14:49] SomeMoosery commented on #386
All you!

[2020-04-05 16:15] crispinamuriel commented on #386
Hello! I just wanted to clarify the wireframes to make sure this is what's expected for this issue:
<img width="1055" alt="Screen Shot 2020-04-05 at 11 30 27 AM" src="https://user-images.githubusercontent.com/47477912/78503824-0dffdc80-7737-11ea-90c8-34bd96d8f882.png">

[2020-04-05 16:24] SomeMoosery commented on #386
So I don't think we have wireframes for it, actually, but we should have the colors be consistent with other buttons (like the ones below). Connor's `buttons.js` allows that to be easy as you can just do something like

[code]

<img width="327" alt="Screen Shot 2020-04-05 at 12 23 44 PM" src="https://user-images.githubusercontent.com/15767602/78504008-4eac2580-7738-11ea-8c9f-5c0446279d46.png">

[2020-04-05 17:10] SomeMoosery opened #389 "Disable vertical scrolling on education page"
## Summary

- [x] disable vertical scrolling on the "Education" tab using something like [this](https://stackoverflow.com/questions/7646538/disable-vertical-scroll-bar-on-div-overflow-auto)

## Motivation

On mobile, swiping the cards also makes the page scroll which can look a little bit wonky, and we want this to be as clean as possible for the user

[2020-04-05 17:17] SomeMoosery opened #390 "Redesign Survey Components"
## Summary

- [ ] Create [Survey 1 from wireframe](https://github.com/COVID-19-electronic-health-system/Corona-tracker/blob/master/design/wireframes/FINAL-V1-03.28/Survey%20Part%201%20of%203.png)
- [ ] Create [Survey 2 from wireframe](https://github.com/COVID-19-electronic-health-system/Corona-tracker/blob/master/design/wireframes/FINAL-V1-03.28/Survey%20Part%202%20of%203.png)
- [ ] Create [Survey