[2020-04-05 17:17] SomeMoosery commented on #390
I'm on this!

[2020-04-05 17:19] SomeMoosery opened #391 "Create skeleton for survey indicator from wireframe"
## Summary

- [ ] Create an indicator of what step of the survey you're on, modeled after [the wireframe](https://github.com/COVID-19-electronic-health-system/Corona-tracker/blob/master/design/wireframes/FINAL-V1-03.28/Survey%20Part%203%20of%203.png)
- [ ] Should be able to highlight each circle along the way, but doesn't need to pull in real data until #390 is complete

## Motivation

- We want t

[2020-04-05 17:24] SomeMoosery opened #392 "Create mass mock data of observations"
## Summary

- [ ] Create a mass amount of semi-structured data based off our observations currently being created [here](https://github.com/COVID-19-electronic-health-system/Corona-tracker/blob/7a8a24a9e70e65f95a85f54029e9ea90f4cfa2ad/client/src/components/SymptomsTracker.jsx#L116), and with any additional features @ngiangre may need

## Motivation

- While we won't be able to analyze real user da

[2020-04-05 17:45] ngiangre commented on #392
Mock data would be much appreciated and needed!

[2020-04-05 19:22] #387 closed

[2020-04-05 19:59] pavel-ilin commented on #392
I can create Rails API and generate massive amounts of data with faker gem based on what we need to practice analytics.

[2020-04-05 20:20] SomeMoosery commented on #392
That would be awesome! I'm not sure if you have access, but if you do you should edit the issue with what your plan will be for this (what you'll build, how you'll build it, inputs/outputs, how we could deploy it, etc). I don't have any experience with Ruby myself, so you can definitely take ownership of this if you'd like!

[2020-04-05 20:28] #336 closed

[2020-04-05 20:34] AdhamAH commented on #391
do you mean something like [this](https://material-ui.com/components/steppers/)?

[2020-04-05 20:39] SomeMoosery commented on #391
Yes, perfect, I just didn't know the term for it 😆

[2020-04-05 21:33] #386 closed

[2020-04-05 22:36] pavel-ilin commented on #392
Alright, I'm on it!

@SomeMoosery  I don't have access to this issue, but I can create new one.

@ngiangre Could you please provide parameters of the mock dataset. Models, attributes and size (how many entries).

[2020-04-05 22:43] #389 closed

[2020-04-05 22:44] AdhamAH commented on #391
I am not sure whats your plans for #390 because this connected to it. are you planning to keep everything in one file? I had an idea of breaking them to be reusable and easy to modify if we want to add more surveys or even a symptoms like "loss of smell'.
if so I can start working on it asap. if not better to wait until #390 finished

[2020-04-05 22:46] SomeMoosery commented on #391
I'd say let's hold off then, I'm currently working on #390 and should hopefully be done tonight. I'm storing data in a new way and I think a little bit differently than you might be describing so when I push my changes up I'll let you know and we can discuss 👍

[2020-04-05 22:53] AdhamAH commented on #391
Tonight = early morning to me 😆
that sounds good!

[2020-04-06 01:07] mamutahr commented on #337
Hello, it seems that the most recent merge solves this as well as issue #336. Is there anything I should to add or change or are these both closed issues?

[2020-04-06 01:08] SomeMoosery commented on #337
It looks like #336 has been closed and it seems like this one should be closed out as well - good catch!

[2020-04-06 01:08] #337 closed

[2020-04-06 01:10] #379 closed

[2020-04-06 04:18] SomeMoosery opened #399 "Add back buttons in new survey"
## Summary

- [ ] add back buttons in pages 2 and 3 of survey
- [ ] the previous page's state should be retained (so if you go from 2 back to 1, the selections you made in 1 should still show up)
- [ ] these buttons should be stylized similar to our UI/UX guidelines (although there are no wireframes for this, use shared CSS like `buttonsCSS`

## Motivation

This will allow users to go back and edi

[2020-04-06 04:19] SomeMoosery opened #400 "Stuck on loading animation on logout"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in QA
    * Followed all applicable steps in the TROUBLESHOOTING guide: TODO
    * Checked for relevant discussions on Discord: <https://discord.gg/pPERUuv>
    * Checked that your issue isn't already filed: <https://github.com/COVID-19-electronic-health-system/Co

[2020-04-06 04:20] SomeMoosery opened #401 "Remove TODO from version section of bug request"
We have versioning implemented, so can remove the TODO in the template

[2020-04-06 04:21] SomeMoosery opened #402 "Update text styling on page 2 of new survey"
## Summary

- [ ] Kind of open ended, but we want to make our text more appealing to the user, as this is the core part of our app

## Motivation

Making the survey look as good as it possibly can

## Describe alternatives you've considered

- Leaving this as is

[2020-04-06 04:24] SomeMoosery opened #403 "Need to navigate to health log to get numObservations"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in QA
    * Followed all applicable steps in the TROUBLESHOOTING guide: TODO
    * Checked for relevant discussions on Discord: <https://discord.gg/pPERUuv>
    * Checked that your issue isn't already filed: <https://github.com/COVID-19-electronic-health-system/Co

[2020-04-06 04:25] JWaltuch commented on #399
I can take a look at this tomorrow. It'll be a nice break to clear my mind from trying to figure out what's wrong with my Dockerizing hehe.

[2020-04-06 04:26] SomeMoosery opened #404 "Sometimes doesn't redirect to homepage on survey submission"
# Blocked by #390

### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in QA
    * Followed all applicable steps in the TROUBLESHOOTING guide: TODO
    * Checked for relevant discussions on Discord: <https://discord.gg/pPERUuv>
    * Checked that your issue isn't already filed: <https://github.com/COVID-19-electron

[2020-04-06 04:28] SomeMoosery commented on #399
Great, no problem - as Dockerizing can wait until after V2 since it's just a React app. We'll need to wait for my PR for #390 to merge in though, which will hopefully be tomorrow, so I'd keep going on Dockerizing in the meantime 👍

I'll assign you to this though!

[2020-04-06 04:30] JWaltuch commented on #399
Sounds good

[2020-04-06 04:31] SomeMoosery opened #405 "Migrate to react-use-gesture"
## Summary

- [ ] switch over from react-with-gesture to react-use-gesture

## Motivation

react-with-gesture is depreciated, and we should make sure our dependencies are up-to-date so we stay current and also, more importantly, secure

[2020-04-06 04:33] SomeMoosery opened #406 "Subscribe all new users to a Blockstack UserGroup"
## Summary

- [ ] create a Blockstack UserGroup for the project
- [ ] when a user first logs in and accepts the disclaimer, we should subscribe them to this user group

## Motivation

When we start doing data analytics and re-implementing Radiks for internal use, we'll need to have all users of our app subscribed to the same UserGroup so we can query and aggregate data. Work with @SomeMoosery and

[2020-04-06 04:39] SomeMoosery opened #407 "Create custom 404 page"
## Summary

- [x] create custom 404 page
- [x] [add it to our router](https://medium.com/@NaveenDA/creating-a-custom-404-notfound-page-with-react-routers-56af9ad67807)
- [x] page should stick with common theming / styling of the application

## Motivation

We want this to be as sleek as site as possible, but this is also a beta, so in the likely event someone navigates to a site and doesn't get wh

[2020-04-06 05:06] SomeMoosery opened #408 "Update onboarding component to fit with styling"
## Summary

- [ ] Styling should be done with Material-UI wherever possible, not plain HTML
- [ ] While there's no wireframe for this, we should update our onboarding screen to look and feel more similar to the rest of the components, using the same color scheme, spacing, etc.
- [ ] Work with @BrianHHough in order to make sure design in up-to-date
- [ ] Remove name, as this is already provided thr

[2020-04-06 05:09] SomeMoosery opened #409 "Add co-morbidities to onboarding and create create "non-changing""
## Summary

- [x] upon completing onboarding, collect all submitted data and create a new file / update if it already exists to store in Gaia, something like "demographics.json" or "comorbities.json"
- [x] add additional fields such as if the person is a smoker, diabetic, is overweight, or has asthma
- [x] redirect to health log on submission

## Motivation

We currently only have observations sto

[2020-04-06 05:09] SomeMoosery commented on #409
I'm on this

[2020-04-06 09:59] AdhamAH opened #411 "text selection when card swipe-education"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in QA
    * Followed all applicable steps in the TROUBLESHOOTING guide: TODO
    * Checked for relevant discussions on Discord: <https://discord.gg/pPERUuv>
    * Checked that your issue isn't already filed: <https://github.com/COVID-19-electronic-health-system/Co

[2020-04-06 10:00] AdhamAH commented on #411
I will do this later tdoay

[2020-04-06 10:07] AdhamAH commented on #400
could be this, #254 and #180 related? or did the other issues been fixed but not closed?

[2020-04-06 14:01] JWaltuch commented on #404
I can take a look at this while I'm waiting for the other PR to get merged in.

[2020-04-06 14:02] SomeMoosery commented on #400
I think these two are more separate issues - this one isn't so much as an error as there's probably some missing logic (i.e. maybe clicking "Sign Out" doesn't redirect you to login or something).

I've been leaving that other issue open because I still occasionally get it locally with my Blockstack, but may close it soon as it seems to be pretty isolated to just one user on one Blockstack account

[2020-04-06 14:03] #411 closed

[2020-04-06 14:32] JWaltuch commented on #404
Oh, this one's also blocked by 390? Just confirming. I can still take this issue when it's ready :)

[2020-04-06 14:37] SomeMoosery commented on #404
You may have to change some things up once my PR merges in, but a lot of the logic of submitting an observation with this current flow vs my new flow will be the same.

Also, should I remove you from #316? I just don't want you to be stretched too thin, especially if someone else wants to come along and pick that up I don't want anyone to be blocked

[2020-04-06 14:39] tylerd92 commented on #403
Last weekend I was looking into react hooks since it is used a great deal in this project. One benefit of creating a custom hook is that you can share reusable logic between components. https://reactjs.org/docs/hooks-custom.html I think this may be a good use case for a custom hook for numObservations.

[2020-04-06 14:58] JWaltuch commented on #404
Would you prefer I remove myself? I'd love to figure out how to do it so if someone else is interested in working with it I'd love to pair. I've tried it in many iterations already, which have just led to varying errors.

[2020-04-06 16:21] SomeMoosery commented on #404
I can list it back up as "Help Wanted" to encourage people to pair!

[2020-04-06 16:23] SomeMoosery commented on #403
Good call, definitely seems like a good use case. If you want to write a new issue to create new hook for this it's all you!

[2020-04-06 16:24] #356 closed

[2020-04-06 17:12] JWaltuch commented on #404
Sounds good!

[2020-04-06 17:44] liadove commented on #407
I'm on it

[2020-04-06 19:17] tylerd92 opened #413 "Custom react hook for numObservations"
## Summary

Create a react hook for numObservations thus allowing that data to be accessible to other components
## Motivation
A feature to fix a bug [issue #403](https://github.com/COVID-19-electronic-health-system/Corona-tracker/issues/403)

## Describe alternatives you've considered
An alternative could be using a higher-order component

## Additional context

[2020-04-06 19:32] Afrogrrrl commented on #23
@johnemurphy1 How is this going? Are you far enough where I could do #334 ?

[2020-04-06 19:37] johnemurphy1 commented on #334
@Afrogrrrl code is done and tested for Temperature/Symptoms toggle. Keep running into merge issues with Git. I'll try again either tonight or tomorrow morning to get the PR in and approved.

[2020-04-06 19:43] SomeMoosery commented on #413
I'm realizing while you brought this up and I support this idea, but I'm not too familiar with custom React hooks so can't properly estimate how much time this would make. I just realized I should point out that this may be a good use case, especially moving forward, for using the `react-blockstack` package, as there's a `useFilesList()` hook which returns `[files, numFiles]` - we should just have

[2020-04-06 21:50] pavel-ilin opened #415 "Temperature data did not displayed on the Chart"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in QA
    * Followed all applicable steps in the TROUBLESHOOTING guide: TODO
    * Checked for relevant discussions on Discord: <https://discord.gg/pPERUuv>
    * Checked that your issue isn't already filed: <https://github.com/COVID-19-electronic-health-system/Co

[2020-04-06 21:50] pavel-ilin commented on #415
I'm working on this issue.

[2020-04-06 22:47] #390 closed

[2020-04-07 00:52] #415 closed

[2020-04-07 00:56] SomeMoosery opened #417 "openComment saves to next survey"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in QA
    * Followed all applicable steps in the TROUBLESHOOTING guide: TODO
    * Checked for relevant discussions on Discord: <https://discord.gg/pPERUuv>
    * Checked that your issue isn't already filed: <https://github.com/COVID-19-electronic-health-system/Co

[2020-04-07 00:57] SomeMoosery opened #418 "[BLOCKED BY #427] Stylize survey page 2 to look better on desktop"
## Summary

- [ ] there is no wireframe for this and this can be more greenfield (so UI-types encouraged!), but we want the SurveyPage2 component to look "better" on desktop, as currently it's usable but not very inviting.
- [ ] uses coloring, styling similar to other components

## Motivation

While this is a mobile-first app, we still want our application to be presentable on desktop

## Describ

[2020-04-07 01:10] SomeMoosery opened #419 "Cannot scroll on About page on mobile view"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in QA
    * Followed all applicable steps in the TROUBLESHOOTING guide: TODO
    * Checked for relevant discussions on Discord: <https://discord.gg/pPERUuv>
    * Checked that your issue isn't already filed: <https://github.com/COVID-19-electronic-health-system/Co

[2020-04-07 02:01] tylerd92 commented on #413
I started digging into how I could use redux with hooks, but I found out that you can use React Redux hooks to get part of the [state](https://thoughtbot.com/blog/using-redux-with-react-hooks). You can use hooks to replace connect mapStatToProps

[2020-04-07 03:32] #404 closed

[2020-04-07 03:32] #417 closed

[2020-04-07 03:32] #419 closed

[2020-04-07 04:32] SomeMoosery opened #421 "Improper height on mobile, needs adjustment (iPhone X)"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in QA
    * Followed all applicable steps in the TROUBLESHOOTING guide: TODO
    * Checked for relevant discussions on Discord: <https://discord.gg/pPERUuv>
    * Checked that your issue isn't already filed: <https://github.com/COVID-19-electronic-health-system/Co

[2020-04-07 04:35] SomeMoosery opened #422 "[BLOCKED BY #427] Survey page 2 is all messed up with scrolling on mobile (iPhone X)"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in QA
    * Followed all applicable steps in the TROUBLESHOOTING guide: TODO
    * Checked for relevant discussions on Discord: <https://discord.gg/pPERUuv>
    * Checked that your issue isn't already filed: <https://github.com/COVID-19-electronic-health-system/Co

[2020-04-07 04:37] SomeMoosery opened #423 "Make emojis on survey larger, number line"
## Summary

- [x] emojis displayed during the survey are larger
- [x] we have intermittent numbers on the number line for sliders on survey (1.5, 2.5, etc...)

## Motivation

We want this to be as intuitive and simple for the user, leaving them with little room left to guess on what they're to do or what things mean.

[2020-04-07 05:01] SomeMoosery opened #424 "Move survey upload to thunk"
## Summary

- [ ] move our survey submission to a Redux thunk

## Motivation

Should errors occur reading/writing to Gaia it will protect stability of the app, since the error will be "caught" in the thunk and not passed along to live components. It will also make it easier to debug should these errors occur (credit @Afrogrrrl for the great description)

[2020-04-07 13:22] ngiangre commented on #392
@pavel-ilin sorry for the delay I'm just seeing this.

Like in the call, you can use the observation -> physical fields in here https://docs.google.com/spreadsheets/d/1Ji0sxIqFI49EZb7Mz4F0nkSBn1JSNMXiKjFAzJC2Jso/edit?usp=sharing as predictors and the observation -> coronavirus fields

Use the data ranges specified.

We need to make sure any analysis/prediction works as expected. Can you, say, "spi

[2020-04-07 13:58] AdhamAH opened #427 "Setup global fonts and screen breaking points"
## May block issues:
#422 #418 #402

## Plan
- [ ] Setup the fonts globally to be used with the help of @BrianHHough
- [ ] Setup breaking points also globally using Material-UI
- [ ] Update the styling guide to how to use
### Motivation:
- start using the fonts to better reflect the wireframes
- Make a united setup for everyone which make it easier to debug and prevent conflict between components

[2020-04-07 14:00] AdhamAH commented on #427
I can start working on it as soon as agreed to move forward with it

[2020-04-07 14:08] #421 closed

[2020-04-07 14:14] SomeMoosery commented on #427
Great idea, this will definitely help scale number of features more organically! And I'd say yeah, I'll put blockers on those 3 tickets as we should handle the global break points first before updating the styling so we don't risk having repeat work 👍

[2020-04-07 15:02] Afrogrrrl commented on #424
I can take this

[2020-04-07 15:06] #409 closed

[2020-04-07 23:15] #399 closed

[2020-04-08 02:23] tesla809 opened #432 "FAQ and getting started Guide for Analytics Team (OpenMined + PyTorch + other tools)"
## Summary
To start to onboard and scale the analytics team, we need a "Getting Started Guide" with FAQ section for the analytics team. It will be linked to our CONTRIBUTING.md and README.md

This will help point new devs to the right area and get started with minimal help.

Deliverables:
1. Call the document ANALYTICS-GETTING-STARTED.MD or something along those lines.
2.  Have a FAQ section with

[2020-04-08 02:33] #413 closed

[2020-04-08 02:51] #423 closed

[2020-04-08 02:58] BrianHHough opened #433 "Implementing Share Buttons in app and on website"
## Summary

Either www.sharethis.com or a bit of JavaScript to enable easy sharing / pre-drafted social posts that auto-populate in social channels (Twitter, Facebook, LinkedIn) and help to amplify our app to other people so they can share this on social.

## Motivation

To help make our app more viral/marketable.

## Describe alternatives you've considered

www.sharethis.com or Javascript code

#

[2020-04-08 02:59] BrianHHough commented on #433
<img width="1105" alt="Screen Shot 2020-04-07 at 10 59 09 PM" src="https://user-images.githubusercontent.com/56947075/78739954-6a275400-7923-11ea-9022-683db8f90cd4.png">

[2020-04-08 16:33] johnemurphy1 commented on #23
@SomeMoosery @tesla809 tried rebase. same results. I'm going to clone and create a new branch.

[2020-04-08 18:00] gitalink commented on #400
I will look at this as my first issue

[2020-04-08 21:32] #23 closed

[2020-04-08 21:41] SomeMoosery commented on #400
Great! Don't hesitate to reach out if you need anything

[2020-04-08 21:56] #407 closed

[2020-04-08 22:27] liadove opened #438 "Calendar language should match the language selected by user"
### Description

Right now the calendar is on Russian, but instead, it should correspond with the language user chose when was logging in.

### Suggestions

1. Leave one language, but set it to English
2. Make it corresponding to the user language

**Expected behavior:**

The calendar should be on language user know

**Actual behavior:**

The calendar is only on Russian

**Reproduces how often:**

[2020-04-08 22:27] liadove commented on #438
@pavel-ilin what do you think?

[2020-04-08 22:50] johnemurphy1 commented on #23
Hey @Afrogrrrl . This is done and PR merged!

[2020-04-08 22:55] AdhamAH commented on #438
I don't get it
it is here the other way around
![Screenshot 2020-04-09 at 00 53 25](https://user-images.githubusercontent.com/55054963/78841083-c27e5480-79fc-11ea-80cb-0ba1c3b38950.png)

in any case this should be handled from `react-calendar` locale setting I think

[2020-04-08 23:19] liadove commented on #438
@AdhamAH ohh, that's interesting I still have Russian everywhere. Maybe it's something in my settings then.
When you set English as the language does it show the calendar in English?
![image](https://user-images.githubusercontent.com/43704877/78842267-90a1c980-79cd-11ea-9456-0fad046ef4c8.png)

[2020-04-08 23:41] #418 closed

[2020-04-08 23:41] #422 closed

[2020-04-08 23:41] #427 closed

[2020-04-08 23:48] AdhamAH commented on #438
@liadove yes it does and actually it is always English. Maybe the system setting of your computer and mine?

[2020-04-09 00:10] #424 closed

[2020-04-09 00:13] SomeMoosery commented on #438
Hmm... yeah this seems like it's been a bit of snag with those who have or have had their phones set to different languages... and I think especially so with Russian because of the different alphabet used. Could definitely use some further investigation.

I personally haven't had any issues on my end when changing languages, but that's because I've only ever lived in/around NYC 😆

[2020-04-09 00:49] AdhamAH commented on #408
this will be done by midday 10/4

[2020-04-09 03:16] #400 closed

[2020-04-09 03:16] #403 closed

[2020-04-09 15:35] pavel-ilin commented on #438
I just switch languages several times and calendar stays in English every time. I test Russian as well as every other language.

I believe that calendar library follows the language scheme our OS using.

[2020-04-09 17:20] #408 closed

[2020-04-09 19:01] gitalink commented on #400
Cool!

On Wed, Apr 8, 2020 at 11:17 PM Carter Klein <notifications@github.com>
wrote:

[2020-04-09 19:05] SomeMoosery commented on #400
It looks like this issue has actually already been resolved within another PR - sorry about that! If you're still interested, I'll be adding more issues later this afternoon as we move towards our beta launch on 4/15, and can assign one of these to you!

[2020-04-09 19:19] SomeMoosery opened #441 "Always start at top of page on mobile"
## Summary

- [ ] when navigating between pages/tabs/etc, ensure the window is always scrolled to the top

## Motivation

If the user is taking a survey, and on page 2 scrolls down to click continue, we don't want their browser to remain scrolled down on page 3 - we want them to start at the top. This will improve UX

[2020-04-09 19:27] SomeMoosery opened #442 "Scroll bug on pages like onboarding, about, etc"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in QA
    * Followed all applicable steps in the TROUBLESHOOTING guide: TODO
    * Checked for relevant discussions on Discord: <https://discord.gg/pPERUuv>
    * Checked that your issue isn't already filed: <https://github.com/COVID-19-electronic-health-system/Co

[2020-04-09 19:31] SomeMoosery opened #443 "Scrollbar behind questions UX bug"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in QA
    * Followed all applicable steps in the TROUBLESHOOTING guide: TODO
    * Checked for relevant discussions on Discord: <https://discord.gg/pPERUuv>
    * Checked that your issue isn't already filed: <https://github.com/COVID-19-electronic-health-system/Co

[2020-04-09 19:37] SomeMoosery opened #444 "Fix spacing + highlighting on survey"
## Summary

- [x] when clicking a button on the survey, this does not affect spacing of the buttons, as they move slightly when clicked now
- [ ] when scrolling on mobile, all buttons remain highlighted
- [ ] if the solution seems applicable to eventually using on other buttons (i.e. selecting Education/Quiz in the Education tab), abstract it to a general `.js` file implementing the CSS (similar t

[2020-04-09 19:40] SomeMoosery opened #445 "Button highlighting not working on page 1 of survey"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in QA
    * Followed all applicable steps in the TROUBLESHOOTING guide: TODO
    * Checked for relevant discussions on Discord: <https://discord.gg/pPERUuv>
    * Checked that your issue isn't already filed: <https://github.com/COVID-19-electronic-health-system/Co

[2020-04-09 19:42] SomeMoosery opened #446 "Survey Page 1 Q1 displays inline to headers on larger screens"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in QA
    * Followed all applicable steps in the TROUBLESHOOTING guide: TODO
    * Checked for relevant discussions on Discord: <https://discord.gg/pPERUuv>
    * Checked that your issue isn't already filed: <https://github.com/COVID-19-electronic-health-system/Co

[2020-04-09 19:43] gitalink commented on #400
Yes, please assign a good first issue to me. Looking into #400 was still
useful to get familiar with the code. Thanks

On Thu, Apr 9, 2020 at 3:39 PM Carter Klein <notifications@github.com>
wrote:

[2020-04-09 20:10] gitalink commented on #443
I will look into this issue.

[2020-04-09 21:02] acthelemann commented on #446
Fixed in [this PR](https://github.com/COVID-19-electronic-health-system/Corona-tracker/pull/439).

[2020-04-09 21:03] #446 closed

[2020-04-09 21:40] AdhamAH commented on #445
this and #444  I've could do them when I fixed the scroll I thought you wanted them like that. I should have asked you, my bad!

[2020-04-09 21:45] Josh1794 opened #447 "Wording of question 3 on Survey Page 1 was missing word "to""
### Prerequisites

* [X] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in QA
    * Followed all applicable steps in the TROUBLESHOOTING guide: TODO
    * Checked for relevant discussions on Discord: <https://discord.gg/pPERUuv>
    * Checked that your issue isn't already filed: <https://github.com/COVID-19-electronic-health-system/Co

[2020-04-09 22:00] whoabuddy commented on #361
Some items are complete and I reflected that in the checkboxes above. After looking over the updates again and some changes submitted by @tesla809, I'd like to pause on completing this before initial launch and ask some bigger questions, mainly toward content duplication and moving some items to their own files. This became quite a large CONTRIBUTING file!

For example, [Updating a Forked Repo](ht

[2020-04-09 23:09] AdhamAH commented on #446
on the suggestion from @acthelemann I also prevent it the slider from stretching all the width in [this PR](https://github.com/COVID-19-electronic-health-system/Corona-tracker/pull/440)

[2020-04-09 23:24] SomeMoosery commented on #447
Hi Josh, will you be working on this? Or are you just filing the issue? Just want to be sure we're not duplicating work

[2020-04-09 23:31] #444 closed

[2020-04-09 23:31] #445 closed

[2020-04-09 23:40] SomeMoosery commented on #361
Maybe we should have the PR you have out now close this issue, and then take these suggestions and write out newer, more parallelizable issues?

[2020-04-10 00:01] Josh1794 commented on #447
Id be happy to take care of it, it will be my first open source contribution so just trying to learn the system

[2020-04-10 00:04] SomeMoosery commented on #447
Happy to have you on board! No worries at all, this is a great place to learn 👍

[2020-04-10 00:05] Josh1794 commented on #447
Thanks so much super excited to help out I joined the discord as well

[2020-04-10 00:38] #447 closed

[2020-04-10 01:31] AdhamAH commented on #442
We are not using scroll component as it is not needed any more and yes it might because of the layout component but that's not all. Mainly It is the position of the navBar and I think if we remove the layout and add the logos to every other page( I actually tried) the same results are produced. Add to that the device browser plays a part. On my mobile which android and chrome I am not facing this

[2020-04-10 01:45] #442 closed

[2020-04-10 03:40] tesla809 opened #453 "Create Quick Overview section under Getting Started section in CONTRIBUTING.MD"
## Summary
In a section called "Project Overview" which will be under to "Getting Started" section,
let's add an overview of the project with
1)  Schematic of architecture from pitch deck
2) Summerize the project again
3) A quick summary of Blockstack,
   a) how it's used,
   b) definitions for terms and tools (Gaia, Radiks, Secret Key, etc.) or links to them
   c) relevant links to get started
4)

[2020-04-10 03:56] tesla809 commented on #361
GREAT OBSERVATIONS @whoabuddy !!!! Impressive stuff!

[2020-04-10 14:54] whoabuddy commented on #361
@SomeMoosery Agreed, will create a new issue and close this one, and if you look at my notes in the PR we may close and recreate that as well to start fresh. No need to mess things up over a minor change! (Sorry for making more of a mess - just trying to help!)

[2020-04-10 15:03] SomeMoosery commented on #361
Sounds good! You didn't mess anything up either of course - having great documentation is crucial so this is all great 👍

[2020-04-10 15:03] #361 closed

[2020-04-10 16:48] pavel-ilin commented on #433
I can take this one. Not be ready for todays beta release, but I'm sure I can crack it.

[2020-04-10 17:38] acthelemann opened #454 "Use Redux store to get observations instead of fetching"
## Summary

Use Redux store (observations reducer) to get the list of observations instead of fetching them using Blockstack in the `Table` and `Chart` components.

- [x] Use Redux store to get observations in the `Table` component
- [x] Use Redux store to get observations in the `Chart` component

## Motivation

When navigating to the "Show Me More" screen the components fetch the observations tw

[2020-04-10 17:46] acthelemann opened #455 "Yes/no onboarding questions not free inputs"
## Summary

Make the yes or no questions on the onboarding form not free inputs.

Options:

- Yes and no buttons
- Dropdown

- [ ] Make the "Do you smoke?" question not a free input
- [ ] Make the "Do you have obesity?" question not a free input
- [ ] Make the "Do you have asthma?" question not a free input

## Motivation

Free inputs on yes or no questions allow the user to input anything. We sho

[2020-04-10 17:54] njordhov commented on #454
The difference is pre-fetching the observations initially vs fetching them on demand, right? Consider a combination (more like a proxy) to avoid the initial delay of having to pre-fetch all observations as their number grows.

[2020-04-10 18:03] JWaltuch commented on #455
I can take this

[2020-04-10 18:04] acthelemann commented on #455
You got it!

[2020-04-10 18:04] fallon7284 commented on #454
I think, if I understand the issue, the difference is fetching them once and not having to re-fetch them every time we render a component that needs them.

[2020-04-10 18:06] acthelemann commented on #454
Exactly, @fallon7284.

Currently, we fetch them all on initial app load and put them in the store. They're all there, so there's no need to fetch them again when we go the "Show Me More" screen.

[2020-04-10 18:33] fallon7284 opened #457 "Improve observation blockstack db interactions"
## Summary

I think that there is an issue there around fetching observations as their number grows that might need addressing, and I've meant to bring it up for a long time.

The way we do it currently we list all files, iterate over that list returning a list of all files whose name includes "observation/", and then fetch each of those files one by one.

Similarly when we create a new observatio

[2020-04-10 18:35] fallon7284 commented on #457
Unless there is some constraint that I don't understand re: blockstack/gaia that forces us to do it the way we do it currently.

[2020-04-10 18:38] SomeMoosery commented on #457
Nope, you're definitely correct - this has been something that's been needed for a while and has actually been brought up in a couple other conversations. I've pushed back in the past only because we wanted to ensure we had basic functionality working first before optimizing, but this is definitely needed.

From what I've gathered, common practice would be creating a master `observations.json` fil

[2020-04-10 18:39] SomeMoosery commented on #457
If you want to take this on it would be a huge optimization a huge optimization - would you be willing to?

[2020-04-10 18:56] fallon7284 commented on #457
Yeah, it would be a lot of work.  I'd be willing but I can't commit to getting started on it right now, busy with job search stuff right now.  So if someone else wants to grab it that's fine, and if nobody does then I'll do it when I have some time.

[2020-04-10 19:15] SomeMoosery commented on #457
Sounds good - I'll leave this open for now and if you find time for it just comment again and I'll assign you 👍.

It's good looking out because, yeah, especially when we grow this is something that'll certainly need to change.

[2020-04-10 19:15] #455 closed

[2020-04-10 19:59] #454 closed

[2020-04-10 19:59] njordhov commented on #457
The observations file can be kept in the browser's localstore rather than gaia. If lost (or user change device) it can always be generated from the observation files in gaia.

[2020-04-10 20:24] johnemurphy1 commented on #359
@salvolpe here's a rough first draft of what I would propose for the format of what would be delivered back to the translation team. Each screen in the wireframe would be titled in all caps then fields would map to the json/react syntax based on @liadove's original work. This is just a draft to make sure it's heading on the correct path. Your feedback, @SomeMoosery, @akilhylton and @AdhamAH feedba

[2020-04-10 20:25] johnemurphy1 commented on #359
Note: this draft only includes the Log In and Disclaimer screens on https://github.com/COVID-19-electronic-health-system/Corona-tracker/blob/master/design/wireframes/FINAL-V1-03.28/MASTER_WIREFRAME_reduced.png

[2020-04-10 21:51] #441 closed

[2020-04-10 22:19] SomeMoosery opened #461 "Start at top of page on all pages"
## Summary

- [ ] the beginning of every newly-opened page should always set the user at the top of the page

## Motivation

For a cleaner UX

[2020-04-10 22:24] AdhamAH opened #462 "Bug in More component, singout button text"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in QA
    * Followed all applicable steps in the TROUBLESHOOTING guide: TODO
    * Checked for relevant discussions on Discord: <https://discord.gg/pPERUuv>
    * Checked that your issue isn't already filed: <https://github.com/COVID-19-electronic-health-system/Co

[2020-04-10 23:19] salvolpe commented on #359
@johnemurphy1 I think this looks great and would be readable to the translators!

[2020-04-11 00:13] mamutahr commented on #462
I am also able to replicate this on all buttons in the more section on desktop by making the window very small.
![image](https://user-images.githubusercontent.com/36338290/79030568-9af7cb00-7b67-11ea-8df8-24026b468be4.png)
Is it alright if I try working on this issue for a bit?

[2020-04-11 00:14] SomeMoosery commented on #462
All you 👍

[2020-04-11 00:39] SomeMoosery opened #463 "Add More Flashcards to Education"
## Summary

- [ ] Add ~10 more questions with additional COVID-19 information

## Motivation

HackQuarantine is requiring us to have an "update" from 5:00PM today for their next checkpoint at 4 in the morning tomorrow, so...

## Describe alternatives you've considered

Telling these people that we don't work for them and not rush this.

[2020-04-11 01:28] SomeMoosery commented on #463
I'm on this

[2020-04-11 01:58] #463 closed

[2020-04-11 02:24] SomeMoosery opened #465 "Flashcards need to be better positioned for all screen sizes"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in QA
    * Followed all applicable steps in the TROUBLESHOOTING guide: TODO
    * Checked for relevant discussions on Discord: <https://discord.gg/pPERUuv>
    * Checked that your issue isn't already filed: <https://github.com/COVID-19-electronic-health-system/Co

[2020-04-11 02:25] SomeMoosery commented on #438
Is there a verdict on this? Is this something that needs to be worked on - or can we close this?

[2020-04-11 02:25] SomeMoosery commented on #433
No prob! 4/10 was really an internal goal, and the press release has been pushed from 4/15-4/17 so there's time :)

[2020-04-11 02:27] SomeMoosery commented on #136
Closing this issue as we've taken note of these security measures and will look to implement them ASAP

[2020-04-11 02:27] #136 closed

[2020-04-11 02:29] SomeMoosery commented on #157
Closing as we'll write out scoped issues for this 👍

[2020-04-11 02:29] #157 closed

[2020-04-11 02:29] SomeMoosery commented on #180
Closing as this is being addressed by Blockstack [here](https://github.com/blockstack/ux/issues/300)

[2020-04-11 02:29] #180 closed

[2020-04-11 02:30] SomeMoosery commented on #182
As per other Issue, these have all been written down and scoped issues for them are coming shortly. This is greatly appreciated and all security measures will be attributed to your help 👍

[2020-04-11 02:30] #182 closed

[2020-04-11 02:31] SomeMoosery commented on #201
Closing, perhaps open a new issue with further description in [Coronalytics](https://github.com/COVID-19-electronic-health-system/Coronalytics) but this may be out-of-scope for the time being

[2020-04-11 02:31] #201 closed

[2020-04-11 02:32] SomeMoosery commented on #218
Closing this for now for housekeeping purposes since we are currently halting the use of Radiks, it's been noted and will be re-opened (or a new equivalent issue with more updated context created) when the time arises

[2020-04-11 02:32] #218 closed

[2020-04-11 02:34] SomeMoosery commented on #221
A good note and at this point we are fleshing out a lack of tests and working to create new necessary tests with each new addition now that we have less of a time crunch (although definitely still a significant one, just not strong enough to outweigh testing!)

[2020-04-11 02:34] #221 closed

[2020-04-11 02:34] SomeMoosery commented on #225
We'll create a more scoped issue once we launch and are further advanced with Coronalytics 👍

[2020-04-11 02:34] #225 closed

[2020-04-11 02:35] SomeMoosery commented on #226
All notes written down, but we should close this as there's not much actionable to do here

[2020-04-11 02:35] #226 closed

[2020-04-11 02:36] SomeMoosery commented on #229
We will write out more scoped issue for this coming soon

[2020-04-11 02:36] #229 closed

[2020-04-11 02:37] SomeMoosery commented on #254
@BrianHHough do you know if this has been resolved on your end? I haven't been able to reproduce this but want to be sure before closing.

[2020-04-11 02:38] SomeMoosery commented on #267
Let's close this as we're saving this to Gaia within our frontend, any backend work will be done in analytics which for now conversation should be moved into the Coronalytics repo

[2020-04-11 02:38] #267 closed

[2020-04-11 02:42] SomeMoosery commented on #280
Closing this for now - too out of scope

[2020-04-11 02:42] #280 closed

[2020-04-11 02:43] SomeMoosery commented on #287
I don't think we need this at this point - at least, I should scope out issues for creating true QA and Staging environments, and then perhaps in one of those we'll add a way to not require tests

[2020-04-11 02:43] #287 closed

[2020-04-11 02:43] SomeMoosery commented on #316
There doesn't really seem to be much point in doing this for now - if anything, it's a nice perk but not necessary

[2020-04-11 02:43] #316 closed

[2020-04-11 02:44] SomeMoosery commented on #334
Is this in the codebase anywhere? If so could someone link me to it, I can't seem to find it anywhere. Otherwise, I'll add a "help wanted" tag

[2020-04-11 02:44] SomeMoosery commented on #359
@johnemurphy1 are you working on this?

[2020-04-11 02:45] SomeMoosery commented on #365
This was brought up [here](https://github.com/COVID-19-electronic-health-system/Corona-tracker/issues/457) in #457 - closing this issue as this new one has more up-to-date information

[2020-04-11 02:45] #365 closed

[2020-04-11 02:46] SomeMoosery commented on #457
I had actually already brought this up in #365 - could be worth checking to see if there's any additional helpful context there

[2020-04-11 03:48] gitalink commented on #443
Have it working right locally, will test tomorrow morning if nothing else broke and make a PR.

[2020-04-11 04:06] Afrogrrrl commented on #334
There hasn't been a PR for it yet. Sorry for the delay!

[2020-04-11 05:16] SomeMoosery commented on #334
Oh no problem! I just didn't know if there was anything unclear above :)

[2020-04-11 11:23] johnemurphy1 commented on #359
Yes, I am working on it.

On Fri, Apr 10, 2020, 10:44 PM Carter Klein <notifications@github.com>
wrote:

[2020-04-11 15:46] petesamper commented on #465
I can take this

[2020-04-11 15:51] SomeMoosery commented on #465
All you! If you'd like to be actually assigned on the ticket, I sent you an invite to the org as well 👍

[2020-04-11 16:01] liadove commented on #438
@AdhamAH  My laptop set to English but maybe somewhere in my settings I have Russian 😅
@SomeMoosery I think we still need it in the future for different languages. But if it works in English on your end then it's good for now. Maybe we can leave this as a long-term?

[2020-04-11 16:47] salvolpe opened #468 "Location of Navigation Bar on Screen Relative to Content"
On my screen in the survey, I can't get out of it and up back on the homepage because I believe that the `Continue` button is lost underneath the navigation bar on page 2.

<img width="735" alt="image" src="https://user-images.githubusercontent.com/37944330/79049556-5107f700-7bf2-11ea-82ec-32b96b770a4b.png">

As you can see, there's a similar problem on the `About` page, where it looks like the te

[2020-04-11 16:54] salvolpe opened #469 "Button Functionality in "More" Tab"
If I click on `More`, I have to click specifically on the text in order to advance myself to the screen of interest. This applies ONLY to `Settings` and `About`. It works perfectly fine for `Sign Out`, i.e. I can click anywhere on that button and it will sign me out.

[![Image from Gyazo](https://i.gyazo.com/8ab943d62c0acde7ff152be3b4b0a82a.gif)](https://gyazo.com/8ab943d62c0acde7ff152be3b4b0a82a)

[2020-04-11 17:00] salvolpe opened #470 "Update Gender Labels in Settings Screen"
Currently, the only two options for genders are _Male_ and _Female_. We should either be adding a third button for _Non-Binary_ or, something that could be much more dynamic, turn it into a dropdown menu in case we add more in the future (e.g. genderqueer, gender-fluid, **trans male, **trans female).

**The last two should only be added if we think that, for analytical purposes, knowing their sex-

[2020-04-11 17:02] AdhamAH commented on #468
What's the size of the screen? It happened to me once and I didn't have the latest update, are you sure your fork updated to the latest comment?
because I think this issue already fixed and actually refixed

[2020-04-11 17:11] AlexRAV commented on #469
Hi! I can take it.

[2020-04-11 17:26] AdhamAH commented on #465
I should have been faster but time man!
@SomeMoosery @petesamper
this an issue is that more card stacked now, not padding or margin issue because if you add that the card will look normal in less long screens(say  Samsung S9, iPhone 5s) but if you keep swiping some of the lastest cards will be under the navbar.
we might need to look into the whole style/motion of the cards

[2020-04-11 17:33] pavel-ilin commented on #438
I test calendar with several users in Russian and 100% report that they have calendar in Russian.

I stick to the hypothesis that Calendar library tracks OS primary language.

I think we can close the issue.

[2020-04-11 17:40] pavel-ilin commented on #392
Should we move thus issue to the Analytics repo? I can create new issue there and add Rails API to the repo.

[2020-04-11 17:47] SomeMoosery commented on #438
Sounds good! We can always create a new issue if this pops up again :)

[2020-04-11 17:47] #438 closed

[2020-04-11 17:48] SomeMoosery commented on #392
Agreed - good point @pavel-ilin

Let's just be sure to capture the context here and link it in the new issue in Coronalytics 👍

[2020-04-11 17:48] #392 closed

[2020-04-11 18:08] #469 closed

[2020-04-11 18:25] kevin-Price commented on #470
Ill pick this one up.

[2020-04-11 19:44] SomeMoosery opened #472 "Update static images to reference S3 bucket"
## Summary

Image links are of this format:

`https://dg1fd6ea8poyj.cloudfront.net/images/<FILE_NAME>`

Where <FILE_NAME> is the file name found in the client/src/img directory.

Example:

https://dg1fd6ea8poyj.cloudfront.net/images/Logo_CORONATRACKER_Logo.svg

- [ ] Use S3 image links in our React app, instead of hardcoded references
- [ ] Remove references to images from our `client/src/img` dir

[2020-04-11 20:35] gitalink commented on #443
Hey, I attempted to fix the issue and made my first PR here: https://github.com/COVID-19-electronic-health-system/Corona-tracker/pull/473,

It is my first PR, not sure if I managed to follow all the conventions, let me know if something needs to be changed.

[2020-04-11 20:51] BrianHHough commented on #465
I did a screenshare user test and they were having the same issue where the cards were cut off on the bottom by the bottom nav. Any way we could create a container for the cards to fit between the top text and bottom nav bar?

[2020-04-11 20:53] BrianHHough commented on #465
Also @AdhamAH do you think you could adjust the text at the top to say "Swipe to the right or left to learn more about COVID-19" and then remove that typo that's in all caps?

[2020-04-11 21:03] AdhamAH opened #474 "days selection on the calendar to match the design"
## Summary:

- Update the styling for the day's selection in `Calendar.jsx` to match the wireframes. We can use the images provided by @BrianHHough in `/client/src/img`
- remove any weird or bugs related to the `Calendar.css`file

## Motivation:

Better design and better user experience

## Describe alternatives you've considered
This needs to be done.

[2020-04-11 21:11] fallon7284 commented on #457
I'm working on this.  It is likely to take a good long while.

[2020-04-11 21:34] SomeMoosery commented on #465
I'll add changing the text as an acceptance criteria for this ticket, and change the context of this ticket to fit more with making sure the flashcards are more just scaled / centered in any screen 👍

[2020-04-11 21:37] SomeMoosery commented on #474
What do you mean by the styling for the day's selection? I think the way we have it should be good for now, no?

It's up to @BrianHHough - but I don't think we necessarily need to circle elements and could highlight them instead, as we have now. Thoughts?

[2020-04-11 23:06] petesamper commented on #465
Hey all, sorry for the delay. I know this is a simple issue so I apologize.

I gave the flashcards container a margin property (changed from marginTop in my PR) with the expectation that it would prevent the flashcards from touching the navbar on bottom. I know @AdhamAH mentioned this may just be an issue with the animations themselves, particularly when the last cards in the decks are reached, bu

[2020-04-11 23:08] SomeMoosery commented on #465
While it's not perfect, [you can use Chrome Devtools to simulate mobile environments!](https://developers.google.com/web/tools/chrome-devtools/device-mode#viewport)

No worries, take your time! We'd rather have something great than something only partially fixed :)

[2020-04-11 23:34] petesamper commented on #465
Whoa, didn't know about that. Alright I'll use that for now and get back to you when I have results. I'll fix this! :muscle:

[2020-04-12 02:42] #443 closed

[2020-04-12 03:41] salvolpe commented on #468
@AdhamAH I had just been working on this link that was sent out a while ago and didn't know if updates were being pushed to this URL or not: coronatrackerv1.s3-website-us-east-1.amazonaws.com/

I had not been running it locally, but I can go through that again

[2020-04-12 05:02] SomeMoosery opened #476 "Delete observation functionality"
## Summary

We want to give users the ability to delete any observation they wish

**Acceptance Criteria**

- [ ] Add ability to swipe right on a WeeklyTracker for a specific observation
- [ ] on right-swipe, implement a `Dialog` asking if the user is sure they want to delete, and then a redux thunk to delete that observation (using Gaia `deleteFile()`)
- [ ] update UI to reflect that deleted obse

[2020-04-12 13:59] ahmadtechnik opened #478 "Which types of temperature measure do we use?"
This is logical Issue, the user have to know in which temperature measure should enter the value.

![image](https://user-images.githubusercontent.com/50963733/79070307-44a89a80-7cd5-11ea-8b05-2f724e0d44a8.png)

## Summary
To make the user able to understand what number is gonna to enter. There is 5 different kind of temperature measurements out there.
## Motivation
Better UX
## Describe alternativ

[2020-04-12 14:43] SomeMoosery commented on #478
Good point - as this will be US-based first, let's use Fahrenheit for now

[2020-04-12 16:59] #461 closed

[2020-04-12 17:55] #457 closed

[2020-04-13 00:35] AdhamAH commented on #474
I thought we needed it before the 15/4, I will close it as it can wait

[2020-04-13 00:35] AdhamAH commented on #474
Waiting for v3

[2020-04-13 00:36] AdhamAH commented on #474
I thought we needed it before the 15/4, I will close it as it can wait

[2020-04-13 00:36] #474 closed

[2020-04-13 03:09] #470 closed

[2020-04-13 03:10] #465 closed

[2020-04-13 03:13] JWaltuch commented on #476
I could probably take a crack at this tomorrow

[2020-04-13 04:01] #462 closed

[2020-04-13 05:46] skillsmehack opened #482 "We are interested in your project"
Hi guys!

I was just looking around Github and notice your project on Covid-19 and thought it was great! I would like to introduce you to our online hackathon on fighting COVID-19. We currently  have more than 300 participants from all around the world with the winner receiving 500nz dollars. Anyone who has a project relating to covid 19 can join our hackathon, and you will need to submit your wor

[2020-04-13 11:18] AdhamAH commented on #482
Thanks for the interset but I believe we have more proper contact channels than opening an issue here

[2020-04-13 11:18] AdhamAH commented on #482
Thanks for the interset but I believe we have more proper contact channels than opening an issue here

[2020-04-13 11:18] #482 closed

[2020-04-13 11:23] AdhamAH commented on #468
@salvolpe there are many things added and fixed that are not in coronatrackerv1.s3-website-us-east-1.amazonaws.com/  and this one of them
So I will close this and let me know if you find anything else

[2020-04-13 11:23] #468 closed

[2020-04-13 11:51] AdhamAH opened #483 "Buttons out of style some small screens"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in QA
    * Followed all applicable steps in the TROUBLESHOOTING guide: TODO
    * Checked for relevant discussions on Discord: <https://discord.gg/pPERUuv>
    * Checked that your issue isn't already filed: <https://github.com/COVID-19-electronic-health-system/Co

[2020-04-13 12:19] AdhamAH opened #485 "Change health log view on large screens"
## Summary
The calendar looks wired and big on a large screen

## Motivation
Make it look better in my opinion
![Screenshot 2020-04-13 at 14 13 18](https://user-images.githubusercontent.com/55054963/79119583-f953c200-7d90-11ea-912c-a49da0b5518e.png)

## Describe alternatives you've considered
leaving it  as it is

## Additional context
### if agreed I will make the PR

[2020-04-13 14:04] SomeMoosery commented on #485
I like that! Should we mark as "help wanted" or are you on this?

[2020-04-13 14:04] #478 closed

[2020-04-13 14:04] #483 closed

[2020-04-13 14:10] AdhamAH commented on #485
I will do the PR now

[2020-04-13 14:21] JWaltuch commented on #476
To clarify, is this replacing the Weekly Tracker Day right swipe, where currently it loads the stats for that weekly tracker day?

[2020-04-13 14:28] SomeMoosery commented on #476
Ah no, sorry. We want to be able to swipe the other direction (or, if you have another suggestion like maybe just putting a trash can icon on the `WeeklyTrackerDay` or something let me know!).

And whenever we swipe (or click, etc - whatever you think is best) it will first create a `Dialog` asking if the user wants to delete the file - and then on confirmation removes the files from Gaia using `d

[2020-04-13 14:41] #485 closed

[2020-04-13 14:59] bcsaxon commented on #453
Hi! new here. I'd like to try to tackle this one if no one else has claimed it yet?

[2020-04-13 15:02] SomeMoosery commented on #453
All you - feel free to join the Discord (linked in README) and reach out to @whoabuddy if you need additional context! He has been doing a great job refactoring/refining our docs

[2020-04-13 15:08] bcsaxon commented on #453
Sounds good! thank you!

[2020-04-13 15:34] #433 closed

[2020-04-13 15:46] SomeMoosery opened #488 "Set up Cloudfront CDN for S3 site"
## Summary

- [x] Create a Cloudfront CDN for our S3 site

## Motivation

- Allows HTTPS
- Improves performance

[2020-04-13 15:58] JWaltuch commented on #476
Ah, thanks! I've got it popping up when the user swipes left and triggering the thunk on "yes".

I also haven't done much with Gaia yet, so I'm trying to understand the best way to do this, if anyone can help a bit. It looks like when observations are added, they are added both to a main observations JSON file AND a separate JSON file with a file number. Assuming I'm correct about that, my initial

[2020-04-13 16:30] kevin-Price commented on #370
@AdhamAH  Are you working on this? Im free to grab another story and was eyeing this.

[2020-04-13 16:39] kevin-Price opened #489 "Create a form/way for users to provide feedback"
Summary
We need a way to capture user feedback to help drive new stories/refactors.
- [ ] Set up a User feedback page/popup of some form

Motivation
We want to be able to get insights into what pain points our users are experiencing so that we can improve them.

[2020-04-13 16:41] AdhamAH commented on #370
I was letting this a bet off because it looks good for now and wanted to try make the app bug free and polished.
It is not just the style. First this should element the CSS file. Also I was planing to use one of the fixed header table form material-ui and add a search function to make it easier
If you think you can at least make the table I talked about with styling using Material-ui, sure by all

[2020-04-13 16:53] AdhamAH commented on #370
Or something else you think it could fit better, let me know

[2020-04-13 16:55] AdhamAH commented on #391
@kevin-Price check this also

[2020-04-13 17:07] Josh1794 opened #490 "On Education Quiz section should be changed to True or False (Currently "False or True")"
### Prerequisites

* [X] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in QA
    * Followed all applicable steps in the TROUBLESHOOTING guide: TODO
    * Checked for relevant discussions on Discord: <https://discord.gg/pPERUuv>
    * Checked that your issue isn't already filed: <https://github.com/COVID-19-electronic-health-system/Co

[2020-04-13 17:08] Josh1794 commented on #490
I can work on this

[2020-04-13 17:11] Josh1794 commented on #490
Should I also change the direction you drag for true or false to match the words?

[2020-04-13 17:13] SomeMoosery commented on #489
Great point, I was actually meaning to write out stories for this as well as analytics today! Would you be willing to scope out an issue for this with acceptance criteria for this feedback system (I think a star system in the More popup could work well for now)?

[2020-04-13 17:15] SomeMoosery commented on #490
Yes to both! Good suggestions

[2020-04-13 17:16] Josh1794 commented on #490
Would you happen to know where the swipe functionality is I cant find it

[2020-04-13 17:21] kevin-Price commented on #489
I can definitely do that! I'll write up a user story and attach it to the issue. Im not sure how valuable a star rating is by itself. The purpose here is to capture user feedback in order to drive meaningful changes. TBH, Im not even sure if the star rating is going to be valuable at all in this case -- I should probably take it out. Google store and app store use the star rating to help _other us

[2020-04-13 17:32] SomeMoosery opened #491 "Implement Analytics"
## Summary

- [ ] Set up analytics of some form

Basic functionality should include
- [ ] Track page views
- [ ] Track locations page was accessed
- [ ] Track how long user stayed on site

Advanced functionality we should include
- [ ] Track load performance
- [ ] Track how long user stays on each page
- [ ] Track rendering performance
- [ ] Track scroll
- [ ] Track events

## Motivation

Once we

[2020-04-13 17:33] SomeMoosery commented on #491
I'm on this

[2020-04-13 18:52] pavel-ilin commented on #472
Can take on this one.

All images in "coronatracker-media-assets" bucket, correct?

[2020-04-13 19:05] fallon7284 commented on #476
This is actually an interesting problem, because the way we are generating the filenames for those individual files is simply by looking at the length of the array of observations in the observations.json file, so if we are to remove an observation from that observations.json file, we'll throw that process out of sync.  A simple but maybe too hacky solution might be to simple replace the observati

[2020-04-13 19:09] fallon7284 commented on #476
Maybe a better long term solution is actually that observations.json is an object where keys are the date and the name of the single file is also just like observations/{theDate}.json

[2020-04-13 19:33] pavel-ilin commented on #254
I and 3 test users haven't experienced this bug in 100% cases.

[2020-04-13 19:37] johnemurphy1 commented on #491
@SomeMoosery let me know if you need any help. 10+ years on the user side and basic web implementation.

[2020-04-13 19:41] JWaltuch commented on #476
I could change it to add by date if that makes better sense. The date would always be unique, right?

[2020-04-13 21:03] fallon7284 commented on #476
Yeah the date would always be unique.  It is sort of a large change that goes well outside the scope of this issue.

I wonder if the sort of hacky solution of just replace it with a null value is ultimately still perfectly acceptable?  It would just require a small tweak in the fetch thunk to filter out those null values from the list we add to the redux store.

Otherwise like I said it's a much l

[2020-04-13 21:08] SomeMoosery commented on #489
Exactly - definitely reach out to @nathanboone as he's been doing great work writing user stories already 👍

[2020-04-13 21:12] SomeMoosery commented on #472
I believe so, I'll just double check with @acthelemann

[2020-04-13 21:12] SomeMoosery commented on #254
I'll close this then!

[2020-04-13 21:12] #254 closed

[2020-04-13 21:12] SomeMoosery commented on #491
Sounds good, thanks @johnemurphy1 !

[2020-04-13 21:13] JWaltuch commented on #476
Yeah, that's why I wanted to check what we all want for a large scale before I move forward with it :)

[2020-04-13 21:19] SomeMoosery commented on #476
So this issue actually wasn't high priority until discussing with legal teams very recently - so as it stood what you implemented was a perfect solution @fallon7284

That being said, it's become clear that we really ought to provide the user a way to delete all of their data if they so wish. I'm rethinking this issue and nuances behind it now that these points have been brought up. From a selfish

[2020-04-13 21:30] mamutahr commented on #405
The only place I can find react-with-gesture is in the yarn.lock file, should this issue be closed?

[2020-04-13 21:32] SomeMoosery commented on #405
I’m pretty sure it’s being used for the WeeklyTracker / DailyTracker sliding components no? It was last I checked (not at computer now). If not, all that needs to be done would be to remove it entirely using ‘yarn remove’

[2020-04-13 21:41] mamutahr commented on #405
I found react-use-gesture in the sliding parts for those components so i think were good, ill try it out and submit a pull request

[2020-04-13 21:43] SomeMoosery commented on #405
Ah, nice - hadn’t noticed someone must’ve changed it when updating them at some point!

[2020-04-13 21:46] JWaltuch commented on #476
I'm no legal expert, but for privacy reasons and legal reasons, it certainly feels like a delete all would satisfy it. Because if the issue is that a user isn't comfortable with having the data stored, they CAN delete it all at any time. And I agree that we kind of don't want to encourage them to just delete random observations because it skews their data as a whole.

I can vaguely imagine being a

[2020-04-13 22:00] SomeMoosery commented on #476
Yeah I think it's definitely a good feature to have - and something we should implement as we go forward. I'm just thinking from a liability standpoint and for the scope of this issue - we should just add the bare minimum "Delete All" functionality for Friday and then build off of that.

If you want to get started on that - adding that functionality will always be useful no matter what. I can circ

[2020-04-13 22:18] acthelemann commented on #472
@pavel-ilin You got it!

[2020-04-13 22:20] #490 closed

[2020-04-13 22:25] fallon7284 commented on #476
Yeah so I think I deleted that commented out deleteAll function now, but it should be easy enough to write, you just need to checkout how listFiles works.

[2020-04-13 22:26] Afrogrrrl commented on #334
Apologies, I've had a lot going on this week and I figure I've been sitting on this issue for too long so I thought it best to give someone else a chance to do it. If no one else wants to take it on I can ultimately do it. I know it's not a huge task, I just haven't been able to sit and focus on it with everything else going on.

[2020-04-13 22:27] JWaltuch commented on #476
Okay :) I have functionality right now on left swipe of an observation, but if we're deleting everything I don't know if that makes sense? Should I make a button somewhere for Delete All?

[2020-04-13 23:12] SomeMoosery commented on #476
Yeah, maybe another button or additional to the `More` popup? Maybe something that runs across the bottom of it?

[2020-04-13 23:39] SomeMoosery commented on #334
No problem - take as much time as you need hope all is well

[2020-04-13 23:53] gitalink commented on #334
I will take a stab at this.

[2020-04-14 00:06] acthelemann commented on #472
@pavel-ilin I just set up a CDN for our images so the URL is different now. Use the following:

`https://dg1fd6ea8poyj.cloudfront.net/images/<FILE_NAME>`

Where <FILE_NAME> is the file name found in the client/src/img directory.

Example:

https://dg1fd6ea8poyj.cloudfront.net/images/Logo_CORONATRACKER_Logo.svg

[2020-04-14 00:11] acthelemann commented on #488
I used just about all of the default settings.

Some things to consider for the future:

* Custom domain name
* Logging accesses
* Confirm price class
  * I selected **All Edge Locations** for best performance, but will increase costs
  * https://aws.amazon.com/cloudfront/pricing/

[2020-04-14 00:11] #488 closed

[2020-04-14 02:23] gitalink commented on #334
Hey @johnemurphy1, you mentioned code for the temperature/symptoms toggle was ready and tested, were you able to merge it? I picked up this ticket to add the temperature average.

[2020-04-14 02:52] acthelemann opened #495 "Log health slider more options needs too much sliding on large screens"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in QA
    * Followed all applicable steps in the TROUBLESHOOTING guide: TODO
    * Checked for relevant discussions on Discord: <https://discord.gg/pPERUuv>
    * Checked that your issue isn't already filed: <https://github.com/COVID-19-electronic-health-system/Co

[2020-04-14 04:41] #405 closed

[2020-04-14 04:51] SomeMoosery commented on #491
So I've retitled and reformatted this issue. Google Analytics may not be the best strictly in terms of vision here. Google analytics, while not collecting any personal information from users, is using all of these analytics just as we are - it's why their service is free. CoronaTracker is aimed at being open-source and community-driven, with user empowerment in mind. Integrating with GA behind the

[2020-04-14 19:32] pavel-ilin commented on #472
@acthelemann Got it! Working on that.

[2020-04-14 19:47] kevin-Price commented on #370
Quick update on this: Refactored the bar chart into a line chart. Going to tackle the table next. Should be ready by tomorrow.

[2020-04-14 20:28] SomeMoosery commented on #370
Great! Excited to see the PR!

[2020-04-14 20:51] whoabuddy commented on #362
Closing in favor of [.github repo #3](https://github.com/COVID-19-electronic-health-system/.github/issues/3)

[2020-04-14 20:51] #362 closed

[2020-04-14 20:52] whoabuddy commented on #401
Closing in favor of [.github repo #3](https://github.com/COVID-19-electronic-health-system/.github/issues/3)

[2020-04-14 20:52] #401 closed

[2020-04-14 20:59] whoabuddy commented on #363
Closing in favor of [.github repo #4](https://github.com/COVID-19-electronic-health-system/.github/issues/4)

[2020-04-14 20:59] #363 closed

[2020-04-14 21:02] SomeMoosery opened #497 "Create "Delete All User Data" functionality"
## Summary

- [ ] create button in onboarding underneath "Delete All Observations" (once #496 merges in) asking if user wants to delete all user data - with an appropriate notice
- [ ] add functionality to delete all user data (disclaimer status, onboarding data, etc) based off of @JWaltuch changes #496

## Motivation

Certain states' and countries' laws give individuals the right to be forgotten

[2020-04-14 21:03] Afrogrrrl commented on #497
I think this is an interesting one, definitely want to give it a try. Is this needed by tomorrow?

[2020-04-14 21:04] SomeMoosery commented on #497
We've moved the release back to Friday, so just by Friday would be great!

[2020-04-14 21:29] fallon7284 commented on #497
https://blockstack.github.io/blockstack.js/classes/usersession.html#listfiles

[2020-04-14 21:46] PhurbaSherpa commented on #495
Could I work on this issue, it will be my first contribution?

[2020-04-14 22:25] SomeMoosery commented on #495
Yup, all you!

[2020-04-14 23:57] #495 closed

[2020-04-15 00:43] acthelemann opened #500 "Weekly tracker ratings out of 5"
## Summary

The `WeeklyTrackerDay` component displays values out of 10 when the survey rates on values out of 5.

- [ ] Make the "You said you felt" rating out of 5
- [ ] Make the "Symptoms" rating out of 5

## Motivation

Make the weekly tracker align with the survey.

## Describe alternatives you've considered

Make the ratings in the survey out of 10.

[2020-04-15 01:21] petesamper commented on #500
I'll take this

[2020-04-15 01:22] acthelemann commented on #500
You got it!

[2020-04-15 01:30] petesamper commented on #500
To be sure, just changing the 10 to a 5 for both "You said you felt" and "Symptoms", right? Nothing else?

[2020-04-15 01:32] acthelemann commented on #500
Yeah, bonus points if you find other places to change it.

[2020-04-15 01:44] petesamper commented on #500
In the Table component, under 'Overall feeling". Just says the number. Could add "/5" to it if you'd like.

[2020-04-15 01:46] acthelemann commented on #500
Sounds good to me

[2020-04-15 02:03] petesamper commented on #500
Cool. PR coming in shortly.

[2020-04-15 03:05] #500 closed

[2020-04-15 04:42] SomeMoosery opened #502 "Update notifications subscription service to hit current API Gateway"
## Summary

- [ ] update the text input where you subscribe to text updates to our current API Gateway URL for the `subscribe` lambda

## Motivation

We want to have users be able to subscribe to notifications by Friday's beta launch

[2020-04-15 04:46] SomeMoosery opened #503 "Add unsubscribe option below subscribe option"
## Summary

- [x] Implement unsubscribe functionality
     - this is a little bit open ended. Longterm, we'll be adding a separate settings page for things like this, but for Friday's launch we need to add this simple functionality. Perhaps a separate text input below the current one, or reword the text input to say subscribe/unsubscribe, entering the same text input but having an unsubscribe butt

[2020-04-15 05:02] SomeMoosery opened #504 "Create QA client in CoronaTracker AWS"
## Summary

- [ ] Create a new S3 bucket containing the most up-to-date copy of the site
- [ ] Share this with the community, preferably pinning it in large Discord groups and potentially adding it to the README (reach out to @whoabuddy for this)

## Motivation

While longterm we may look to add more environments with separate test backends and all, but for the time being, a simple separate client

[2020-04-15 05:14] SomeMoosery opened #505 "Remove profile photo option from onboarding"
## Summary

- [ ] Remove the blank avatar from onboarding screen

## Motivation

Right now, we don't have the ability to add a profile photo, and it's not in our nearterm goals, so we can remove it and re-implement it when we need it. It may confuse users for now.

[2020-04-15 05:19] SomeMoosery opened #506 "More dialog only opens when clicking icon on desktop"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in QA
    * Followed all applicable steps in the TROUBLESHOOTING guide: TODO
    * Checked for relevant discussions on Discord: <https://discord.gg/pPERUuv>
    * Checked that your issue isn't already filed: <https://github.com/COVID-19-electronic-health-system/Co

[2020-04-15 05:20] SomeMoosery opened #507 "Make onboarding text boxes choice boxes highlight similarly to survey"
## Summary

- [ ] Use styling similar to survey to have only one box out of the choice boxes (such as male / female) stay highlighted

<img width="454" alt="Screen Shot 2020-04-15 at 1 14 53 AM" src="https://user-images.githubusercontent.com/15767602/79301305-43cf5e80-7eb7-11ea-95c0-8ef5a6c485c3.png">

## Motivation

We want to have a cohesive UI/UX for the end user

[2020-04-15 05:22] SomeMoosery opened #508 "Stylize address bar in onboarding to allow for full address to show"
## Summary

- [ ] reorganize onboarding text inputs in order to better fit most addresses. Currently, anything aside from very short cities will be cut off.

<img width="454" alt="Screen Shot 2020-04-15 at 1 14 53 AM" src="https://user-images.githubusercontent.com/15767602/79301305-43cf5e80-7eb7-11ea-95c0-8ef5a6c485c3.png">

## Motivation

We want a clean UX for the user - even though this is mino

[2020-04-15 14:57] #472 closed

[2020-04-15 15:21] #507 closed

[2020-04-15 15:21] #508 closed

[2020-04-15 15:21] #505 closed

[2020-04-15 15:29] kevin-Price commented on #491
Analytics for performance is a great idea. For this particular data point: "Track how long user stays on each page" - does it make more sense to ask the users? IE In the form of a feedback page/feedback popup.

Im thinking instead of tracking that Bob spends a lot of time on page x, we can ask Bob what he thinks about the application.

Im wondering what the goal behind that metric is. Spending a l

[2020-04-15 15:31] SomeMoosery commented on #491
Good points, I was really just thinking of some general things that we could track. I know if we go with something like Fathom, they provide a streamlined dashboard of key metrics, so it would really just be what they provide in the end.

Anything we get on an analytics side should definitely be done in tandem with user surveys, though! Which are well in the works

[2020-04-15 15:38] pavel-ilin opened #510 "External image .jpg - access denied"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in QA
    * Followed all applicable steps in the TROUBLESHOOTING guide: TODO
    * Checked for relevant discussions on Discord: <https://discord.gg/pPERUuv>
    * Checked that your issue isn't already filed: <https://github.com/COVID-19-electronic-health-system/Co

[2020-04-15 15:38] johnemurphy1 commented on #491
Since we're a new app, we should track things like bounce rate, sign up
completions, retention, etc. Not familiar with Fathom, but will start
researching now.

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term=icon>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&u

[2020-04-15 15:39] kevin-Price commented on #491
@johnemurphy1  I 100% agree with those metrics. Definitely useful things to track for a first app.

In regard to user feedback, I spun up an issue on that: #489   - Ill go refine it into a user story

[2020-04-15 15:40] SomeMoosery commented on #510
Does this happen for all files hosted in S3, or just `codevscovid.jpg`?

[2020-04-15 15:46] pavel-ilin commented on #510
Only for `codevscovid.jpg`, rest of the files, at least which I was using, working fine.

[2020-04-15 16:04] SomeMoosery commented on #510
Hm... maybe something to look into with how S3 handles .jpg vs .png - would you be able to look into this? If not, I can later tonight

[2020-04-15 16:15] pavel-ilin commented on #510
There was not such file as `codevscovid.jpg` in S3. I upload it there and now everything is working as it should.

I think we should add instruction for the UI contribution, to upload everything to S3 so we can have single source of truth.

[2020-04-15 16:15] #510 closed

[2020-04-15 16:21] AdhamAH opened #511 "Swipe for weakly tracker and log health slider not working"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in QA
    * Followed all applicable steps in the TROUBLESHOOTING guide: TODO
    * Checked for relevant discussions on Discord: <https://discord.gg/pPERUuv>
    * Checked that your issue isn't already filed: <https://github.com/COVID-19-electronic-health-system/Co

[2020-04-15 16:21] SomeMoosery commented on #510
Definitely, good catch! And I'll note that down to add to the `README` 👍

[2020-04-15 16:22] AdhamAH commented on #511
@SomeMoosery if this is not meant to be, I will do a PR ASAP

[2020-04-15 16:26] SomeMoosery commented on #511
This is happening for you on the most up-to-date master? I'm trying on my end on both mobile/desktop view and things are working fine 🤔

[2020-04-15 16:32] AdhamAH commented on #511
I actually use GitHub desktop and always check it, it still present. I don't know
![Screenshot 2020-04-15 at 18 31 24](https://user-images.githubusercontent.com/55054963/79362876-6ad57100-7f47-11ea-8b23-42452444c5d6.png)

[2020-04-15 16:34] SomeMoosery commented on #511
Hm, let's see if others notice the same thing...

[2020-04-15 16:40] #476 closed

[2020-04-15 16:58] AdhamAH commented on #511
@SomeMoosery I think it is only a bud on desktop. Because it is working on an actual mobile but not on the mobile port on desktop or the default view which is strange.
I made sure I am on the last commit

[2020-04-15 17:42] pavel-ilin commented on #504
If no one working on this, I can take it.

[2020-04-15 17:49] SomeMoosery commented on #504
All you - this is much needed and shouldn't be that hard!

Some steps to take after creating the S3 bucket for this if you haven't already would be
1. Set up the `aws` [CLI](https://aws.amazon.com/cli/)
2. Configure it with `aws configure` and your access codes

And then you can just
1. build the react file `yarn run build`
2. sync it with S3`aws s3 sync build/ s3://<BUCKET-NAME>`

[2020-04-15 18:32] kevin-Price commented on #370
In lieu of some overlapping work to table.jsx on #460  -- should we cut the table changes out of scope here? And I can push up my changes to the chart?

[2020-04-15 18:48] johnemurphy1 commented on #359
Hi all, this is the translation JSON file that I created per this issue. After a discussion with Sal and Austin, the questions center around what questions have to be included in the launch version and/or could be added (or deleted) later based on @ngiangre 's analytics and/or other parties contributing on various components. Please review attached and comment.
[translationsFormatted.txt](https://

[2020-04-15 20:38] pavel-ilin commented on #504
App build successfully deployed on s3 bucket.

Initially build has failed. Here the error:
![](https://i.ibb.co/smhwBRv/Screen-Shot-2020-04-15-at-4-33-04-PM.png)

After brief research I learn that we should add `@babel/compat-data` to dev dependencies. When I add it and build was successful.

[2020-04-15 20:38] #504 closed

[2020-04-15 22:12] SomeMoosery opened #514 "Add suggested topics to free response section of survey"
## Summary

- [x] for Q6, add in text encouraging users to write about a loss of smell or taste

## Motivation

We need to include the smell/taste information by Friday's release, but are taking a three-step approach to make sure we implement these changes properly:

1. Issue to just coax the user to mention things in the free text box
2. Implementing actual smell/taste buttons
3. Implementing a f

[2020-04-15 22:26] #264 closed

[2020-04-15 23:11] pavel-ilin commented on #502
I can take on this one. Although, I can't see `subscribe` lambda service. Only `coronalert-unsubscribe`.

[2020-04-15 23:16] SomeMoosery commented on #502
Make sure you're in `us-east-1` (N. Virginia)

[2020-04-16 00:24] acthelemann commented on #514
@SomeMoosery This sound okay?

Anything else you want to add?
Loss of smell or test, headache, diarrhea, nausea, vomiting, abdominal pain, etc.

[2020-04-16 00:47] AdhamAH commented on #511
@acthelemann could you help me with this? does it work on desktops?
if so then maybe it is my setup or something.

[2020-04-16 00:52] #391 closed

[2020-04-16 00:55] acthelemann commented on #511
Yeah, it should work everywhere. It's a little tricky, you need to do what is considered a swipe. It's a quick motion, it's not that your mouse/finger goes to the edge of the screen it's that you were going fast enough when you let go.

[2020-04-16 00:56] acthelemann commented on #511
Flick of the wrist

![swipe](https://user-images.githubusercontent.com/16993949/79403001-95312980-7f5b-11ea-9a5c-993066a7211e.gif)

[2020-04-16 00:58] acthelemann commented on #511
I think the swipe detection could be improved in the future, I just used what the library considers a swipe.

[2020-04-16 01:14] AdhamAH commented on #511
@acthelemann thanks! yeah, I agree. I think it is really a great library but needs some workaround to fit our needs
I will close

[2020-04-16 01:14] #511 closed

[2020-04-16 02:43] acthelemann commented on #502
@pavel-ilin Here's an example `curl`:

[code]

[2020-04-16 02:56] #506 closed

[2020-04-16 02:59] SomeMoosery commented on #514
I think that's great for now - just basing this off of a quick convo from the Discord 👍

[2020-04-16 03:06] acthelemann opened #518 "More modal closes when clicking anywhere"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in QA
    * Followed all applicable steps in the TROUBLESHOOTING guide: TODO
    * Checked for relevant discussions on Discord: <https://discord.gg/pPERUuv>
    * Checked that your issue isn't already filed: <https://github.com/COVID-19-electronic-health-system/Co

[2020-04-16 03:19] kevin-Price commented on #270
This is a great idea. From my experience, Terraform + some scripts accomplish this very well. What pipeline were you thinking of using? Jenkins? AWS code pipeline?

[2020-04-16 03:31] salvolpe opened #519 "Fix Quiz Questions + Add Explanations"
Hey all, the score calculations aren't 100% accurate for the quiz. Sometimes it can be difficult to swipe a card in the direction you'd expect, but also the question about the emergency room should be false, not true.

[![Image from Gyazo](https://i.gyazo.com/68aaf7ac711cfe4b9fb40b940532093e.gif)](https://gyazo.com/68aaf7ac711cfe4b9fb40b940532093e)

Lastly, will we be having the explanations and s

[2020-04-16 04:47] PhurbaSherpa commented on #518
I can work on this.

[2020-04-16 04:49] acthelemann commented on #518
All you

[2020-04-16 04:55] #503 closed

[2020-04-16 05:10] #514 closed

[2020-04-16 05:24] ransing opened #523 "Adding Behavioral chart to surveyPage4.jsx and tables.jsx"
## Summary
Adding BehavioralChart (rechart) in surveypage4 and tables. Added checkboxes for tables for rendering charts( Fever and behavioral chart)

## Additional context

This is in continuation or next step for issue #460 which was earlier resolved by adding the behavioral survey. Now it is for adding the charts.

In case of Fever Chart, as of now, the chart loaded is the previous chart (which

[2020-04-16 05:40] #518 closed

[2020-04-16 12:44] pavel-ilin commented on #502
Got it! Thank you!

[2020-04-16 15:32] Afrogrrrl commented on #497
question about styling here, I'm thinking we might not want the delete buttons to be too similar? This is how it looks now

![image](https://user-images.githubusercontent.com/53954135/79475377-9737ce80-7fd5-11ea-8ac8-eda4dc0b4ff5.png)

I think the delete all user data button should be how it is but maybe the delete observations button should be an in-between. Perhaps a blue background with red let

[2020-04-16 15:35] Afrogrrrl commented on #497
It just seems like with these two delete buttons a user might not exactly know what is the difference/purpose between them

[2020-04-16 16:01] acthelemann commented on #497
Maybe this is too involved for this issue, but one button that says something like "Manage My Data" which opens a pop-up that has a checkbox for "Survey data" and "All data". The "All data" checkbox should check "Survey data" automatically. This would also prepare for more fine grain data deletion options

[2020-04-16 16:40] whoabuddy commented on #497
I'd go the simple route for the bottom button as a quick fix: "Delete All Data".

Otherwise it's hard to differentiate what is observation data vs user data, and might not imply their linked?

Plus more buttons could be added and/or a popup modal created in v2 per @acthelemann's point in a future release.

[2020-04-16 17:35] Afrogrrrl commented on #497
Yeah I like the idea of having a "Manage My Data" modal and it can go into details on the different options there. I guess for now I'll call the button Delete All Data and leave the styling as is?

[2020-04-16 17:56] AdhamAH commented on #402
I am not sure if this still needed as we updated the fonts for all the app I think.
If there is something specific let me know,
but this what it might be done (hence I don't like fonts on full black)
![Screenshot 2020-04-16 at 19 55 16](https://user-images.githubusercontent.com/55054963/79489864-40091c80-801c-11ea-8533-e32e6e86f2fe.png)

[2020-04-16 18:38] SomeMoosery commented on #497
I agree, I'd say yeah for now this is good! Maybe create a PR for this so we can have it in by tonight / tomorrow morning, and then we can open up another issue for the modal?

[2020-04-16 18:39] SomeMoosery commented on #402
I'd say we can wait on this for now, and think of a more complete redesign of how to present this page on desktop and make it user-friendly

[2020-04-16 18:39] #402 closed

[2020-04-16 18:49] awu556 opened #530 "Missing survey questions in survey component in regards to the Data Model and Translations sheets"
## Summary

We're currently missing a good amount of questions from the survey that relate to the data model created by the analytics team, and translations also needs these questions in order to help properly format the JSON file to drop in the translated text.

See the link for more details on what's missing [Data model](https://docs.google.com/spreadsheets/d/1gifZGnj-ntIOXbZrRY4S5KEULoV64DCbi0p

[2020-04-16 18:53] SomeMoosery commented on #530
Could you provide some more actionable steps for devs to take to complete this? And potentially break up into multiple issues if need be - as we move forward and have a broader and broader I feel that clear acceptance criteria are key to each issue

[2020-04-16 18:53] #519 closed

[2020-04-16 18:57] awu556 commented on #530
Yes, I was actually going to ask if you had any opinions on where some of the questions should end up. It seems part of them are in the settings tab, while the rest are in the survey. If I knew which ones should be consistent with each component, I could split it up into different issues for devs to work on

[2020-04-16 18:59] Afrogrrrl commented on #497
I should be done with it by tonight. Also wanted to clarify on what's being deleted - does delete all observations already clear out gaia? if not, what other info needs to be deleted in gaia? also, does it need to clear out the rest of the redux store?

[2020-04-16 19:00] SomeMoosery commented on #497
This should delete everything, not just observations (so all `.json` file we have - disclaimer, demographics-comorbidities, etc) 👍

[2020-04-16 20:26] whoabuddy opened #532 "Custom 404 page not shown"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in QA
    * Followed all applicable steps in the TROUBLESHOOTING guide: TODO
    * Checked for relevant discussions on Discord: <https://discord.gg/pPERUuv>
    * Checked that your issue isn't already filed: <https://github.com/COVID-19-electronic-health-system/Co

[2020-04-16 20:47] Josh1794 opened #533 "User onboarding question on Obesity needs to be re-worded"
### Prerequisites

* [X] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in QA
    * Followed all applicable steps in the TROUBLESHOOTING guide: TODO
    * Checked for relevant discussions on Discord: <https://discord.gg/pPERUuv>
    * Checked that your issue isn't already filed: <https://github.com/COVID-19-electronic-health-system/Co

[2020-04-16 20:53] Josh1794 opened #534 "Improvement to the Daily survey questions"
## Summary

an idea I had for improving the survey would be to add a pop-up/modal that would show the user resources for mental/physical health services if they put a low score on their daily survey.

<img width="1225" alt="Screen Shot 2020-04-16 at 4 34 08 PM" src="https://user-images.githubusercontent.com/46975990/79505608-a1bc8d00-8002-11ea-88fa-cf8fe723b7a8.png">

## Motivation

Makes the dail

[2020-04-16 20:55] AdhamAH commented on #532
Good catch! after checking this is what I found
This is happening when you refresh anything other than the root `/` i.e `/symptomsurvey` will give the same 404 page
I am not sure if it is a problem with the `react-router` set up or it is a server-side problem
what do you think @SomeMoosery @pavel-ilin @acthelemann

[2020-04-16 21:06] whoabuddy opened #535 "Feature: Use domain app.coronatracker.me"
## Summary

After talking with @SomeMoosery about domain names, I threw out the idea of using the coronatracker.me domain for both the website and the app and wanted to create a formal issue to consider it with the team.

Website: https://coronatracker.me
Web App: https://app.coronatracker.me

## Motivation

The .me TLD has a nice ring to it when talking about the app, and staying on the same doma

[2020-04-16 21:26] whoabuddy opened #537 "More dialog - phone number subscription status"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in QA
    * Followed all applicable steps in the TROUBLESHOOTING guide: TODO
    * Checked for relevant discussions on Discord: <https://discord.gg/pPERUuv>
    * Checked that your issue isn't already filed: <https://github.com/COVID-19-electronic-health-system/Co

[2020-04-16 21:31] acthelemann opened #538 "Add message after failed unsubscribe"
## Summary

If a user fails to unsubscribe a phone number - the phone number could have not been subscribed in the first place or there could be an internal server error - display a message explaining that it failed.

- [ ] Display message that phone number was not subscribed if service returns a `404` status code
- [ ] Display generic error message for any other failing status code

## Motivation

[2020-04-16 21:33] acthelemann opened #539 "Add message after failed subscribe"
## Summary

If a user fails to subscribe a phone number - the phone number could have already been subscribed in the first place or there could be an internal server error - display a message explaining that it failed.

- [ ] Display message that phone number was already subscribed if service returns a `409` status code
- [ ] Display generic error message for any other failing status code

## Moti

[2020-04-16 21:35] whoabuddy opened #540 "Swiping fast on quiz cards messes up score"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in QA
    * Followed all applicable steps in the TROUBLESHOOTING guide: TODO
    * Checked for relevant discussions on Discord: <https://discord.gg/pPERUuv>
    * Checked that your issue isn't already filed: <https://github.com/COVID-19-electronic-health-system/Co

[2020-04-16 21:49] whoabuddy opened #541 "User profile setup not saving or showing"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in QA
    * Followed all applicable steps in the TROUBLESHOOTING guide: TODO
    * Checked for relevant discussions on Discord: <https://discord.gg/pPERUuv>
    * Checked that your issue isn't already filed: <https://github.com/COVID-19-electronic-health-system/Co

[2020-04-16 22:02] whoabuddy opened #542 "Update yellow color on calendar"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in QA
    * Followed all applicable steps in the TROUBLESHOOTING guide: TODO
    * Checked for relevant discussions on Discord: <https://discord.gg/pPERUuv>
    * Checked that your issue isn't already filed: <https://github.com/COVID-19-electronic-health-system/Co

[2020-04-16 22:10] pavel-ilin commented on #532
I fixed it for `corona-tracker-client` bucket by adding `homepage` into package.json and add index.html as an error page in properties of the bucket.

![](https://i.ibb.co/NYTXXWg/Screen-Shot-2020-04-16-at-6-06-12-PM.png)

@SomeMoosery @acthelemann  Should I synch build with `coronatrackerbeta` bucket?

[2020-04-16 22:11] whoabuddy opened #543 "Buttons on today / survey slider not responding"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in QA
    * Followed all applicable steps in the TROUBLESHOOTING guide: TODO
    * Checked for relevant discussions on Discord: <https://discord.gg/pPERUuv>
    * Checked that your issue isn't already filed: <https://github.com/COVID-19-electronic-health-system/Co

[2020-04-16 22:42] whoabuddy opened #545 "Daily survey scales are inconsistent"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in QA
    * Followed all applicable steps in the TROUBLESHOOTING guide: TODO
    * Checked for relevant discussions on Discord: <https://discord.gg/pPERUuv>
    * Checked that your issue isn't already filed: <https://github.com/COVID-19-electronic-health-system/Co

[2020-04-16 22:44] whoabuddy commented on #543
After trying again from my desktop, I also found that it was difficult to swipe the notification all the way across the screen to initiate the survey. It worked well on mobile, but from the desktop I had to try a few times to get it to work.

[2020-04-16 23:00] SomeMoosery commented on #543
As of right now, these buttons don't serve a purpose - but maybe we should think about removing them

[2020-04-16 23:01] #543 closed

[2020-04-16 23:02] #497 closed

[2020-04-16 23:04] Bellex0 commented on #545
Hey, I mentioned this in PR #460, I'll explain it here too.
In regards to the rating scale, I understand that we should keep the rating scale consistent for all questions. However, the way these questions are phrased, it doesn’t sound rational to the user if 5 means “I’m feeling great, I haven’t lost any interest” and 1 means  “I’ve had significant loss of interest.” User will naturally equate 5 w

[2020-04-16 23:06] #502 closed

[2020-04-16 23:08] SomeMoosery commented on #532
I would try syncing with another bucket if you haven't already. If you have and you tested it and it works, let's sync with the `coronatrackerbeta` 👍

[2020-04-16 23:08] Josh1794 commented on #545
I was thinking of submitting a similar thing perhaps it would make sense to re word the questions to better fit the scales

[2020-04-16 23:10] #370 closed

[2020-04-16 23:16] #533 closed

[2020-04-16 23:26] #523 closed

[2020-04-16 23:44] ransing commented on #545
So I will play out scenarios here, and this is also for meditating on it for my purpose:

**This was the original Question** as seen in the screenshot in the above comment:
1. Have you lost interest or pleasure in doing things?
Response: Not at all (1)<---------Somewhat(3)-------> A lot(5)

**Current Scale**:
2. . Have you lost interest or pleasure in doing things?
Response: 🙂<-------😐--------> 😟

[2020-04-17 00:24] ngiangre commented on #545
For the launch tomorrow, whatever is put inn the app should be consistent to what's in the data model:
https://docs.google.com/spreadsheets/d/1gifZGnj-ntIOXbZrRY4S5KEULoV64DCbi0pZSVWKsns/edit?usp=sharing

If these Qs aren't in the survey tab, append them and follow the current annotation as for the other Qs (you have my permission, but just don't delete everything 👍 ). These Qs would be considered

[2020-04-17 00:46] #491 closed

[2020-04-17 02:11] acthelemann commented on #532
@pavel-ilin Nice job!

[2020-04-17 02:11] #532 closed

[2020-04-17 02:30] acthelemann commented on #545
Following the data model - this okay for page 1? The [1-10] scale messes with the symmetry a little.

![page-1](https://user-images.githubusercontent.com/16993949/79525773-aea4a500-8031-11ea-8c75-37387c2adcdc.png)

[2020-04-17 02:53] rachelafrick opened #551 "Quiz sometimes gives points for incorrect answers"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in QA
    * Followed all applicable steps in the TROUBLESHOOTING guide: TODO
    * Checked for relevant discussions on Discord: <https://discord.gg/pPERUuv>
    * Checked that your issue isn't already filed: <https://github.com/COVID-19-electronic-health-system/Co

[2020-04-17 03:23] ngiangre commented on #545
Looks great! Just congruence as of now. In my opinion, I think all likert scale questions should all be 1->5 or 1->10 for component consistency. That we can deal with later. I'm going to write up a protocol with @salvolpe after the launch.

[2020-04-17 04:22] SomeMoosery opened #554 "Use New Logo and Fix Styling"
## Summary

- [ ] Update logos/copy to include BETA styles
- [ ] Add additional padding and styling to ensure displays look good on all displays

## Motivation

LAUNCH TOMORROW

[2020-04-17 04:49] #545 closed

[2020-04-17 05:00] #554 closed

[2020-04-17 05:05] #551 closed

[2020-04-17 05:20] SomeMoosery opened #558 "Fix Safari iOS Scrolling Issues"
## Summary

- [ ] Fix all scrolling issues for iOS Safari on surveys

## Motivation

Lanch Party

[2020-04-17 11:16] johnemurphy1 commented on #542
Could I be assigned this one, please...

[2020-04-17 12:25] SomeMoosery commented on #542
All you!

[2020-04-17 12:43] #558 closed

[2020-04-17 13:41] AdhamAH commented on #540
This happens when you keep your fingers almost always on the screen and swipe as fast as you could. I don't think a lot of users will do that, never the less it is a bug. It is because the score count depends on the position of the card `x` and when it passes a certain point the function for adding the score triggers but you still pressing on the card it does not go away, that's what I think. I tr

[2020-04-17 14:16] fallon7284 commented on #541
I can handle this.

[2020-04-17 14:29] whoabuddy commented on #540
@AdhamAH Thank you for looking into this! I do agree it's rare but a user may "play" with them after doing it once or twice as I did and discover the bug.

I was also thinking there should be an "end game" screen that shows at least how you did, "You answered 3/7 correctly", maybe a grade based on percentage.

[2020-04-17 15:01] fallon7284 commented on #541
This is finished, if you'll just assign it to me I'll PR it.  Or tell me to just PR it.  Just trying to keep to the system.

[2020-04-17 15:01] fallon7284 commented on #541
It wasn't a bug it was just work we never did.

[2020-04-17 15:02] SomeMoosery commented on #541
Sweet - yeah, this was on my todo list of things to add. Thanks for this! Feel free to PR whenever 👍

[2020-04-17 15:52] whoabuddy commented on #453
Closing in favor of [#2 in the .github repo](https://github.com/COVID-19-electronic-health-system/.github/pull/2)

[2020-04-17 15:52] #453 closed

[2020-04-17 16:11] whoabuddy commented on #432
Closing in favor of [#1 in Coronalytics repo.](https://github.com/COVID-19-electronic-health-system/Coronalytics/issues/1)

I moved all the remaining tasks and information there.

[2020-04-17 16:11] #432 closed

[2020-04-17 17:45] fallon7284 commented on #537
I'd work on this but I'm not clear on what goes on with the subscription API calls... currently I get CORS errors whether I'm trying it running the app locally, the AWS site, the coronatrackerbeta site, (I think those two are the same, but that's not the point) so I can't really do anything.  What kind of response do we get from a successful subsription?

What I would think you'd want to do is tha

[2020-04-17 18:48] whoabuddy opened #562 "Update readme based on org-level changes"
### Description

The readme needs some updates based on the recent implementation of new community health files [in the .github repo.](https://github.com/COVID-19-electronic-health-system/.github)

### Additional Information

Required updates include:
- [x] fix all links/references to [CONTRIBUTING.md](https://github.com/COVID-19-electronic-health-system/.github/blob/master/CONTRIBUTING.md)
- [x]

[2020-04-17 19:01] AdhamAH opened #563 "Animation"
## Summary

Add animation and motion to the UX

## Motivation
make more user friendly

## Describe alternatives you've considered
already made a PR #561 as a simple start

## Additional context
no animation

[2020-04-17 19:09] SomeMoosery opened #564 "Mobile login doesn't work every time"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in QA
    * Followed all applicable steps in the TROUBLESHOOTING guide: TODO
    * Checked for relevant discussions on Discord: <https://discord.gg/pPERUuv>
    * Checked that your issue isn't already filed: <https://github.com/COVID-19-electronic-health-system/Co

[2020-04-17 19:09] SomeMoosery commented on #564
I'm on this

[2020-04-17 20:23] #541 closed

[2020-04-17 20:46] fallon7284 opened #566 "Clean up redux store/delete redundant and unused code"
## Summary

It seems like there are redux actions/reducers that serve a single narrow purpose that might logically be combined, and there are definitely 3 reducers, and their associated actions, which are unused/ have been made redundant by subsequent updates.  reducers/behavior, reducers/navigation, reducers/temperature are all unused.  I'd like to at least clean out the unused code, and maybe se

[2020-04-17 23:20] Bellex0 opened #567 "Add meta og:image tag in index.html"
Add a meta og:image tag in index.html with an image of the homepage (or any other page) of the app.

## Motivation

When the app link is posted on LinkedIn, other social media, etc., the post will show an image of the app. Currently, it is blank.

<img width="553" alt="Screen Shot 2020-04-17 at 7 17 52 PM" src="https://user-images.githubusercontent.com/47994630/79621182-71e3b700-80e0-11ea-9f08-7ac

[2020-04-18 01:16] AdhamAH commented on #539
I don't want you to work more than you thought the issue is @luky1300
But if you could take a look at [this](https://material-ui.com/components/snackbars/#snackbar) and maybe try to use it.
you can use something like  a `const response = []` and use `response.push('Subscribed successfully! .....')` function to push the message in place of `alert`
then `map` through `response` to make the `Snackbar

[2020-04-18 01:30] luky1300 commented on #539
@AdhamAH, thank you for your comment and for bringing this up! I totaly agree that the Snackbar looks more appealing. I will try to implement that.

[2020-04-18 01:51] AdhamAH commented on #539
Great! Try it but don't feel obligated to do it, it is just a suggestion.
But I assure you will feel pretty good when you see it working. I know from experience😁

[2020-04-18 16:57] ewamich opened #568 "Update 'good first issue' tags"
## Summary

Update 'good first issue' tags for open issues

[2020-04-18 18:18] tesla809 opened #569 "Link to Contributing.md on README.md is broken"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in QA
    * Followed all applicable steps in the TROUBLESHOOTING guide: TODO
    * Checked for relevant discussions on Discord: <https://discord.gg/pPERUuv>
    * Checked that your issue isn't already filed: <https://github.com/COVID-19-electronic-health-system/Co

[2020-04-18 18:37] #562 closed

[2020-04-18 20:20] SomeMoosery commented on #568
I'm not sure what this issue is describing. Would you be able to provide more detail?

[2020-04-18 22:12] ngiangre opened #571 "Expanding data model to include education"
## Summary

The data model <https://docs.google.com/spreadsheets/d/1gifZGnj-ntIOXbZrRY4S5KEULoV64DCbi0pZSVWKsns/edit?usp=sharing> does not categorize the education content like the health questions are categorized.

## Motivation

We are adding more structure to the education content to allow for flexible adaptability to UI features and to do this we need to have a consistent/sufficient education

[2020-04-18 22:32] ngiangre opened #572 "Transform education/health/translations content into json format"
## Summary

To draw from the final, complete content from the education, health, and translations efforts for use by Coronatracker developers, we need to have this pulled via the Google API and transform the csv files into formatted json files available in the repo.

## Motivation

To promote the integration of content and upload to the app UI

## Describe alternatives you've considered

Hardcodin

[2020-04-19 05:08] SomeMoosery commented on #537
I like the second suggestion of adding phone number to Gaia, and programmatically rendering text in the more component based on if the user has a subscribed phone number. Would you want to take a crack at this one?

We are currently calling a lambda function behind an API gateway on the backend.

[2020-04-19 05:09] SomeMoosery commented on #153
This has been finished up

[2020-04-19 05:09] #153 closed

[2020-04-19 05:09] SomeMoosery commented on #406
Closing for now - will reopen when relevant

[2020-04-19 05:09] #406 closed

[2020-04-19 05:12] SomeMoosery opened #575 "Swiping on cards sometimes forces back in history"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in QA
    * Followed all applicable steps in the TROUBLESHOOTING guide: TODO
    * Checked for relevant discussions on Discord: <https://discord.gg/pPERUuv>
    * Checked that your issue isn't already filed: <https://github.com/COVID-19-electronic-health-system/Co

[2020-04-19 05:14] SomeMoosery opened #576 "Cards on small screens cut off"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in QA
    * Followed all applicable steps in the TROUBLESHOOTING guide: TODO
    * Checked for relevant discussions on Discord: <https://discord.gg/pPERUuv>
    * Checked that your issue isn't already filed: <https://github.com/COVID-19-electronic-health-system/Co

[2020-04-19 05:15] SomeMoosery opened #577 "Flashcards go from #15 -> #1, not vice versa"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in QA
    * Followed all applicable steps in the TROUBLESHOOTING guide: TODO
    * Checked for relevant discussions on Discord: <https://discord.gg/pPERUuv>
    * Checked that your issue isn't already filed: <https://github.com/COVID-19-electronic-health-system/Co

[2020-04-19 05:18] SomeMoosery opened #578 "Add additional 'None' button to survey"
## Summary

We want to add an additional "None" option for people to choose from when choosing answers about symptoms during survey.

- [ ] Add "None" option for all button-based questions
- [ ] Ensure state is updated in Redux
- [ ] Ensure state is persisted to Gaia and properly shows up when survey is selected

## Motivation

Since this app is supposed to be used by everyone, not just people alr

[2020-04-19 05:21] SomeMoosery opened #579 "Create and Implement new graphic for advisory board"
## Summary

In About page, we want a graphic that will fit our card displaying our advisory board
- [ ] Create graphic
- [ ] Add to About page

## Motivation

Pleasant UI

[2020-04-19 05:22] SomeMoosery opened #580 "Add additional About page accomplishments cards"
## Summary

- [ ] Add card describing Global Hack 1.0 win
- [ ] Add card describing Hack Quarantine win
- [ ] Add card describing feature in Decrypt

## Motivation

We want to share that we're succeeding!

[2020-04-19 05:26] SomeMoosery opened #581 "When the user first logs in, click "back" on the onboarding page takes them to survey"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in QA
    * Followed all applicable steps in the TROUBLESHOOTING guide: TODO
    * Checked for relevant discussions on Discord: <https://discord.gg/pPERUuv>
    * Checked that your issue isn't already filed: <https://github.com/COVID-19-electronic-health-system/Co

[2020-04-19 05:28] SomeMoosery opened #582 "Autopopulate and clean onboarding"
## Summary

- [ ] Integrate with a maps API so that choosing address becomes an autocomplete process
- [x] Require state to be a dropdown with all 50 states, so we can keep collected data clean
- [x] When selecting a free text field, remove the "Click here" text, as this is confusing and makes the user feel like their click didn't work

## Motivation

This allows for
1. A smoother and more complet

[2020-04-19 05:30] SomeMoosery opened #583 "No default language in "Select Language""
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in QA
    * Followed all applicable steps in the TROUBLESHOOTING guide: TODO
    * Checked for relevant discussions on Discord: <https://discord.gg/pPERUuv>
    * Checked that your issue isn't already filed: <https://github.com/COVID-19-electronic-health-system/Co

[2020-04-19 05:32] SomeMoosery opened #584 "Remove emojis and add standardized scale for survey"
## Summary

- [ ] Remove all emojis
- [ ] Add a standardized scale for all questions utilizing a slider, translating the standardized values to the currently-used values on submit

## Motivation

- Multiple users have said emojis are confusing and do not make the UX more enjoyable, but more frustrating
- Multiple users have said that different scales for each question make the UX almost unusable b

[2020-04-19 05:35] SomeMoosery opened #585 "Some pages will open zoomed-in"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in QA
    * Followed all applicable steps in the TROUBLESHOOTING guide: TODO
    * Checked for relevant discussions on Discord: <https://discord.gg/pPERUuv>
    * Checked that your issue isn't already filed: <https://github.com/COVID-19-electronic-health-system/Co

[2020-04-19 05:38] SomeMoosery opened #586 "Survey buttons de-select on mobile when scrolling"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in QA
    * Followed all applicable steps in the TROUBLESHOOTING guide: TODO
    * Checked for relevant discussions on Discord: <https://discord.gg/pPERUuv>
    * Checked that your issue isn't already filed: <https://github.com/COVID-19-electronic-health-system/Co

[2020-04-19 05:40] SomeMoosery opened #587 "Create separate settings page from onboarding"
## Summary

- [ ] Create a component similar to, but different from `Onboarding`, which users will go to when navigating from `More` -> `Settings`
- [ ] Move data-related buttons (like the delete data buttons) into the settings page

## Motivation

As we grow, we should really have a designated settings page that's separate from the onboarding page

[2020-04-19 05:42] SomeMoosery opened #588 "Make "Get Started" button more prominent"
## Summary

- [ ] Center "Get Started" button and make it a larger, more prominent call to action

## Motivation

We want users to be well-aware that they should click this to enter and start our app

[2020-04-19 05:44] SomeMoosery opened #589 "Differentiate UI between button and input fields"
## Summary

- [ ] In onboarding section, and anywhere else with text inputs, make it more obvious that these are text input fields, and not buttons. For instance, don't say "click here."
- [ ] Change Age input to only accept numbers

## Motivation

User and professional reviews are telling us buttons and text inputs look too similar

[2020-04-19 05:48] SomeMoosery opened #590 "Make "Show Me More" table more appealing on mobile"
## Summary

The "Show Me More" table currently requires users to scroll horizontally on mobile, which is unpleasant
- [ ] Display the "Show Me More" table in a more user-friendly way on mobile, perhaps in multiple rows per observation. `react-device-detect` is a good package for this.

## Motivation

We want the UX to be as smooth as possible, and users are saying this is a pain point

[2020-04-19 05:50] SomeMoosery opened #591 "Make graphs more obvious to select"
## Summary

- [ ] In the "Show Me More" tab, create a more visible and inviting call to action than checkboxes for the user to view graphs, perhaps highlighted buttons like elsewhere in the app

## Motivation

Beta surveys are informing us that it's not obvious that the checkboxes display graphs.

[2020-04-19 05:54] SomeMoosery opened #592 "Add Loss of Taste, Loss of Smell buttons"
## Summary

- [ ] Add loss of taste button to survey
- [ ] Add loss of smell button to survey
- [ ] Remove these from the suggested items in the free text question

## Motivation

These are very important symptoms to specifically track

[2020-04-19 12:37] whoabuddy commented on #569
Fixed in #565

[2020-04-19 12:37] #569 closed

[2020-04-19 13:10] whoabuddy opened #593 "[DOCS] Add Translations README"
# ⚠️ IMPORTANT: Please fill out this template to give us as much information as possible to consider/implement this update.

### Summary

We need to create a README.md file for [the /Translations folder](https://github.com/COVID-19-electronic-health-system/Corona-tracker/tree/master/Translations) of Corona-tracker.

### Motivation

This will help explain what the Translations folder represents in

[2020-04-19 13:21] whoabuddy opened #594 "[DOCS] Update client README"
# ⚠️ IMPORTANT: Please fill out this template to give us as much information as possible to consider/implement this update.

### Summary

We need to update the README.md file in [the /client folder](https://github.com/COVID-19-electronic-health-system/Corona-tracker/tree/master/client) of the Corona-tracker repo.

### Motivation

This will help explain the contents of the folder better, as well as

[2020-04-19 13:21] ngiangre opened #595 "GET DUTCH TRANSLATION INTEGRATED ASAP"
## Summary

We received an urgent and needed request to provide our app to the dutch population by a dutch doctor. Unfortunately people have increased fear and anxiety and this is causing them to go to the ER when they do not need to be.

## Motivation

Our app has the opportunity to mitigate this fear and anxiety by allowing people to longitudinally follow the progress of their symptoms (or lack

[2020-04-19 13:34] whoabuddy opened #596 "[DOCS] Update design README"
# ⚠️ IMPORTANT: Please fill out this template to give us as much information as possible to consider/implement this update.

### Summary

We need to update the README.md file for [the /design folder](https://github.com/COVID-19-electronic-health-system/Corona-tracker/tree/master/design) of Corona-tracker.

### Motivation

This will help explain what the design folder represents in terms of the app

[2020-04-19 14:08] #334 closed

[2020-04-19 15:13] givonz opened #597 "Add Symptom Diarrhea"
### Prerequisites

* [ ] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in QA
    * Followed all applicable steps in the TROUBLESHOOTING guide: TODO
    * Checked for relevant discussions on Discord: <https://discord.gg/pPERUuv>
    * Checked that your issue isn't already filed: <https://github.com/COVID-19-electronic-health-system/Co

[2020-04-19 15:14] givonz opened #598 "Age field should not say click. It is a fill-in not a drop-down."
### Prerequisites

* [ ] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in QA
    * Followed all applicable steps in the TROUBLESHOOTING guide: TODO
    * Checked for relevant discussions on Discord: <https://discord.gg/pPERUuv>
    * Checked that your issue isn't already filed: <https://github.com/COVID-19-electronic-health-system/Co

[2020-04-19 15:26] ngiangre commented on #597
added to master health survey on google sheet

[2020-04-19 15:52] SomeMoosery commented on #598
Similar to #589

[2020-04-19 15:52] #598 closed

[2020-04-19 16:58] PhurbaSherpa commented on #587
I can work on this

[2020-04-19 19:13] #572 closed

[2020-04-19 19:14] #587 closed

[2020-04-19 22:23] fallon7284 commented on #566
I'll do this.

[2020-04-19 22:29] fallon7284 commented on #537
@SomeMoosery I'll take a crack at this but I'd like to know if what I'm seeing with regard to CORS errors from that subscribe function are also what you see... It's strange, I saw CORS errors every time I used it, running local and also deployed, but I'm getting messages so it did subscribe me.

Do I expect to get a response back from that API call indicating success or failure?

[2020-04-19 22:38] mamutahr commented on #577
Hello, could I try working on this?

[2020-04-19 23:11] SomeMoosery commented on #577
All you!

[2020-04-19 23:13] acthelemann commented on #567
Should we use the logo here or an image of a page?

[2020-04-19 23:14] SomeMoosery commented on #537
![Screen Shot 2020-04-19 at 7 12 44 PM](https://user-images.githubusercontent.com/15767602/79702287-c79b9900-8271-11ea-9b83-dfcaf37ae31f.png)

So I'm not sure why those CORS issues are coming up, but I'd likely attribute it to the `subscribe` lambda in `Coronalert` not having the requisite allowances on the server side - it may be worth referencing this bug there as well.

I'm also seeing a failed

[2020-04-19 23:16] SomeMoosery commented on #567
I'd vote logo an image of the health log page, maybe - but open to suggestions

[2020-04-20 02:50] crispinamuriel commented on #594
Hello, I'd like to work on this issue!

[2020-04-20 05:49] salvolpe commented on #593
Completed this! Thanks @whoabuddy for pointing it out!

[2020-04-20 11:14] AdhamAH commented on #590
I will rebuild the table component

[2020-04-20 11:16] AdhamAH commented on #590
When I day rebuild I mean I will make sure that it is good for mobile and easy, but I will look into that package

[2020-04-20 12:27] AdhamAH commented on #591
I will be doing this with #590

[2020-04-20 15:18] #594 closed

[2020-04-20 15:34] pavel-ilin commented on #592
Can take on this one.

[2020-04-20 16:27] crispinamuriel commented on #596
I'd like to work on this!

[2020-04-20 17:15] PhurbaSherpa commented on #589
Would making the input boxes with a white background be good ?

<img width="958" alt="Screen Shot 2020-04-19 at 7 35 44 PM" src="https://user-images.githubusercontent.com/53540583/79779796-f153cf00-8308-11ea-9b2e-bd549b38e4c7.png">

[2020-04-20 17:20] crispinamuriel commented on #596
I'm having a little problem understanding this checkbox
[ ] Formatting for external links via Amazon CloudFront

I completed everything else!

[2020-04-20 17:21] SomeMoosery commented on #589
Yeah! I'd say either white or clear 👍

[2020-04-20 17:21] SomeMoosery commented on #589
Also, perhaps check if this is another issue first, but "Age" should really be a dropdown or at least a number input, not free text

[2020-04-20 18:09] PhurbaSherpa commented on #589
I don't think I'm able to edit the original issue.

[2020-04-20 18:15] SomeMoosery commented on #589
Ah okay, I'll go ahead and edit it then 👍

[2020-04-20 18:20] #596 closed

[2020-04-20 19:29] crispinamuriel commented on #588
Can I work on this?

[2020-04-20 19:54] #589 closed

[2020-04-20 23:53] mamutahr commented on #577
To fix this I was thinking of making an array for the cards and reversing this:
![image](https://user-images.githubusercontent.com/36338290/79810124-4bbc5200-8340-11ea-8419-3811b77cbb7e.png)

As opposed to:
![image](https://user-images.githubusercontent.com/36338290/79810215-88884900-8340-11ea-8474-b96c69c077c8.png)

Would this affect any planning of future ordering of the cards or the comment see

[2020-04-21 00:35] #583 closed

[2020-04-21 00:36] #588 closed

[2020-04-21 00:40] SomeMoosery commented on #577
Why not just reverse the current ordering we have now at the point that ordering occurs? Even if it maps starting at i i.e. 15, we could just do something like `i-(i+1)` i.e. 15-14 = 1

[2020-04-21 00:44] SomeMoosery commented on #585
I'll take this

[2020-04-21 00:50] PhurbaSherpa commented on #586
I can work on this

[2020-04-21 00:55] mamutahr commented on #577
Oooh I see thats even better, so it would just be something like data={ cardData[ length - i - 1 ] }?

[2020-04-21 01:00] SomeMoosery commented on #577
Yeah I'm frankly not sure the most elegant solution here but I feel like there's an easier and more inline way that creating a separate array of `FlashCards` - but I could be wrong!

[2020-04-21 01:01] SomeMoosery commented on #586
You're on a roll!

[2020-04-21 01:06] SomeMoosery commented on #580
I'll take this

[2020-04-21 01:31] tesla809 opened #608 "Update coronatracker.me to HTTPS (discussion)"
## Summary
Is it necessary to update Coronatracker.me to https?
Currently, it is
If we start to collect emails (and perhaps for SEO if its a thing) would it better to upgrade?

## Motivation
Why are we doing this?
Conveys more security, especially if we collect initial user data

What use cases does it support?
Security and user acquisition.

What is the expected outcome?
Our site is HTTPS, more s

[2020-04-21 01:33] SomeMoosery commented on #608
This is more @nathanboone or @BrianHHough territory - this is the Squarespace site so I don't really touch this as it's not a part of the web app, it may be necessary but not within the scope of the repo 👍

[2020-04-21 01:33] #608 closed

[2020-04-21 01:33] tesla809 commented on #608
Good call! Thanks!

[2020-04-21 01:39] #592 closed

[2020-04-21 01:39] mamutahr commented on #577
On it! Will send a PR soon, thanks for helping me out!

[2020-04-21 02:11] luky1300 commented on #584
Do we want to do something like [label alway visible slider](https://material-ui.com/components/slider/#label-always-visible) here?

[2020-04-21 02:21] SomeMoosery commented on #584
I think the slider we have now is fine, this is about removing the emojis in favor of actual numbers, and standardizing the numbers used to use the same scales they currently use but only on the backend, with a consistent scale on the frontend. Like, we have scales now going from 1-5 and other 1-10 etc. We should have all scales be the same on the frontend, but when data is submitted, it's transla

[2020-04-21 02:46] #586 closed

[2020-04-21 03:11] tylerd92 commented on #578
I would like to work on this. I do have a question on how to maintain the UI after adding another button. I attached a screenshot showing what is happening currently when I added the "None" button, the "Moderate" button label was affected.
![Screen Shot 2020-04-20 at 11 06 11 PM](https://user-images.githubusercontent.com/12787123/79821097-d9596b00-835b-11ea-9cbc-bb507327e2f4.png)

[2020-04-21 03:13] SomeMoosery commented on #578
Hmm... I'm thinking if there's another word we could use instead of "moderate" that would fit for these small screen sizes, but this is probably a better questions for @ngiangre

[2020-04-21 03:14] #580 closed

[2020-04-21 03:15] SomeMoosery commented on #128
Closing - we can and should open a new issue if we re-integrate Radiks

[2020-04-21 03:15] #128 closed

[2020-04-21 03:18] SomeMoosery commented on #270
I'll start this process. Going to look to set up a pipeline to deploy changes to `corona-tracker-client` bucket when a PR merges in. I may also look to switch from Travis to Circle CI, as I'm a big fan of Circle CI and think it is great for modern solutions, but am open to suggestions on this and if it becomes more of a burden than it's worth, I'll just stick with Travis

[2020-04-21 03:19] SomeMoosery commented on #597
Do we want this as a button? As something to mention in the free text section?

[2020-04-21 03:20] SomeMoosery commented on #593
Is this good to close then @salvolpe ?

[2020-04-21 03:25] ransing commented on #584
1-5 is good. Originally we didn't have decimals. If user has only 5 options, it seems easier to pick. How do we convey to the user that 1 means 'Not at all', 5 means 'A lot' and 3 means 'Somewhat'?

[2020-04-21 03:29] tylerd92 commented on #578
This is only happening for a mobile screen not desktop. I was using chrome dev tools. Is there a way to resize for a mobile interface?

[2020-04-21 03:33] SomeMoosery commented on #578
Like how do we mimic mobile in desktop? https://developers.google.com/web/tools/chrome-devtools/device-mode#viewport

[2020-04-21 03:33] salvolpe commented on #593
Oh yes! Didnt know if you want to look this over first, but I'm good with it!

[2020-04-21 03:34] SomeMoosery commented on #584
We could easily add labels underneath the numbers indicating that!

[2020-04-21 03:34] #593 closed

[2020-04-21 03:35] ngiangre commented on #578
Unfortunately I don't see the scale could be changed to something nore amenable to the problem. Minimal/Moderate/Severe or Low/Medium/High where len(Moderate)-len(Medium)==1 so I'm sure there will be overflow. Can't we have the font size decrease on small screens?

[2020-04-21 03:43] SomeMoosery commented on #578
We definitely could make text smaller, we'd just have to do some user testing to ensure it's still readable 👍

[2020-04-21 04:00] PhurbaSherpa opened #611 "Closing Get Started Dialog keeps you stuck at loading"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in QA
    * Followed all applicable steps in the TROUBLESHOOTING guide: TODO
    * Checked for relevant discussions on Discord: <https://discord.gg/pPERUuv>
    * Checked that your issue isn't already filed: <https://github.com/COVID-19-electronic-health-system/Co

[2020-04-21 04:06] #585 closed

[2020-04-21 05:03] SvenVanPoucke commented on #595
Hi, I helped you on the xls Dutch translation. Is there anything additional to translate in Dutch? Or if already done, when will I see Dutch as a language choice. I really want to use the app 4 my patients.

[2020-04-21 13:15] pavel-ilin commented on #611
Can tackle this bug.

[2020-04-21 13:17] pavel-ilin commented on #567
I think health log page would be more interesting preview image.

[2020-04-21 19:00] gitalink commented on #576
I will work on this issue.

[2020-04-21 19:19] #577 closed

[2020-04-21 19:23] #538 closed

[2020-04-21 19:23] #539 closed

[2020-04-21 22:05] liadove commented on #581
Can I take this one? @SomeMoosery

[2020-04-21 22:41] SomeMoosery commented on #581
All you 👍

[2020-04-21 23:45] PhurbaSherpa commented on #611
I had an idea that seems to work, we could add an event listener on the onclick of the 'Get Started Button' because when inspecting I saw that the modal from Blockstack was still there but hidden.

`document.addEventListener('transitionend', event => {
      if (event.target.style.pointerEvents === 'none') {
        setLoading(false);
      }
    });`

[2020-04-21 23:59] SomeMoosery opened #615 "Bottom nav and start issue slider should be different colors"
## Summary

A complaint I'm getting from my own and others' user surveys is that it's confusing have the "swipe to complete a survey" slider and the bottom nav as the same color.

<img width="328" alt="Screen Shot 2020-04-21 at 7 57 44 PM" src="https://user-images.githubusercontent.com/15767602/79926285-7d015480-840a-11ea-8f79-438e566e0600.png">

We should consult with @BrianHHough on how to best

[2020-04-22 00:00] SomeMoosery opened #616 "Cards in About page should link to relevant resources"
## Summary

- [ ] Each card in the about page should link to its topic

## Motivation

This has been a common complaint in user surveys - it feels like these cards should be interactive, and when they're not, it frustrates people

[2020-04-22 00:02] SomeMoosery opened #617 "Clicking health log tab should always return to calendar view"
## Summary

- [ ] Whenever the health log tab is clicked, it should return the user to the calendar view of their health log
- [ ] Even if the user is in "Show Me More" - which is technically part of the Health Log - they should be navigated back to the calendar view

## Motivation

It is not inherent to outside users that the "Show Me More" portion is an extension of the health log, therefore it'

[2020-04-22 00:33] PhurbaSherpa commented on #616
I could do this

[2020-04-22 01:21] SomeMoosery commented on #611
Interesting! That seems like it could work @pavel-ilin

If this works, this could actually potentially be used to workaround login issues too... great catch @PhurbaSherpa

[2020-04-22 01:49] #566 closed

[2020-04-22 01:51] SomeMoosery commented on #582
Does Mapbox have the functionality for this? Just because we're already using it for the map itself. If not I think Google is fine at this point - especially if just for autocomplete. Just need to be sure Google isn't doing anything with users' location data, as this gets tricky especially with PHI if we ever are able to call our data PHI

[2020-04-22 02:03] luky1300 commented on #584
I searched for standard scales and here what I got:

**For first scale:**
<img width="793" alt="survey1" src="https://user-images.githubusercontent.com/58443403/79932292-2a7c6400-841b-11ea-9e8a-fb0797fcb98a.png">

**Two options for second scale:**

**Option 1:**
<img width="793" alt="survey2-v1" src="https://user-images.githubusercontent.com/58443403/79932348-54358b00-841b-11ea-8c2c-83555fdac9a9.p

[2020-04-22 02:24] Bellex0 commented on #584
Hey @luky1300, thanks for looking into this. I want to mention that the behavioral health survey questions are from a published standardized questionnaire with its own scale (for more info, please the discussion[ here ](https://github.com/COVID-19-electronic-health-system/Corona-tracker/issues/545).
The scale that is used in the real published questionnaire is 1 (not at all), 2, 3 (somewhat), 4, 5

[2020-04-22 02:31] SomeMoosery commented on #584
While the standardized questionnaire is definitely important to base our data on on the backend - I think what's most important for the end user is to have a consistent metric across all surveys in our app, as there's more than just the behavioral part.

I think I may have poorly worded the issue. The goal here is to use the same however-many words/numbers/etc for each slider in the survey, and th

[2020-04-22 02:42] luky1300 commented on #584
@Bellex0 , thank you for your comments! Will do 1 (not at all), 2, 3 (somewhat), 4, 5 (a lot) scale for second questionnaire.
What about first one? We can't do the same scale for questions like How do you feel today?

[2020-04-22 02:48] SomeMoosery commented on #584
The whole idea is we need to find a way to standardize the scale for all sliders. This could mean that perhaps we need to re-word the questions so that they fit a numerical scale, or translate a term-based scale into numerical values on the backend.

The motivation behind this is that a lot of user surveys I've done are telling me that the sliders are confusing because they don't present a consist

[2020-04-22 03:39] SomeMoosery opened #619 "Add ability to show charts for all surveys, not just specific ones"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in QA
    * Followed all applicable steps in the TROUBLESHOOTING guide: TODO
    * Checked for relevant discussions on Discord: <https://discord.gg/pPERUuv>
    * Checked that your issue isn't already filed: <https://github.com/COVID-19-electronic-health-system/Co

[2020-04-22 04:30] Bellex0 commented on #584
@SomeMoosery I totally get what you're saying and coming from. If we need to stay consistent for both backend and frontend purposes, we may have to change the wording of the questions on either page 1 or page 4 of the survey, so that they can have the same rating scale.

[2020-04-22 14:11] #616 closed

[2020-04-22 14:25] pavel-ilin commented on #619
Can take on this one

[2020-04-22 14:44] pavel-ilin commented on #595
Can work on it right now.

[2020-04-22 14:48] SvenVanPoucke commented on #595
thanx, looking forward to it

On Wed, 22 Apr 2020 at 16:44, Pavel Ilin <notifications@github.com> wrote:

--
Dr. Sven Van Poucke
Ziekenhuis Oost-Limburg
Schiepse Bos 6
3600 Genk
[image: LinkedIn] <http://www.linkedin.com/pub/sven-van-poucke/60/847/aa2>

[image: Share on ResearchGATE]
<https://www.researchgate.net/profile/Sven_Van_Poucke/>

[2020-04-22 14:50] #611 closed

[2020-04-22 17:06] SomeMoosery opened #621 "Create "Export to Excel" button in "Show Me More""
## Summary

- [ ] Create "Export to Excel" button in the "Show Me More" tab of the health log
- [ ] Should be styled the same as other buttons using our custom presets

## Motivation

Exporting to Excel is one of the most asked-for features, especially by doctors so that they can most easily view our data

[2020-04-22 17:32] PhurbaSherpa commented on #617
I can work on this

[2020-04-22 17:51] #595 closed

[2020-04-22 19:31] #617 closed

[2020-04-22 19:54] acthelemann commented on #582
Good call, they do:

https://www.mapbox.com/pricing/#search

[2020-04-22 20:43] salvolpe opened #623 "Adjusting Code in All Components for Translation Integration"
## Summary

We need to make sure that all of the translation JSON files are being exported from the spreadsheets and then moved into the respective locales that match whatever format is most conducive to dynamically pulling them into the components. Issue #359 references a possible JSON document for holding the information. [This folder](https://github.com/COVID-19-electronic-health-system/Corona-

[2020-04-22 21:17] tylerd92 commented on #578
Here is what I have so far

![Screen Shot 2020-04-22 at 5 15 04 PM](https://user-images.githubusercontent.com/12787123/80034901-1ee17980-84bd-11ea-8718-59844c2c15bf.png)
![Screen Shot 2020-04-22 at 5 16 17 PM](https://user-images.githubusercontent.com/12787123/80034903-1ee17980-84bd-11ea-814b-d7e06fcebfb1.png)

[2020-04-22 21:20] tylerd92 commented on #578
I'm looking to see for mobile there is something in Material UI I could use. If anyone knows of anything, in particular, let me know.

[2020-04-22 23:38] AdhamAH commented on #615
I was thinking about it for a long time. I looked at the most famous apps `facebook, drive, twitter...etc` all beside twitter when you open them in a web browser they change to top navbar and dump the bottom navbar. The browser here plays a part I think and you can not really control it through style. ###this was a big side note

As for the colour this could work I think @BrianHHough
![Screenshot

[2020-04-23 01:08] tylerd92 commented on #578
I found a way to remove that overlap I slightly changed the values for the items in the grid when the screen is small like on a phone.

![Screen Shot 2020-04-22 at 9 07 46 PM](https://user-images.githubusercontent.com/12787123/80048175-68da5780-84dd-11ea-8c08-ea6c5216cca9.png)

[2020-04-23 01:31] tesla809 opened #627 "[DOCS] Add translations section in "Get involved and help out!" of README.md"
# ⚠️ IMPORTANT: Please fill out this template to give us as much information as possible to consider/implement this update.

### Summary
Add translations section in "Get involved and help out!" of README.md

In "View our community health files", Add as the last point:
🌏[Translations](https://github.com/COVID-19-electronic-health-system/Corona-tracker/blob/master/Translations/README.md): including

[2020-04-23 19:48] #619 closed

[2020-04-23 21:57] acthelemann opened #630 "[FEAT] Validate phone number for subscription"
# ⚠️ IMPORTANT: Please fill out this template to give us as much information as possible to consider/implement the feature.

### Prerequisites

- [x] check this box if you have completed the following:
    - Reviewed the [contributing guidelines](https://github.com/COVID-19-electronic-health-system/.github/blob/master/CONTRIBUTING.md) and [support](https://github.com/COVID-19-electronic-health-sys

[2020-04-23 21:57] #578 closed

[2020-04-23 21:58] SomeMoosery commented on #630
I can work on this

[2020-04-24 01:13] SomeMoosery opened #632 "[FEAT] On "Export to Excel," create and download .xls file of relevant chart data"
# ⚠️ IMPORTANT: Please fill out this template to give us as much information as possible to consider/implement the feature.

### Prerequisites

- [x] check this box if you have completed the following:
    - Reviewed the [contributing guidelines](https://github.com/COVID-19-electronic-health-system/.github/blob/master/CONTRIBUTING.md) and [support](https://github.com/COVID-19-electronic-health-sys

[2020-04-24 02:59] SomeMoosery opened #633 "[FEAT] Build out POC CVS locator using Mapbox"
# ⚠️ IMPORTANT: Please fill out this template to give us as much information as possible to consider/implement the feature.

### Prerequisites

- [x] check this box if you have completed the following:
    - Reviewed the [contributing guidelines](https://github.com/COVID-19-electronic-health-system/.github/blob/master/CONTRIBUTING.md) and [support](https://github.com/COVID-19-electronic-health-sys

[2020-04-24 03:06] SomeMoosery opened #634 "[FEAT] Add ability to change language in Settings page"
# ⚠️ IMPORTANT: Please fill out this template to give us as much information as possible to consider/implement the feature.

### Prerequisites

- [x] check this box if you have completed the following:
    - Reviewed the [contributing guidelines](https://github.com/COVID-19-electronic-health-system/.github/blob/master/CONTRIBUTING.md) and [support](https://github.com/COVID-19-electronic-health-sys

[2020-04-24 03:07] SomeMoosery commented on #634
I can work on this

[2020-04-24 03:10] SomeMoosery opened #635 "[FEAT] Clicking on stepper will take you to corresponding survey page"
# ⚠️ IMPORTANT: Please fill out this template to give us as much information as possible to consider/implement the feature.

### Prerequisites

- [x] check this box if you have completed the following:
    - Reviewed the [contributing guidelines](https://github.com/COVID-19-electronic-health-system/.github/blob/master/CONTRIBUTING.md) and [support](https://github.com/COVID-19-electronic-health-sys

[2020-04-24 03:11] Afrogrrrl commented on #633
I can pick this up

[2020-04-24 03:12] SomeMoosery commented on #542
How's this coming along @johnemurphy1? Anything need clearing up?

[2020-04-24 03:24] SomeMoosery opened #636 "[FEAT] Add T&C / privacy policy from disclaimer as links in settings"
# ⚠️ IMPORTANT: Please fill out this template to give us as much information as possible to consider/implement the feature.

### Prerequisites

- [x] check this box if you have completed the following:
    - Reviewed the [contributing guidelines](https://github.com/COVID-19-electronic-health-system/.github/blob/master/CONTRIBUTING.md) and [support](https://github.com/COVID-19-electronic-health-sys

[2020-04-24 11:41] #630 closed

[2020-04-24 17:50] #634 closed

[2020-04-24 19:28] fallon7284 commented on #537
Hey @SomeMoosery I've been away from this project for a few days here but I'm back again and I'm unable to make any progress on this issue until this CORS issue is worked out.  I never get a response from the server side, and without a response I can't know whether the subscribe/unsubscribe lamba has succeeded or failed.  I don't believe that the POST failure you saw is because it was an already-s

[2020-04-24 20:03] SomeMoosery commented on #537
Apologies - if you're running it locally I've actually installed and have been using [this](https://chrome.google.com/webstore/detail/allow-cors-access-control/lhobafahddgcelffkeicbaginigeejlf?hl=en) Chrome extension (if you're on Chrome) which circumvents CORS issues and allows things to work properly

[2020-04-24 20:23] #576 closed

[2020-04-24 20:27] SomeMoosery opened #640 "[BUG] Swiping on WeeklyTrackerDay does nothing"
# ⚠️ IMPORTANT: Please fill out this template to give us as much information as possible to address the issue.

### Prerequisites

- [x] check this box if you have completed the following:
    - Reproduced the problem in QA
    - Reviewed the [contributing guidelines](https://github.com/COVID-19-electronic-health-system/.github/blob/master/CONTRIBUTING.md) and [support](https://github.com/COVID-19

[2020-04-24 20:28] luky1300 commented on #584
@SomeMoosery , so should we leave different scales for these two surveys, or should we rephrase questions?

[2020-04-24 20:29] SomeMoosery commented on #584
The goal of this story is to standardize the scale to have the same scale for all sliders - the implementation of how to best do this is up to interpretation, but the end goal is that the backend values should remain the same while the frontend scale should be standardized

[2020-04-24 21:14] #591 closed

[2020-04-24 21:14] #590 closed

[2020-04-24 21:25] PhurbaSherpa commented on #635
I can try this.

[2020-04-24 21:30] AdhamAH commented on #635
yes, Thank you!

[2020-04-24 22:13] tesla809 opened #641 "[DOCS] Add OpenCollective link to all documentation"
# ⚠️ IMPORTANT: Please fill out this template to give us as much information as possible to consider/implement this update.

### Summary

Let's add to the link to OpenCollective site. This will help us gain more avenues to add to the donation funnel. If we get ahead of the cost of servers before we need it, we will be able to scale with greater ease.

Create a section that asks for donations on ea

[2020-04-24 22:31] johnemurphy1 commented on #542
Aiming to finish by end of weekend/early next week. Will get back with any questions.

[2020-04-25 10:38] ngiangre opened #643 "[FEAT] Compile all content into one language json file from three separate files"
# ⚠️ IMPORTANT: Please fill out this template to give us as much information as possible to consider/implement the feature.

### Prerequisites

- [ ] check this box if you have completed the following:
    - Reviewed the [contributing guidelines](https://github.com/COVID-19-electronic-health-system/.github/blob/master/CONTRIBUTING.md) and [support](https://github.com/COVID-19-electronic-health-sys

[2020-04-25 17:14] BrianHHough commented on #615
hey @AdhamAH ! I like that bottom nav bar where it's blue! Let's do that. Also, can we put arrows to the right of each slide bar so users know/are indicated to swipe them?

[2020-04-25 17:22] SomeMoosery commented on #615
Totally agree on both points! Let’s make a separate issues for arrows on the slider bar though

[2020-04-25 21:35] SomeMoosery opened #645 "[FEAT] Rename any references to "Fun Facts" to just "Facts""
# ⚠️ IMPORTANT: Please fill out this template to give us as much information as possible to consider/implement the feature.

### Prerequisites

- [x] check this box if you have completed the following:
    - Reviewed the [contributing guidelines](https://github.com/COVID-19-electronic-health-system/.github/blob/master/CONTRIBUTING.md) and [support](https://github.com/COVID-19-electronic-health-sys

[2020-04-25 22:49] petesamper commented on #636
I can take this.

[2020-04-25 23:24] balinm opened #646 "[BUG] Unable to fill out beta survey from the link on the about page"
# ⚠️ IMPORTANT: Please fill out this template to give us as much information as possible to address the issue.

### Prerequisites

- [ ] check this box if you have completed the following:
    - Reproduced the problem in QA
    - Reviewed the [contributing guidelines](https://github.com/COVID-19-electronic-health-system/.github/blob/master/CONTRIBUTING.md) and [support](https://github.com/COVID-19

[2020-04-25 23:30] njordhov commented on #645
Alternatively, use an icon to represent the concept of a fact (e.g a light bulb or checkmark).

[2020-04-26 00:53] #581 closed

[2020-04-26 02:08] Lukabaramishvili commented on #645
I can take this one.

[2020-04-26 04:16] #636 closed

[2020-04-26 05:25] #635 closed

[2020-04-26 18:04] tesla809 opened #648 "[DOCS] Add OpenCollective "backers" Badge to repo"
# ⚠️ IMPORTANT: Please fill out this template to give us as much information as possible to consider/implement this update.

### Summary

A metric to show the world is the number of backers we have. The more we have, the more legit we look, the more we can gain. It also gives a good overview of the project at a glance

See the docs:
https://docs.opencollective.com/help/collectives/data-export#badg

[2020-04-26 19:02] ngiangre commented on #646
https://forms.gle/PrD1QY2z3a7htB5W9 <-- add this please

[2020-04-26 19:14] tesla809 opened #649 "[DOCS] Add twitter button to Corona-tracker's github repo"
# ⚠️ IMPORTANT: Please fill out this template to give us as much information as possible to consider/implement this update.

### Summary

Adding Twitter button on top of our GitHub will help increase our social media.

see:
https://gist.github.com/studiopress/6867036

Sample code from Babel's README:
  <a href="https://twitter.com/intent/follow?screen_name=babeljs"><img alt="Follow on Twitter" src

[2020-04-26 19:15] tesla809 commented on #649
Should we add it to all github repos @whoabuddy ?

[2020-04-26 19:50] ngiangre opened #650 "[DOCS] Digital Health Checklist"
# ⚠️ IMPORTANT: Please fill out this template to give us as much information as possible to consider/implement this update.

### Summary

I've been taking a course called 'Fairness and Ethics in Digital Health' at columbia and it has made me more conscious of this subject.

I reached out to the ReCODE.Health at UCSD to help me in my course project, but now I think we should use their framework whi

[2020-04-26 19:56] balinm commented on #646
@SomeMoosery mind if I take a stab at this?

[2020-04-26 19:58] SomeMoosery commented on #646
All you

[2020-04-26 20:00] PhurbaSherpa commented on #640
I can look at this

[2020-04-26 20:02] SomeMoosery commented on #621
Closing as we finished this part

[2020-04-26 20:02] #621 closed

[2020-04-26 20:28] PhurbaSherpa commented on #640
Am I still redirecting to the survey or am I now having the slider go to Show me More after swiping?

[2020-04-26 20:32] SomeMoosery commented on #640
When swiping on one of the blue WeeklyTrackerDay swipers that should take you to "Show Me More" with just that observation and not all observations, if that makes sense

[2020-04-26 21:57] BrianHHough commented on #643
Hi @ngiangre JSON file is updated here: https://github.com/COVID-19-electronic-health-system/Corona-tracker/blob/master/Translations/appText.json

cc: @salvolpe @tesla809 @SomeMoosery

[2020-04-26 22:02] johnemurphy1 commented on #359
looks like this closes this https://github.com/COVID-19-electronic-health-system/Corona-tracker/blob/master/Translations/appText.json closes this issue...credit to @BrianHHough

[2020-04-26 22:05] BrianHHough commented on #359
Awesome! I can close this one. Feel free to edit this file in case there are any bugs/needed edits, but all the text is there and organized for the app as of today: https://github.com/COVID-19-electronic-health-system/Corona-tracker/blob/master/Translations/appText.json

Go team! 🎉

[2020-04-26 22:14] ngiangre commented on #643
Extremely detailed @BrianHHough! We can definitely make use of this.

[2020-04-26 22:15] salvolpe commented on #643
Seriously!! Awesome work @BrianHHough

[2020-04-26 22:16] SomeMoosery commented on #643
Undid this change - there's a PR process these things need to go through and we can't commit right to master. Don't want to be dictatorial but this can seriously break things. Will need a PR relating to this issue just like everything else.

[2020-04-26 22:17] ngiangre commented on #643
Yeah agreed thanks @SomeMoosery. But @salvolpe and I can work with this file if @BrianHHough sends it through discord.

[2020-04-26 22:18] SomeMoosery commented on #359
Reopening this - we need more active communication for what's going on here.

How does this ticket pertain to #643 - should we close this as another ticket has been made "on top" of it? Or can these be paralellized and John can continue to work on this while Brian continues to work on something else

[2020-04-26 22:19] SomeMoosery commented on #643
Yeah no prob! The file looks great, I agree - just need to make sure we're going through the git flow so things don't start to fall off track.

I'm also not sure what you mean - what are you trying to update? If you're trying to update components when some value changes that should be done with hooks in the React code.

[2020-04-26 22:20] ngiangre commented on #359
#643 is very similar/the same as this issue. I think it was a miscommunication - sorry about circumnavigating the PR process - we'll talk to @BrianHHough

[2020-04-26 22:27] SomeMoosery commented on #359
No worries at all!

[2020-04-26 22:29] ngiangre commented on #643
Yeah don't want to obstruct the process at all.

We need to make sure the text is adequately translated dependent on the locale. We want to try to help you make your hooks with the proper content:

![CoronaTracker - content continuous integration](https://user-images.githubusercontent.com/7811531/80321447-0f2ea180-87eb-11ea-981f-859a85cd1c2b.png)

I should've first made an issue pertaining to this

[2020-04-26 23:14] ngiangre commented on #571
done

[2020-04-26 23:14] #571 closed

[2020-04-26 23:16] ngiangre commented on #534
Great idea! We should try to form partnerships to direct to some services. @Josh1794 do you want to suggest services and work on partnerships?

[2020-04-26 23:18] ngiangre commented on #489
@SomeMoosery if the beta survey is properly linked, does that close this issue?

[2020-04-27 01:45] SomeMoosery commented on #643
Yeah, so it seems like what can be done from this end is that once we get a master doc for each language merged in, we can create a new issue for which we change the locations specified in i18next to point to these new JSON files, and we should be set 👍

[2020-04-27 01:46] SomeMoosery commented on #489
Good call @ngiangre - yeah, I'd say that covers it so we can close this 👍

[2020-04-27 01:46] #489 closed

[2020-04-27 01:58] ngiangre commented on #643
Ok great. I made a PR that was approved which put language json files in `docs/content` but now I'm working on another that puts everything in that language from 3 to one json file with the structure needed by front end - I'm working with @pavel-ilin and @AdhamAH on that. But @SomeMoosery if you have any suggestion on a better structure for the json files in `docs/content` let me know!

[2020-04-27 02:03] ngiangre commented on #530
closing in lieu of #643

[2020-04-27 02:03] #530 closed

[2020-04-27 02:04] ngiangre commented on #359
closing in lieu of #643

[2020-04-27 02:04] #359 closed

[2020-04-27 02:04] ngiangre commented on #623
Closing in lieu of #643

[2020-04-27 02:04] #623 closed

[2020-04-27 02:05] ngiangre commented on #643
Closing other issues to have this be the issue with all the information.

https://github.com/COVID-19-electronic-health-system/Corona-tracker/issues/623#issue-605061240

https://github.com/COVID-19-electronic-health-system/Corona-tracker/issues/359#issue-592764712

https://github.com/COVID-19-electronic-health-system/Corona-tracker/issues/530#issue-601336342

[2020-04-27 02:10] ngiangre commented on #597
Agreed with @SomeMoosery. I propose we have this be a symptom to be filled into the free text box and be a symptom indicated by a body map and symptom fill in feature. I know @ransing was working on something like this - is that right? Can you make an issue for it if you are @ransing? Thanks!

[2020-04-27 03:36] #645 closed

[2020-04-27 03:39] #640 closed

[2020-04-27 16:37] tesla809 commented on #643
Can we make sure that the privacy policies and terms and conditions are also included as all content? If so, this can be within this issue.

[2020-04-27 16:41] ngiangre commented on #643
Yes @tesla809

[2020-04-27 16:46] AdhamAH commented on #643
@BrianHHough
I loved the file! It is clear and will be easy to use i18next
@ngiangre will you use this? or the examples you sent me?
As @SomeMoosery said as soon as the JSON ready we can start working on point the app to use i18next when needed

[2020-04-27 16:49] tesla809 opened #657 "[FEAT] User can go directly to their language with URL path, ie say /nederlands or /espanol, etc."
# ⚠️ IMPORTANT: Please fill out this template to give us as much information as possible to consider/implement the feature.

### Prerequisites
- [x] check this box if you have completed the following:
    - Reviewed the [contributing guidelines](https://github.com/COVID-19-electronic-health-system/.github/blob/master/CONTRIBUTING.md) and [support](https://github.com/COVID-19-electronic-health-syst

[2020-04-27 16:51] tesla809 commented on #657
Not sure if backend endpoint is necessary. Added the info just in case.

[2020-04-27 16:58] ngiangre commented on #643
I'm working on it.

The issue is that we need to have the structure in our data model so However we make the keys is consistent, makes sense, and the values can be adapted in the future.
The data model is here:
https://docs.google.com/spreadsheets/d/1gifZGnj-ntIOXbZrRY4S5KEULoV64DCbi0pZSVWKsns/edit?usp=sharing

Right now only the health sheet follows the data model and has a field name to be inclu

[2020-04-27 17:35] whoabuddy commented on #657
This is likely related to #643

Based on schema.org we should look at an overall standard for language names, such as: https://en.m.wikipedia.org/wiki/IETF_language_tag

[2020-04-27 19:09] pavel-ilin commented on #643
@BrianHHough I love your `appText.json`.

I would suggest modification of the survey section. I would like to store all questions in the array and add question type attribute to every question. This will help us not only with translation but also render all questions dynamically. We can iterate over the array and base on type of the question render components we need. This way we can move away fro

[2020-04-27 21:46] ngiangre commented on #643
Great! The structure is do-able. Can you make a sample @pavel-ilin for the education content and display text as well?

[2020-04-28 02:00] ngiangre commented on #643
@pavel-ilin @AdhamAH or anyone on front end - to finish converting Sal and I need to understand what exactly is hard coded and how values are set to defaults so we can accommodate in our data model. Can someone ping me, @NickG, on discord or comment here?

[2020-04-28 07:44] AdhamAH commented on #643
I really still don't fully understand what are you trying to do and why it looks so complicated @ngiangre
Anyway I hope this would help you
https://docs.google.com/document/d/1f8RQFBNfLKEPPp2v1eYf693zU9hK8oEKq8Lb0S2VbFI/edit?usp=sharing

[2020-04-28 12:48] ngiangre commented on #643
This is great @AdhamAH! Let’s chat on discord so we can be on the same page.

[2020-04-28 13:49] pavel-ilin commented on #657
@tesla809 In order to get access to the user native language version of the app user still have to type url with latin characters.

I thinking we can declare routs for each language and if user hit the rout we can trigger the same logic as if user click on the `select language` button.

[2020-04-28 13:56] AdhamAH opened #658 "[FEAT] Add an indicator to swipe WeeklyTracker.jsx"
# ⚠️ IMPORTANT: Please fill out this template to give us as much information as possible to consider/implement the feature.

### Prerequisites

- [x] check this box if you have completed the following:
    - Reviewed the [contributing guidelines](https://github.com/COVID-19-electronic-health-system/.github/blob/master/CONTRIBUTING.md) and [support](https://github.com/COVID-19-electronic-health-sys

[2020-04-28 13:56] #615 closed

[2020-04-28 14:07] givonz opened #659 "[BUG] Typo in English translation"
# ⚠️ IMPORTANT: Please fill out this template to give us as much information as possible to address the issue.

### Prerequisites

- [ ] check this box if you have completed the following:
    - Reproduced the problem in QA
    - Reviewed the [contributing guidelines](https://github.com/COVID-19-electronic-health-system/.github/blob/master/CONTRIBUTING.md) and [support](https://github.com/COVID-19

[2020-04-28 14:08] SomeMoosery commented on #657
I agree with @pavel-ilin - I'd say we should update this issue accordingly, where if the user hits a certain route this calls the language selector and then opens the app

[2020-04-28 14:09] SomeMoosery commented on #650
Just for clarity, which results are we going to show in the README? Totally agree that we want to be open and ethical, just curious

[2020-04-28 14:10] SomeMoosery commented on #649
I'd say this should be moved to the `.github` org as I think this should be present across all repos

[2020-04-28 14:11] SomeMoosery commented on #648
Would this be in documentation? In the app itself? How should it be represented - a number, panel of images, etc?

[2020-04-28 14:21] SomeMoosery commented on #643
I think just to keep things clear in terms of this issue. The end result here is that we just end up with "master" JSON files for each language, which will be stored in `/public/locales`. We use i18next's `useTranlsation` hook, which pulls the currently-selected language from this directory and populates it by using the `t(...)` function.

There is no hard and fast rule on what's hard-coded and wh

[2020-04-28 14:28] ngiangre commented on #643
Correct @SomeMoosery - one master json for each language that will be within `public/locales/`

My goal is to get a "MVP" available - we will have every field needed in the gsheets that can then be transformed into the correct json file via python scripting with the google api.

In order to get the right structure, we needed to know how you would call the tags which wasn't clear. Now it is so than

[2020-04-28 14:35] givonz opened #660 "[DOCS] Hebrew Translation"
[CoronaTracker appText.zip](https://github.com/COVID-19-electronic-health-system/Corona-tracker/files/4546409/CoronaTracker.appText.zip)

# ⚠️ IMPORTANT: Please fill out this template to give us as much information as possible to consider/implement this update.

### Summary

### Motivation

### Possible Alternatives

### Additional Context

[2020-04-28 14:36] SomeMoosery commented on #658
Good point - I'd say for now, let's add an indication to swipe just so we have the functionality ready to go. And then, if we decide we want to move to click, we can create a new story to refactor these to click functionality, as that will take a bit of work 👍

[2020-04-28 14:38] SomeMoosery commented on #643
That's a very good point!

Sounds good, since I've been somewhat away for a day or two I was just hoping to add some clarity as somewhat of an "outside" perspective to this translations bit. Seems like it's on the right track though thanks to yours and everyone's work on it, and this is one of the best discussion on an issue I think we've had 😄

[2020-04-28 14:39] ngiangre commented on #643
teamwork makes the dream work!

[2020-04-28 21:50] salvolpe commented on #660
@givonz Thank you for the work.

Can you please put this and all subsequent translations in the [Hebrew Translations Mastersheet](https://docs.google.com/spreadsheets/d/10HsV7mfBTYgmR-hb7OVGSkopL_ARxGhT0mJsB8rjYEo/edit#gid=0) and mark your progress on the [Translations Efforts Sheet](https://docs.google.com/spreadsheets/d/1Deaaybwk8TPDlOnXJkFCQe6CIcrAqWoDA5Gbot3joyY/edit#gid=0)

[2020-04-28 21:54] salvolpe opened #662 "[FEAT] Implement return to the homepage"
# ⚠️ IMPORTANT: Please fill out this template to give us as much information as possible to consider/implement the feature.

### Prerequisites

- [x] check this box if you have completed the following:
    - Reviewed the [contributing guidelines](https://github.com/COVID-19-electronic-health-system/.github/blob/master/CONTRIBUTING.md) and [support](https://github.com/COVID-19-electronic-health-sys

[2020-04-28 22:35] njordhov commented on #657
Note that the user's preferred language can be determined from the web browser settings:

https://developer.mozilla.org/en-US/docs/Web/API/NavigatorLanguage/language

That way, they can be directed directly to a page in their preferred language, instead of explicitly selecting it. Although its still a good idea to provide a way for the user to override the default language and choose another.

[2020-04-29 01:32] acthelemann opened #663 "[FEAT] Use selected language for greeting date and calendar"
# ⚠️ IMPORTANT: Please fill out this template to give us as much information as possible to consider/implement the feature.

### Prerequisites

- [x] check this box if you have completed the following:
    - Reviewed the [contributing guidelines](https://github.com/COVID-19-electronic-health-system/.github/blob/master/CONTRIBUTING.md) and [support](https://github.com/COVID-19-electronic-health-sys

[2020-04-29 02:16] #646 closed

[2020-04-29 02:17] SomeMoosery commented on #662
So this is something that I've been thinking about - what actually is our "home page?" The health log? If so, the users can just click on that in the nav bar already.

What do you think?

[2020-04-29 02:36] salvolpe commented on #662
@SomeMoosery Currently, when I try do that by clicking `Log` it doesn't move:
[![Image from Gyazo](https://i.gyazo.com/e2303d10b0112a8601744fafd8bcd1a9.gif)](https://gyazo.com/e2303d10b0112a8601744fafd8bcd1a9)

[2020-04-29 02:38] SomeMoosery commented on #662
Have you already filled out a survey today? We added this functionality intentionally to require users to fill out a survey before navigating to the health log if they hadn't yet logged one on today's calendar date.

Do you think this could be frustrating UX? If so - I'd suggest we close this issue and file a new one to remove that functionality.

[2020-04-29 03:57] ngiangre opened #665 "[FEAT] Python scripting: format GSheet csv to json via Google API data pull"
# ⚠️ IMPORTANT: Please fill out this template to give us as much information as possible to consider/implement the feature.

### Prerequisites

- [X] check this box if you have completed the following:
    - Reviewed the [contributing guidelines](https://github.com/COVID-19-electronic-health-system/.github/blob/master/CONTRIBUTING.md) and [support](https://github.com/COVID-19-electronic-health-sys

[2020-04-29 07:14] salvolpe commented on #662
I hadn't filled one out yet, so I see why it wasn't working.
I'm a bit hesitant on forcing users to do anything on an application. Particularly in this instance: I'm a user who fills out my survey at 5pm because I like to see how my symptoms were throughout the day and I take my vitals just before dinner time. But it's the morning and I want to look at my log to see a trajectory, or discuss someth

[2020-04-29 12:31] AdhamAH commented on #662
that brings two ideas to me
### First
I think it is a good idea to let the user choose if the user ready to take the survey or not.
I am working on something
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/55054963/80592041-0d4d2400-8a1f-11ea-917f-121b34bbffcf.gif)
we can make it glow when there is no survey taken today as a call for action and normal button when taken
### Seco

[2020-04-29 12:39] AdhamAH commented on #662
So, if you all want, we can make an issue to remove that function. Then and issue for the button and maybe another one for reorganizing the files in the app `I can do the last two as the first almost done and the second I have a good idea how to do it`

[2020-04-29 13:00] #582 closed

[2020-04-29 15:07] SomeMoosery commented on #662
Go for it! That seems like the best course of action. Thanks for pointing this out @salvolpe

[2020-04-29 16:36] tesla809 opened #666 "[DOCS] Add link to PanFLUte repo into Corona-tracker"
# ⚠️ IMPORTANT: Please fill out this template to give us as much information as possible to consider/implement this update.

### Summary

Add link into Corona-tracker README that points to the PanFLUte repo.
Add it towards the top of the README in a prominent location with a clear description of what it is.

see:
https://github.com/COVID-19-electronic-health-system/PanFLUte

### Motivation
**Why a

[2020-04-29 16:37] tesla809 commented on #666
@akilhylton Check this issue out.

[2020-04-29 17:14] pavel-ilin commented on #665
I'm happy to remind myself how to work with python!

[2020-04-29 17:16] ngiangre commented on #665
go ahead @pavel-ilin!

[2020-04-29 18:01] tesla809 opened #667 "[DOCS] Add DocMusher as advisor to Docs and Website"
# ⚠️ IMPORTANT: Please fill out this template to give us as much information as possible to consider/implement this update.

### Summary

Add DocMusher as an advisor to Docs, our main Website and any other locations.
He is the Belgian doctor who is advising us on how to improve the product and is willing to test it.

See picture:
https://discordapp.com/channels/687791378075484161/68954123717456695

[2020-04-29 18:16] AdhamAH opened #668 "[FEAT] Allow user to navigate to HealthLog without completing survey"
# ⚠️ IMPORTANT: Please fill out this template to give us as much information as possible to consider/implement the feature.

### Prerequisites

- [x] check this box if you have completed the following:
    - Reviewed the [contributing guidelines](https://github.com/COVID-19-electronic-health-system/.github/blob/master/CONTRIBUTING.md) and [support](https://github.com/COVID-19-electronic-health-sys

[2020-04-29 18:18] AdhamAH commented on #662
closing in favour of #668

[2020-04-29 18:18] #662 closed

[2020-04-29 18:39] fallon7284 commented on #537
@SomeMoosery so just to check in with you on this, I've got this basically finished (sorry for the delay, been a bit busy) and it's working great.  I used the chrome extension you pointed me toward and it allowed me to get past those CORS errors and actually use the response from the lambda.

BUT

we still have the same issue going forward.  None of this functionality will work when we deploy it u

[2020-04-29 18:41] fallon7284 commented on #537
Or did I just not understand that maybe you were suggesting that I only get this error because I'm running it locally, and the API all will not cause a CORS error in production?

[2020-04-29 18:55] SomeMoosery commented on #537
No worries! And I believe that's the case - where the CORS error only comes about when running locally 👍

[2020-04-29 18:57] SomeMoosery commented on #660
Closing this issue as this isn't really an issue - please follow @salvolpe's directions for how to add translations

[2020-04-29 18:57] #660 closed

[2020-04-29 20:50] tesla809 opened #670 "[DOCS] Create Roadmap for MVP to deliver to DocMusher"
# ⚠️ IMPORTANT: Please fill out this template to give us as much information as possible to consider/implement this update.

### Summary

We need a clear roadmap of features that we need to deliver for MVP of beta based on user validation.

### Motivation
**Why are we doing this? **
We need to have the features for our MVP validated by a user who wants to use the product.
The ROADMAP will be based

[2020-04-29 23:08] PhurbaSherpa commented on #668
I could work on this

[2020-04-29 23:15] AdhamAH commented on #668
all yours, thanks!

[2020-04-30 02:33] #663 closed

[2020-04-30 13:22] #658 closed

[2020-04-30 15:12] #670 closed

[2020-04-30 15:20] tesla809 opened #674 "[DOCS] Add ROADMAP-TO-MVP.md to README.md"
# ⚠️ IMPORTANT: Please fill out this template to give us as much information as possible to consider/implement this update.

### Summary

Add a section called ROADMAP TO MVP (or what you think is best)as well as in Table Of Contents.
It should point to ROADMAP-TO-MVP.md so that a new person can look to see what are the highest priority items.

### Motivation
**Why are we doing this? **
We want peo

[2020-04-30 15:24] tesla809 opened #675 "[DOCS] Move ROADMAP-TO-MVP.md to ideal location"
# ⚠️ IMPORTANT: Please fill out this template to give us as much information as possible to consider/implement this update.

### Summary

I pushed  ROADMAP-TO-MVP to main coronatracker repo. Not sure if this is the right place. Should we instead move it to https://github.com/COVID-19-electronic-health-system/.github

### Motivation
**Why are we doing this?**
We want to keep the docs organized

**W

[2020-04-30 15:26] tesla809 opened #676 "[DOCS] Add Dr. Sal Volpe as advisor to Docs and Website"
# ⚠️ IMPORTANT: Please fill out this template to give us as much information as possible to consider/implement this update.

### Summary

Add Salvatore Volpe, MD, FAAP, FACP, CHCQM as an advisor to Docs, our main Website and any other locations.

He is the doctor with experience in clinical informatics who is advising us on how to improve the product.

LinkedIn Profile: https://www.linkedin.com/in

[2020-04-30 15:36] tesla809 opened #677 "[FEAT] Algorithm to take daily rate via video camera"
# ⚠️ IMPORTANT: Please fill out this template to give us as much information as possible to consider/implement the feature.

### Prerequisites

- [x] check this box if you have completed the following:
    - Reviewed the [contributing guidelines](https://github.com/COVID-19-electronic-health-system/.github/blob/master/CONTRIBUTING.md) and [support](https://github.com/COVID-19-electronic-health-sys

[2020-04-30 16:03] #537 closed

[2020-04-30 16:38] tesla809 opened #678 "[FEAT] Set up translations pipeline to translate Blockstack Connect's sign-in"
# ⚠️ IMPORTANT: Please fill out this template to give us as much information as possible to consider/implement the feature.

### Prerequisites

- [x] check this box if you have completed the following:
    - Reviewed the [contributing guidelines](https://github.com/COVID-19-electronic-health-system/.github/blob/master/CONTRIBUTING.md) and [support](https://github.com/COVID-19-electronic-health-sys

[2020-04-30 17:27] whoabuddy opened #680 "[BUG] Update Disclaimer text and functionality"
# ⚠️ IMPORTANT: Please fill out this template to give us as much information as possible to address the issue.

### Prerequisites

- [x] check this box if you have completed the following:
    - Reproduced the problem in QA
    - Reviewed the [contributing guidelines](https://github.com/COVID-19-electronic-health-system/.github/blob/master/CONTRIBUTING.md) and [support](https://github.com/COVID-19

[2020-04-30 17:41] whoabuddy commented on #678
To start, I added all the text from the various screens in Blockstack Connect to the Display Text document in Google Sheets.

[2020-04-30 17:57] ngiangre commented on #665
This still needs work!!

[2020-04-30 18:13] SomeMoosery commented on #665
My bad - didn't think about how the "fixes" keyword would close this!

[2020-04-30 18:14] tesla809 opened #682 "[FEAT] Allow to toggle between Celsius or Fahrenheit with automatic conversion"
# ⚠️ IMPORTANT: Please fill out this template to give us as much information as possible to consider/implement the feature.

### Prerequisites

- [x] check this box if you have completed the following:
    - Reviewed the [contributing guidelines](https://github.com/COVID-19-electronic-health-system/.github/blob/master/CONTRIBUTING.md) and [support](https://github.com/COVID-19-electronic-health-sys

[2020-04-30 18:15] ngiangre commented on #665
no worries haha I’m barely keeping up. ISSUE IS BACK OPEN! We need to create nested jsons from google api pulled csv files!

[2020-04-30 18:25] tesla809 opened #683 "[FEAT] Add a Graph to visualize trends"
# ⚠️ IMPORTANT: Please fill out this template to give us as much information as possible to consider/implement the feature.

### Prerequisites

- [x] check this box if you have completed the following:
    - Reviewed the [contributing guidelines](https://github.com/COVID-19-electronic-health-system/.github/blob/master/CONTRIBUTING.md) and [support](https://github.com/COVID-19-electronic-health-sys

[2020-04-30 18:37] fallon7284 commented on #682
I can do this.

[2020-04-30 19:11] fallon7284 commented on #682
Quick thought, and I'd like some other folks input on it before I offer to take this issue:
My assumption is that we will want the temperature represented in the data consistently across users, either as Celsius or Fahrenheit (and I'm assuming Fahrenheit, because that's what it is currently) and the toggle will simply turn on/off the function of converting between the two units in the input field

[2020-04-30 20:01] tesla809 opened #685 "[FEAT] Create UX/UI of Pulse Capture via Camera"
# ⚠️ IMPORTANT: Please fill out this template to give us as much information as possible to consider/implement the feature.

### Prerequisites

- [x] check this box if you have completed the following:
    - Reviewed the [contributing guidelines](https://github.com/COVID-19-electronic-health-system/.github/blob/master/CONTRIBUTING.md) and [support](https://github.com/COVID-19-electronic-health-sys

[2020-05-01 04:36] ngiangre commented on #665
Some progress on this. Here's a preview

<img width="887" alt="Screen Shot 2020-05-01 at 12 19 43 AM" src="https://user-images.githubusercontent.com/7811531/80782294-8ba2e680-8b43-11ea-9023-596bcb6362f5.png">

and an example where an array of values would be favorable:

<img width="278" alt="Screen Shot 2020-05-01 at 12 30 34 AM" src="https://user-images.githubusercontent.com/7811531/80782299-8fcf

[2020-05-01 09:49] AdhamAH commented on #685
Something like this?

![Screenshot 2020-05-01 at 11 48 55](https://user-images.githubusercontent.com/55054963/80797288-c0458b00-8ba1-11ea-898e-7ccd0e268fed.png)

[2020-05-01 11:15] AdhamAH commented on #683
If I understand the issue right, we already have this for both `TEMPERATURE` and `Behavioral`
We can add it with the `TEMPERATURE` or make it separate
![Screenshot 2020-05-01 at 13 13 04](https://user-images.githubusercontent.com/55054963/80801765-ab6ef480-8bad-11ea-8c21-86c03e3a872a.png)

![Screenshot 2020-05-01 at 13 13 10](https://user-images.githubusercontent.com/55054963/80801774-af9b1200-8ba

[2020-05-01 11:33] SvenVanPoucke commented on #683
Looking Nice! Just Remember all subjective parameters are subjective and as
guidance tool to help people in the context of this pandemia, they are
important from a psychology scope, we as I see it need to provide a guide
to assure people there is no need to worry medically based on temperature
and heart rate trends which can be shown to the doctor, as glucose diary
for diabetic patients. Do not fo

[2020-05-01 11:55] AdhamAH opened #686 "[BUG] OnboardUser not scrolling on smaller screens"
# ⚠️ IMPORTANT: Please fill out this template to give us as much information as possible to address the issue.

### Prerequisites

- [x] check this box if you have completed the following:
    - Reproduced the problem in QA
    - Reviewed the [contributing guidelines](https://github.com/COVID-19-electronic-health-system/.github/blob/master/CONTRIBUTING.md) and [support](https://github.com/COVID-19

[2020-05-02 05:29] #668 closed

[2020-05-02 05:57] #686 closed

[2020-05-02 15:38] fallon7284 commented on #682
I'm working on this, but I think it's likely to require some other changes in response.   I'm only guessing but I think it will make the component where we chart temperature over time look funny or inconsistent between measures, for instance.

[2020-05-02 19:24] fallon7284 commented on #682
You guys can assign me this.  I've got it mostly done, but I have a couple tricky little problems.

[2020-05-03 12:38] ngiangre commented on #678
Thanks @whoabuddy! This will be implemented then through #643

[2020-05-03 12:41] ngiangre commented on #659
Fixed on google sheets

[2020-05-03 12:41] #659 closed

[2020-05-03 12:42] ngiangre commented on #667
@whoabuddy this is done right? Can we close?

[2020-05-03 12:43] ngiangre commented on #676
@whoabuddy this is done right? Can we close?

[2020-05-03 12:43] ngiangre commented on #675
@whoabuddy whats the status of this?

[2020-05-03 12:47] ngiangre commented on #665
There has been tremendous work done on this by @KristianR on discord - thank you!!

We have one more step - converting key strings with >20 characters into shorter strings using common nlp filters, stemming, removing stop words, etc.

The goal is to make a representative and short key string for the education facts and quizzes. This would be a medium priority issue that would be an easy integratio

[2020-05-03 12:49] ngiangre commented on #643
Done. Finishing work in #665

[2020-05-03 12:49] #643 closed

[2020-05-03 18:20] #676 closed

[2020-05-03 18:20] salvolpe commented on #676
Yes we can close haha

[2020-05-04 15:05] whoabuddy commented on #675
Closing this issue, I think that since the roadmap is specific to Corona-tracker it should live in the repo, so it's good where it's at!

[2020-05-04 15:05] #675 closed

[2020-05-04 17:11] #674 closed

[2020-05-04 17:11] #648 closed

[2020-05-04 17:12] #627 closed

[2020-05-04 17:12] #649 closed

[2020-05-04 17:12] #666 closed

[2020-05-04 17:39] whoabuddy commented on #650
As I understand it, this would be an ongoing "score card" to measure development of the application against, ensuring we follow standards in the Digital Health Checklist based on their categories of Privacy, Access & Usability, Data Management, Risks & Benefits.

It might be a nice way to visually display and reinforce why Blockstack was chosen as the main technology platform, and give us a way to

[2020-05-04 17:44] whoabuddy commented on #667
Closing, fixed via [.github#21](https://github.com/COVID-19-electronic-health-system/.github/pull/21)

@ngiangre I had it open to make sure I got the changes into support.md of .github as well, which is now done. Thanks!

[2020-05-04 17:44] #667 closed

[2020-05-04 17:45] whoabuddy commented on #641
Closing, fixed via [.github#21](https://github.com/COVID-19-electronic-health-system/.github/pull/21) and #688

[2020-05-04 17:45] #641 closed

[2020-05-05 02:56] #270 closed

[2020-05-05 22:12] tesla809 commented on #685
Looking AMAZING @AdhamAH !!! Can we have the heart alone instead?

[2020-05-06 05:06] SvenVanPoucke commented on #685
Great, looking forward to use it, congrats

Op wo 6 mei 2020 00:12 schreef Anthony Albertorio <notifications@github.com

[2020-05-06 06:53] #657 closed

[2020-05-06 12:21] pavel-ilin commented on #657
Just FYI, manual language routs, like this like if was described in this issue, did not setup.

[2020-05-06 16:48] whoabuddy opened #692 "[BUG] Incorrectly formatted travis.yml file"
# ⚠️ IMPORTANT: Please fill out this template to give us as much information as possible to address the issue.

### Prerequisites

- [x] check this box if you have completed the following:
    - Reproduced the problem in QA
    - Reviewed the [contributing guidelines](https://github.com/COVID-19-electronic-health-system/.github/blob/master/CONTRIBUTING.md) and [support](https://github.com/COVID-19

[2020-05-06 17:56] tesla809 opened #694 "[DOCS] Create HIRING.md and link to README.md"
# ⚠️ IMPORTANT: Please fill out this template to give us as much information as possible to consider/implement this update.

### Summary

For our $100 donation or $100/month sponsors, they can post on Hiring.md and have access to our developers who are looking. It will be part of our ethical advertising model. Depending on feedback, we might want to move HIRING.md to the front page of README.md.

[2020-05-06 18:18] tesla809 opened #695 "[DOCS] Set up SPONSORS.md"
Summary
For $5/month the donors are placed in SPONSORS.md
For $10/month the donors are placed in SPONSORS.md and at bottom of README.md in a section called "Sustained by Patrons Like You ❤️" or something you think reads nicer.

The placement will last for as long as the entity/person is a recurring donor.

1) Please create a file called SPONSORS.md and link it to a prominent place in the README.md

[2020-05-07 00:26] #692 closed

[2020-05-07 16:54] salvolpe commented on #680
@whoabuddy @AdhamAH I'm currently working on the textual typos, but I can't handle the programming ones

[2020-05-07 21:00] SomeMoosery opened #697 "[FEAT] Observation detail should be automatically opened"
# ⚠️ IMPORTANT: Please fill out this template to give us as much information as possible to consider/implement the feature.

### Prerequisites

- [x] check this box if you have completed the following:
    - Reviewed the [contributing guidelines](https://github.com/COVID-19-electronic-health-system/.github/blob/master/CONTRIBUTING.md) and [support](https://github.com/COVID-19-electronic-health-sys

[2020-05-07 22:03] #632 closed

[2020-05-08 00:17] akilhylton commented on #677
![HeartRate Class](https://i.imgur.com/6s2qHte.png)
![BPM](https://i.imgur.com/CcSNEhi.png)

[2020-05-10 20:39] SomeMoosery opened #699 "[FEAT] Add Dialog on Survey Completion"
# ⚠️ IMPORTANT: Please fill out this template to give us as much information as possible to consider/implement the feature.

### Prerequisites

- [x] check this box if you have completed the following:
    - Reviewed the [contributing guidelines](https://github.com/COVID-19-electronic-health-system/.github/blob/master/CONTRIBUTING.md) and [support](https://github.com/COVID-19-electronic-health-sys

[2020-05-10 20:40] SomeMoosery opened #700 "[FEAT] Add Dialog on Quiz Completion"
# ⚠️ IMPORTANT: Please fill out this template to give us as much information as possible to consider/implement the feature.

### Prerequisites

- [x] check this box if you have completed the following:
    - Reviewed the [contributing guidelines](https://github.com/COVID-19-electronic-health-system/.github/blob/master/CONTRIBUTING.md) and [support](https://github.com/COVID-19-electronic-health-sys

[2020-05-10 20:41] #697 closed

[2020-05-11 13:40] bcsaxon commented on #699
I'm on it

[2020-05-11 16:06] whoabuddy commented on #699
Awesome, thank you!

[2020-05-11 23:58] ngiangre opened #702 "[FEAT] Enhance gsheet translations pull python script"
# ⚠️ IMPORTANT: Please fill out this template to give us as much information as possible to consider/implement the feature.

### Prerequisites

- [ ] check this box if you have completed the following:
    - Reviewed the [contributing guidelines](https://github.com/COVID-19-electronic-health-system/.github/blob/master/CONTRIBUTING.md) and [support](https://github.com/COVID-19-electronic-health-sys

[2020-05-12 01:33] SomeMoosery opened #703 "[BUG] Update ntlk version"
# ⚠️ IMPORTANT: Please fill out this template to give us as much information as possible to address the issue.

### Prerequisites

- [x] check this box if you have completed the following:
    - Reproduced the problem in QA
    - Reviewed the [contributing guidelines](https://github.com/COVID-19-electronic-health-system/.github/blob/master/CONTRIBUTING.md) and [support](https://github.com/COVID-19

[2020-05-12 21:19] SomeMoosery commented on #703
Closing as our friend dependabot took care of this I think 🤔

[2020-05-12 21:19] #703 closed

[2020-05-12 21:21] SomeMoosery commented on #702
Could you show where there's multiple instances of depunctuation? I haven't touched this code too much, but definitely agree with your second point specifically. I'd be happy to make another issue out of that bullet point especially since that would be a great first issue, but I just want to be sure I have enough context 👍

[2020-05-12 21:30] ngiangre commented on #702
<img width="750" alt="Screen Shot 2020-05-12 at 5 29 26 PM" src="https://user-images.githubusercontent.com/7811531/81747473-2968b080-9476-11ea-9e97-7c1b5587fd72.png">

<img width="333" alt="Screen Shot 2020-05-12 at 5 29 12 PM" src="https://user-images.githubusercontent.com/7811531/81747485-2cfc3780-9476-11ea-8d1f-925fcb2d88b2.png">

Atleast in these two instances I have a depunctuate method and t

[2020-05-13 00:38] SomeMoosery opened #706 "[FEAT] Abstract away depunctuation in python scripts"
# ⚠️ IMPORTANT: Please fill out this template to give us as much information as possible to consider/implement the feature.

### Prerequisites

- [x] check this box if you have completed the following:
    - Reviewed the [contributing guidelines](https://github.com/COVID-19-electronic-health-system/.github/blob/master/CONTRIBUTING.md) and [support](https://github.com/COVID-19-electronic-health-sys

[2020-05-13 02:25] SomeMoosery commented on #579
@BrianHHough would you be able to take a quick stab at this? Or if there are any other contributors willing to take a look definitely feel free to do so!

[2020-05-13 02:26] SomeMoosery commented on #597
Closing, as it seems we've already captured it and/or won't be adding it as a button for the time being 👍

[2020-05-13 02:26] #597 closed

[2020-05-13 08:29] mayankkt9 commented on #706
Can I work on this ?

[2020-05-13 13:30] pavel-ilin commented on #700
Can take on this one

[2020-05-13 14:08] SomeMoosery commented on #706
All you 👍

[2020-05-13 14:11] #568 closed

[2020-05-13 14:13] SomeMoosery commented on #685
@BrianHHough when making a PR to add these to the `/design` directory (as I assume this is where wireframes should go still) - this is the issue you'll likely close when making the PR.

I can go ahead and make individual issues for each screen once this is done as we can easily parallelize this work.

[2020-05-13 14:16] SomeMoosery commented on #683
I feel like we should add some more detail about action items to take with this story, otherwise it's difficult to deduce what needs to be completed and when this issue is "done" / ready for a PR. Otherwise we should probably close this and make it a bit more pointed.

[2020-05-13 14:18] SomeMoosery commented on #702
Could we make another issue for updating documentation as well? I could, but I'm not sure of everything that needs to go into the documentation here.

Other than that, I think we can close this issue. While it's definitely worthwhile mentioning that the code should be less prone to bugs, it's hard to quantify that into actionable items 👍

[2020-05-13 14:18] SomeMoosery commented on #584
Hey @luky1300 How is this coming along? Anything that needs clearing up?

[2020-05-13 14:19] SomeMoosery commented on #534
Going to close and make a relevant issue capturing this suggestion

[2020-05-13 14:19] #534 closed

[2020-05-13 14:22] SomeMoosery opened #707 "[FEAT] Add helpful dialog on low behavioral score"
# ⚠️ IMPORTANT: Please fill out this template to give us as much information as possible to consider/implement the feature.

### Prerequisites

- [x] check this box if you have completed the following:
    - Reviewed the [contributing guidelines](https://github.com/COVID-19-electronic-health-system/.github/blob/master/CONTRIBUTING.md) and [support](https://github.com/COVID-19-electronic-health-sys

[2020-05-13 14:30] ngiangre commented on #702
Yeah I get that. Is there a way to make related issues that are like subissues? Would it just be varying the issue title?

[2020-05-13 14:33] SomeMoosery commented on #702
Within the issue you can reference this one just using #702 and it'll reference them in the conversation I believe, although I'm not sure that a new issue would need to be inherently linked just since we're ideally going to be having more discrete action items for the documentation issue

[2020-05-13 14:40] luky1300 commented on #584
Hey @SomeMoosery, I am blocked until there is a decision on if we change the wording of the questions on either page 1 or page 4 of the survey.

[2020-05-13 15:06] SomeMoosery commented on #584
Oh no, sorry about that! I didn't realize :)

I would say it's up to you to decide and then update the backend accordingly - meaning if you reword page 1, when answers are submitted change them back to their current form if that makes sense. This way we don't lose any context but give the user a standardized experience.

[2020-05-13 16:41] AdhamAH commented on #685
@SomeMoosery I made the skeleton for this as you can see. If you recall I had to `manully` to style `more.jsx` to fit into the `NavBar`.
When I made `NavBar.jsx` there was no plan for a popup. Using `BottomNavigation` if not the best thing here. So when @BrianHHough upload the design, we can make an issue to add the pulse button and update the `NavBar.jsx` with something more flexible like [this](

[2020-05-13 17:37] SomeMoosery commented on #685
I saw you made that but it is difficult to track what is being done by who when changes aren't being tracked in issues. I know Brian uploaded I believe 8 new screens somewhere in Discord. I believe the process should be something:

1. @BrianHHough adds the wireframes to the appropriate folder and closes that Issue
2. We write out issues for all 8 new views
3. We parallelize the work and clearly tr

[2020-05-13 18:08] AdhamAH opened #709 "[FEAT] Reorganize the "/client" folder"
# ⚠️ IMPORTANT: Please fill out this template to give us as much information as possible to consider/implement the feature.

### Prerequisites

- [x] check this box if you have completed the following:
    - Reviewed the [contributing guidelines](https://github.com/COVID-19-electronic-health-system/.github/blob/master/CONTRIBUTING.md) and [support](https://github.com/COVID-19-electronic-health-sys

[2020-05-15 03:26] ngiangre opened #713 "[DOCS] README for translations python script"
# ⚠️ IMPORTANT: Please fill out this template to give us as much information as possible to consider/implement this update.

### Summary

In reference to #702, and to have a modular issue, this issue is to provide an improved README that more precisely details the script execution and algorithm and especially details how to create a google credential file.

### Motivation

### Possible Alternative

[2020-05-15 03:28] ngiangre opened #714 "[FEAT] Further modularize translations python script"
# ⚠️ IMPORTANT: Please fill out this template to give us as much information as possible to consider/implement the feature.

### Prerequisites

- [ ] check this box if you have completed the following:
    - Reviewed the [contributing guidelines](https://github.com/COVID-19-electronic-health-system/.github/blob/master/CONTRIBUTING.md) and [support](https://github.com/COVID-19-electronic-health-sys

[2020-05-15 03:28] ngiangre commented on #702
closing in lieu of issues #713 and #714

[2020-05-15 03:28] #702 closed

[2020-05-15 04:44] #700 closed

[2020-05-15 17:34] yuriyberezskyy commented on #707
I will work on it !!

[2020-05-15 22:09] #682 closed

[2020-05-16 00:04] #685 closed

[2020-05-16 21:38] tylerd92 commented on #567
I can work on this. Should the image be the health log page?

[2020-05-16 21:39] SomeMoosery commented on #567
Let's go with the health log page 👍

[2020-05-16 21:48] SomeMoosery opened #715 "[BUG] Multiple issues translating with i18next"
# ⚠️ IMPORTANT: Please fill out this template to give us as much information as possible to address the issue.

### Prerequisites

- [x] check this box if you have completed the following:
    - Reproduced the problem in QA
    - Reviewed the [contributing guidelines](https://github.com/COVID-19-electronic-health-system/.github/blob/master/CONTRIBUTING.md) and [support](https://github.com/COVID-19

[2020-05-16 21:50] SomeMoosery opened #716 "[FEAT] Update bottom nav to new UI flow"
# ⚠️ IMPORTANT: Please fill out this template to give us as much information as possible to consider/implement the feature.

### Prerequisites

- [x] check this box if you have completed the following:
    - Reviewed the [contributing guidelines](https://github.com/COVID-19-electronic-health-system/.github/blob/master/CONTRIBUTING.md) and [support](https://github.com/COVID-19-electronic-health-sys

[2020-05-16 21:52] SomeMoosery opened #717 "[FEAT] Create Pulse Monitor Disclaimer"
# ⚠️ IMPORTANT: Please fill out this template to give us as much information as possible to consider/implement the feature.

### Prerequisites

- [x] check this box if you have completed the following:
    - Reviewed the [contributing guidelines](https://github.com/COVID-19-electronic-health-system/.github/blob/master/CONTRIBUTING.md) and [support](https://github.com/COVID-19-electronic-health-sys

[2020-05-16 21:54] SomeMoosery opened #718 "[FEAT] Create pulse monitor page and top-level elements"
# ⚠️ IMPORTANT: Please fill out this template to give us as much information as possible to consider/implement the feature.

### Prerequisites

- [x] check this box if you have completed the following:
    - Reviewed the [contributing guidelines](https://github.com/COVID-19-electronic-health-system/.github/blob/master/CONTRIBUTING.md) and [support](https://github.com/COVID-19-electronic-health-sys

[2020-05-16 22:18] AdhamAH opened #719 "[FEAT] Refator NavBar.jsx"
# ⚠️ IMPORTANT: Please fill out this template to give us as much information as possible to consider/implement the feature.

### Prerequisites

- [x] check this box if you have completed the following:
    - Reviewed the [contributing guidelines](https://github.com/COVID-19-electronic-health-system/.github/blob/master/CONTRIBUTING.md) and [support](https://github.com/COVID-19-electronic-health-sys

[2020-05-18 09:35] SvenVanPoucke commented on #683
FYI

---------- Forwarded message ---------
From: Data Science Briefings <briefings@dataminingapps.com>
Date: Mon, 18 May 2020 at 10:49
Subject: Data Science Briefings #116: RFM Analysis Revisited
To: <svanpoucke@gmail.com>

Is this email not displaying correctly? View it in your browser
<https://www.dataminingapps.com/sendpress/eyJpZCI6IjQzNiIsInJlcG9ydCI6IjYyOTE2IiwidmlldyI6InRyYWNrZXIiLCJ1cmwiO

[2020-05-18 14:19] AdhamAH opened #721 "[FEAT] Applying i18Next translations"
# ⚠️ IMPORTANT: Please fill out this template to give us as much information as possible to consider/implement the feature.

### Prerequisites

- [x] check this box if you have completed the following:
    - Reviewed the [contributing guidelines](https://github.com/COVID-19-electronic-health-system/.github/blob/master/CONTRIBUTING.md) and [support](https://github.com/COVID-19-electronic-health-sys

[2020-05-19 12:57] AdhamAH commented on #716
What do you think @BrianHHough ? Becuase the last button is more than profile.
![Screenshot 2020-05-19 at 14 56 24](https://user-images.githubusercontent.com/55054963/82328991-ec09a300-99e0-11ea-9326-b8a88423f827.png)

[2020-05-20 01:26] BrianHHough commented on #716
I LOVE the top one with the MORE and SETTINGS @AdhamAH . I think the settings, broadly, can let us include things related to the app/account and the more section lets us expand CoronaTracker to other things when/where we can.

[2020-05-22 03:01] #707 closed

[2020-05-22 07:01] #542 closed

[2020-05-22 13:31] pavel-ilin commented on #721
@AdhamAH The helper function will get all language data from blockstack and then we will import data we need from this function, not from blockstack. Am I understand it correctly?

[2020-05-22 23:11] #709 closed

[2020-05-22 23:11] #715 closed

[2020-05-22 23:11] #719 closed

[2020-05-22 23:22] AdhamAH commented on #721
That seems the case. I am not sure if there is another idea. I didn't really work with blockstack very much "which I should" or i18next.  If from the helpers or blockstack, is there is a different how to add the translation to the components? I mean when using `useTranslation` or `Trans`
if no different, then it doesn't matter if from helpers or blockstack. If there is a different then could you p

[2020-05-22 23:29] AdhamAH commented on #575
I tried to reproduce but no luck. Could you take a look again if it still there? could it be something from the device settings to go back if swiped from the edge?

[2020-05-23 16:43] yuriyberezskyy commented on #717
I will do it !

[2020-05-29 19:20] #567 closed

[2020-05-29 21:24] AdhamAH commented on #716
@BrianHHough does this look good?
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/55054963/83306786-864cc080-a203-11ea-831e-001275a10560.gif)

[2020-06-01 21:57] AdhamAH opened #724 "[FEAT] Add react-i18next tag to HomePage page and components"
# ⚠️ IMPORTANT: Please fill out this template to give us as much information as possible to consider/implement the feature.

### Prerequisites

- [x] check this box if you have completed the following:
    - Reviewed the [contributing guidelines](https://github.com/COVID-19-electronic-health-system/.github/blob/master/CONTRIBUTING.md) and [support](https://github.com/COVID-19-electronic-health-sys

[2020-06-01 21:58] AdhamAH opened #725 "[FEAT] Add react-i18next tag to Layout components folder"
# ⚠️ IMPORTANT: Please fill out this template to give us as much information as possible to consider/implement the feature.

### Prerequisites

- [x] check this box if you have completed the following:
    - Reviewed the [contributing guidelines](https://github.com/COVID-19-electronic-health-system/.github/blob/master/CONTRIBUTING.md) and [support](https://github.com/COVID-19-electronic-health-sys

[2020-06-01 21:59] AdhamAH opened #726 "[FEAT] Add react-i18next tag to Cards components and page"
# ⚠️ IMPORTANT: Please fill out this template to give us as much information as possible to consider/implement the feature.

### Prerequisites

- [x] check this box if you have completed the following:
    - Reviewed the [contributing guidelines](https://github.com/COVID-19-electronic-health-system/.github/blob/master/CONTRIBUTING.md) and [support](https://github.com/COVID-19-electronic-health-sys

[2020-06-06 11:42] johnemurphy1 commented on #680
@whoabuddy  @AdhamAH  I'll work on this if it still needs help.

[2020-06-06 22:48] ngiangre opened #729 "[FEAT] Default translationValue to english value if empty"
# ⚠️ IMPORTANT: Please fill out this template to give us as much information as possible to consider/implement the feature.

### Prerequisites

- [ ] check this box if you have completed the following:
    - Reviewed the [contributing guidelines](https://github.com/COVID-19-electronic-health-system/.github/blob/master/CONTRIBUTING.md) and [support](https://github.com/COVID-19-electronic-health-sys

[2020-06-08 17:36] pavel-ilin commented on #725
Hey @AdhamAH, if you not start working on that, I can jump in.

[2020-06-08 17:42] AdhamAH commented on #725
I am almost done with it @pavel-ilin  😅

[2020-06-08 17:43] #724 closed

[2020-06-08 17:44] pavel-ilin commented on #725
Got it, sorry with my delays!

[2020-06-09 14:49] pavel-ilin commented on #729
I can work on this.

[2020-06-11 17:11] AdhamAH commented on #699
@bcsaxon do you need any help with this?

[2020-06-11 17:13] AdhamAH commented on #584
@luky1300 did Carter cleared things for you or do you still have anything blocking the issue?

[2020-06-11 23:18] bcsaxon commented on #699
@AdhamAH - hi! I'm sorry I took on a freelance gig and haven't been able to spend any time with CoronaTracker in the past 1.5 weeks.
I was though in fact struggling with figuring out the redux aspect and the reload. if you're available tomorrow I could use a hand or if it's better to reassign it to someone I understand. LMK what works best!